# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class UserOperations(object):
    """UserOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~cross_device_experiences.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_activity(
        self,
        user_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Get6ItemsItem"]]]
        select=None,  # type: Optional[List[Union[str, "models.Get7ItemsItem"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get8ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfUserActivity"]
        """Get activities from users.

        Get activities from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~cross_device_experiences.models.Get6ItemsItem]
        :param select: Select properties to be returned.
        :type select: list[str or ~cross_device_experiences.models.Get7ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str or ~cross_device_experiences.models.Get8ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfUserActivity or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~cross_device_experiences.models.CollectionOfUserActivity]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfUserActivity"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_activity.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfUserActivity', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_activity.metadata = {'url': '/users/{user-id}/activities'}  # type: ignore

    def create_activity(
        self,
        user_id,  # type: str
        id=None,  # type: Optional[str]
        activation_url=None,  # type: Optional[str]
        activity_source_host=None,  # type: Optional[str]
        app_activity_id=None,  # type: Optional[str]
        app_display_name=None,  # type: Optional[str]
        content_info=None,  # type: Optional[Dict[str, object]]
        content_url=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        expiration_date_time=None,  # type: Optional[datetime.datetime]
        fallback_url=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphStatus"]]
        user_timezone=None,  # type: Optional[str]
        history_items=None,  # type: Optional[List["models.MicrosoftGraphActivityHistoryItem"]]
        attribution=None,  # type: Optional["models.MicrosoftGraphImageInfo"]
        background_color=None,  # type: Optional[str]
        content=None,  # type: Optional[Dict[str, object]]
        description=None,  # type: Optional[str]
        display_text=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphUserActivity"
        """Create new navigation property to activities for users.

        Create new navigation property to activities for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param id: Read-only.
        :type id: str
        :param activation_url: Required. URL used to launch the activity in the best native experience
         represented by the appId. Might launch a web-based app if no native app exists.
        :type activation_url: str
        :param activity_source_host: Required. URL for the domain representing the cross-platform
         identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or
         configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and
         is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain.
         For example: https://contoso.com or https://myapp.contoso.com but NOT
         https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per
         cross-platform app identity. For example, a separate file and domain is needed for Word vs.
         PowerPoint.
        :type activity_source_host: str
        :param app_activity_id: Required. The unique activity ID in the context of the app - supplied
         by caller and immutable thereafter.
        :type app_activity_id: str
        :param app_display_name: Optional. Short text description of the app used to generate the
         activity for use in cases when the app is not installed on the user’s local device.
        :type app_display_name: str
        :param content_info: Json.
        :type content_info: dict[str, object]
        :param content_url: Optional. Used in the event the content can be rendered outside of a native
         or web-based app experience (for example, a pointer to an item in an RSS feed).
        :type content_url: str
        :param created_date_time: Set by the server. DateTime in UTC when the object was created on the
         server.
        :type created_date_time: ~datetime.datetime
        :param expiration_date_time: Set by the server. DateTime in UTC when the object expired on the
         server.
        :type expiration_date_time: ~datetime.datetime
        :param fallback_url: Optional. URL used to launch the activity in a web-based app, if
         available.
        :type fallback_url: str
        :param last_modified_date_time: Set by the server. DateTime in UTC when the object was modified
         on the server.
        :type last_modified_date_time: ~datetime.datetime
        :param status:
        :type status: str or ~cross_device_experiences.models.MicrosoftGraphStatus
        :param user_timezone: Optional. The timezone in which the user's device used to generate the
         activity was located at activity creation time; values supplied as Olson IDs in order to
         support cross-platform representation.
        :type user_timezone: str
        :param history_items: Optional. NavigationProperty/Containment; navigation property to the
         activity's historyItems.
        :type history_items: list[~cross_device_experiences.models.MicrosoftGraphActivityHistoryItem]
        :param attribution: imageInfo.
        :type attribution: ~cross_device_experiences.models.MicrosoftGraphImageInfo
        :param background_color: Optional. Background color used to render the activity in the UI -
         brand color for the application source of the activity. Must be a valid hex color.
        :type background_color: str
        :param content: Json.
        :type content: dict[str, object]
        :param description: Optional. Longer text description of the user's unique activity (example:
         document name, first sentence, and/or metadata).
        :type description: str
        :param display_text: Required. Short text description of the user's unique activity (for
         example, document name in cases where an activity refers to document creation).
        :type display_text: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphUserActivity, or the result of cls(response)
        :rtype: ~cross_device_experiences.models.MicrosoftGraphUserActivity
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphUserActivity"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphUserActivity(id=id, activation_url=activation_url, activity_source_host=activity_source_host, app_activity_id=app_activity_id, app_display_name=app_display_name, content_info=content_info, content_url=content_url, created_date_time=created_date_time, expiration_date_time=expiration_date_time, fallback_url=fallback_url, last_modified_date_time=last_modified_date_time, status=status, user_timezone=user_timezone, history_items=history_items, attribution=attribution, background_color=background_color, content=content, description=description, display_text=display_text)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_activity.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphUserActivity')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphUserActivity', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_activity.metadata = {'url': '/users/{user-id}/activities'}  # type: ignore

    def get_activity(
        self,
        user_id,  # type: str
        user_activity_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Get2ItemsItem"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get3ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphUserActivity"
        """Get activities from users.

        Get activities from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param user_activity_id: key: id of userActivity.
        :type user_activity_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~cross_device_experiences.models.Get2ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str or ~cross_device_experiences.models.Get3ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphUserActivity, or the result of cls(response)
        :rtype: ~cross_device_experiences.models.MicrosoftGraphUserActivity
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphUserActivity"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_activity.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'userActivity-id': self._serialize.url("user_activity_id", user_activity_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphUserActivity', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_activity.metadata = {'url': '/users/{user-id}/activities/{userActivity-id}'}  # type: ignore

    def update_activity(
        self,
        user_id,  # type: str
        user_activity_id,  # type: str
        id=None,  # type: Optional[str]
        activation_url=None,  # type: Optional[str]
        activity_source_host=None,  # type: Optional[str]
        app_activity_id=None,  # type: Optional[str]
        app_display_name=None,  # type: Optional[str]
        content_info=None,  # type: Optional[Dict[str, object]]
        content_url=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        expiration_date_time=None,  # type: Optional[datetime.datetime]
        fallback_url=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphStatus"]]
        user_timezone=None,  # type: Optional[str]
        history_items=None,  # type: Optional[List["models.MicrosoftGraphActivityHistoryItem"]]
        attribution=None,  # type: Optional["models.MicrosoftGraphImageInfo"]
        background_color=None,  # type: Optional[str]
        content=None,  # type: Optional[Dict[str, object]]
        description=None,  # type: Optional[str]
        display_text=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property activities in users.

        Update the navigation property activities in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param user_activity_id: key: id of userActivity.
        :type user_activity_id: str
        :param id: Read-only.
        :type id: str
        :param activation_url: Required. URL used to launch the activity in the best native experience
         represented by the appId. Might launch a web-based app if no native app exists.
        :type activation_url: str
        :param activity_source_host: Required. URL for the domain representing the cross-platform
         identity mapping for the app. Mapping is stored either as a JSON file hosted on the domain or
         configurable via Windows Dev Center. The JSON file is named cross-platform-app-identifiers and
         is hosted at root of your HTTPS domain, either at the top level domain or include a sub domain.
         For example: https://contoso.com or https://myapp.contoso.com but NOT
         https://myapp.contoso.com/somepath. You must have a unique file and domain (or sub domain) per
         cross-platform app identity. For example, a separate file and domain is needed for Word vs.
         PowerPoint.
        :type activity_source_host: str
        :param app_activity_id: Required. The unique activity ID in the context of the app - supplied
         by caller and immutable thereafter.
        :type app_activity_id: str
        :param app_display_name: Optional. Short text description of the app used to generate the
         activity for use in cases when the app is not installed on the user’s local device.
        :type app_display_name: str
        :param content_info: Json.
        :type content_info: dict[str, object]
        :param content_url: Optional. Used in the event the content can be rendered outside of a native
         or web-based app experience (for example, a pointer to an item in an RSS feed).
        :type content_url: str
        :param created_date_time: Set by the server. DateTime in UTC when the object was created on the
         server.
        :type created_date_time: ~datetime.datetime
        :param expiration_date_time: Set by the server. DateTime in UTC when the object expired on the
         server.
        :type expiration_date_time: ~datetime.datetime
        :param fallback_url: Optional. URL used to launch the activity in a web-based app, if
         available.
        :type fallback_url: str
        :param last_modified_date_time: Set by the server. DateTime in UTC when the object was modified
         on the server.
        :type last_modified_date_time: ~datetime.datetime
        :param status:
        :type status: str or ~cross_device_experiences.models.MicrosoftGraphStatus
        :param user_timezone: Optional. The timezone in which the user's device used to generate the
         activity was located at activity creation time; values supplied as Olson IDs in order to
         support cross-platform representation.
        :type user_timezone: str
        :param history_items: Optional. NavigationProperty/Containment; navigation property to the
         activity's historyItems.
        :type history_items: list[~cross_device_experiences.models.MicrosoftGraphActivityHistoryItem]
        :param attribution: imageInfo.
        :type attribution: ~cross_device_experiences.models.MicrosoftGraphImageInfo
        :param background_color: Optional. Background color used to render the activity in the UI -
         brand color for the application source of the activity. Must be a valid hex color.
        :type background_color: str
        :param content: Json.
        :type content: dict[str, object]
        :param description: Optional. Longer text description of the user's unique activity (example:
         document name, first sentence, and/or metadata).
        :type description: str
        :param display_text: Required. Short text description of the user's unique activity (for
         example, document name in cases where an activity refers to document creation).
        :type display_text: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphUserActivity(id=id, activation_url=activation_url, activity_source_host=activity_source_host, app_activity_id=app_activity_id, app_display_name=app_display_name, content_info=content_info, content_url=content_url, created_date_time=created_date_time, expiration_date_time=expiration_date_time, fallback_url=fallback_url, last_modified_date_time=last_modified_date_time, status=status, user_timezone=user_timezone, history_items=history_items, attribution=attribution, background_color=background_color, content=content, description=description, display_text=display_text)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_activity.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'userActivity-id': self._serialize.url("user_activity_id", user_activity_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphUserActivity')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_activity.metadata = {'url': '/users/{user-id}/activities/{userActivity-id}'}  # type: ignore

    def delete_activity(
        self,
        user_id,  # type: str
        user_activity_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property activities for users.

        Delete navigation property activities for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param user_activity_id: key: id of userActivity.
        :type user_activity_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_activity.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'userActivity-id': self._serialize.url("user_activity_id", user_activity_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_activity.metadata = {'url': '/users/{user-id}/activities/{userActivity-id}'}  # type: ignore

    def list_device(
        self,
        user_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum13"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum14"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum15"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfDevice"]
        """Get devices from users.

        Get devices from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~cross_device_experiences.models.Enum13]
        :param select: Select properties to be returned.
        :type select: list[str or ~cross_device_experiences.models.Enum14]
        :param expand: Expand related entities.
        :type expand: list[str or ~cross_device_experiences.models.Enum15]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfDevice or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~cross_device_experiences.models.CollectionOfDevice]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfDevice"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_device.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfDevice', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_device.metadata = {'url': '/users/{user-id}/devices'}  # type: ignore

    def create_device(
        self,
        user_id,  # type: str
        id=None,  # type: Optional[str]
        deleted_date_time=None,  # type: Optional[datetime.datetime]
        account_enabled=None,  # type: Optional[bool]
        alternative_security_ids=None,  # type: Optional[List["models.MicrosoftGraphAlternativeSecurityId"]]
        approximate_last_sign_in_date_time=None,  # type: Optional[datetime.datetime]
        compliance_expiration_date_time=None,  # type: Optional[datetime.datetime]
        device_category=None,  # type: Optional[str]
        device_id=None,  # type: Optional[str]
        device_metadata=None,  # type: Optional[str]
        device_ownership=None,  # type: Optional[str]
        device_version=None,  # type: Optional[int]
        display_name=None,  # type: Optional[str]
        domain_name=None,  # type: Optional[str]
        enrollment_profile_name=None,  # type: Optional[str]
        enrollment_type=None,  # type: Optional[str]
        extension_attributes=None,  # type: Optional["models.MicrosoftGraphOnPremisesExtensionAttributes"]
        is_compliant=None,  # type: Optional[bool]
        is_managed=None,  # type: Optional[bool]
        is_rooted=None,  # type: Optional[bool]
        management_type=None,  # type: Optional[str]
        on_premises_last_sync_date_time=None,  # type: Optional[datetime.datetime]
        on_premises_sync_enabled=None,  # type: Optional[bool]
        operating_system=None,  # type: Optional[str]
        operating_system_version=None,  # type: Optional[str]
        physical_ids=None,  # type: Optional[List[str]]
        profile_type=None,  # type: Optional[str]
        registration_date_time=None,  # type: Optional[datetime.datetime]
        system_labels=None,  # type: Optional[List[str]]
        trust_type=None,  # type: Optional[str]
        kind=None,  # type: Optional[str]
        manufacturer=None,  # type: Optional[str]
        model=None,  # type: Optional[str]
        name=None,  # type: Optional[str]
        platform=None,  # type: Optional[str]
        status=None,  # type: Optional[str]
        member_of=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        registered_owners=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        registered_users=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        transitive_member_of=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        commands=None,  # type: Optional[List["models.MicrosoftGraphCommand"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDevice"
        """Create new navigation property to devices for users.

        Create new navigation property to devices for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param id: Read-only.
        :type id: str
        :param deleted_date_time:
        :type deleted_date_time: ~datetime.datetime
        :param account_enabled: true if the account is enabled; otherwise, false. Required.
        :type account_enabled: bool
        :param alternative_security_ids: For internal use only. Not nullable.
        :type alternative_security_ids: list[~cross_device_experiences.models.MicrosoftGraphAlternativeSecurityId]
        :param approximate_last_sign_in_date_time: The timestamp type represents date and time
         information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
         1, 2014 would look like this: '2014-01-01T00:00:00Z'. Read-only.
        :type approximate_last_sign_in_date_time: ~datetime.datetime
        :param compliance_expiration_date_time: The timestamp when the device is no longer deemed
         compliant. The timestamp type represents date and time information using ISO 8601 format and is
         always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
         '2014-01-01T00:00:00Z'. Read-only.
        :type compliance_expiration_date_time: ~datetime.datetime
        :param device_category:
        :type device_category: str
        :param device_id: Unique identifier set by Azure Device Registration Service at the time of
         registration.
        :type device_id: str
        :param device_metadata: For internal use only. Set to null.
        :type device_metadata: str
        :param device_ownership:
        :type device_ownership: str
        :param device_version: For internal use only.
        :type device_version: int
        :param display_name: The display name for the device. Required.
        :type display_name: str
        :param domain_name:
        :type domain_name: str
        :param enrollment_profile_name:
        :type enrollment_profile_name: str
        :param enrollment_type:
        :type enrollment_type: str
        :param extension_attributes: onPremisesExtensionAttributes.
        :type extension_attributes: ~cross_device_experiences.models.MicrosoftGraphOnPremisesExtensionAttributes
        :param is_compliant: true if the device complies with Mobile Device Management (MDM) policies;
         otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an
         approved MDM app for Windows OS devices.
        :type is_compliant: bool
        :param is_managed: true if the device is managed by a Mobile Device Management (MDM) app;
         otherwise, false. This can only be updated by Intune for any device OS type or by an approved
         MDM app for Windows OS devices.
        :type is_managed: bool
        :param is_rooted:
        :type is_rooted: bool
        :param management_type:
        :type management_type: str
        :param on_premises_last_sync_date_time: The last time at which the object was synced with the
         on-premises directory. The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z' Read-only.
        :type on_premises_last_sync_date_time: ~datetime.datetime
        :param on_premises_sync_enabled: true if this object is synced from an on-premises directory;
         false if this object was originally synced from an on-premises directory but is no longer
         synced; null if this object has never been synced from an on-premises directory (default).
         Read-only.
        :type on_premises_sync_enabled: bool
        :param operating_system: The type of operating system on the device. Required.
        :type operating_system: str
        :param operating_system_version: The version of the operating system on the device. Required.
        :type operating_system_version: str
        :param physical_ids: For internal use only. Not nullable.
        :type physical_ids: list[str]
        :param profile_type: The profile type of the device. Possible values:RegisteredDevice
         (default)SecureVMPrinterSharedIoT.
        :type profile_type: str
        :param registration_date_time:
        :type registration_date_time: ~datetime.datetime
        :param system_labels: List of labels applied to the device by the system.
        :type system_labels: list[str]
        :param trust_type: Type of trust for the joined device. Read-only. Possible values: Workplace -
         indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-
         premises domain joined devices joined to Azure AD. For more details, see Introduction to device
         management in Azure Active Directory.
        :type trust_type: str
        :param kind:
        :type kind: str
        :param manufacturer: Manufacturer of the device. Read-only.
        :type manufacturer: str
        :param model: Model of the device. Read-only.
        :type model: str
        :param name:
        :type name: str
        :param platform:
        :type platform: str
        :param status:
        :type status: str
        :param member_of: Groups that this group is a member of. HTTP Methods: GET (supported for all
         groups). Read-only. Nullable.
        :type member_of: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param registered_owners: The user that cloud joined the device or registered their personal
         device. The registered owner is set at the time of registration. Currently, there can be only
         one owner. Read-only. Nullable.
        :type registered_owners: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param registered_users: Collection of registered users of the device. For cloud joined devices
         and registered personal devices, registered users are set to the same value as registered
         owners at the time of registration. Read-only. Nullable.
        :type registered_users: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param transitive_member_of:
        :type transitive_member_of: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param extensions: The collection of open extensions defined for the device. Read-only.
         Nullable.
        :type extensions: list[~cross_device_experiences.models.MicrosoftGraphExtension]
        :param commands:
        :type commands: list[~cross_device_experiences.models.MicrosoftGraphCommand]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDevice, or the result of cls(response)
        :rtype: ~cross_device_experiences.models.MicrosoftGraphDevice
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDevice"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphDevice(id=id, deleted_date_time=deleted_date_time, account_enabled=account_enabled, alternative_security_ids=alternative_security_ids, approximate_last_sign_in_date_time=approximate_last_sign_in_date_time, compliance_expiration_date_time=compliance_expiration_date_time, device_category=device_category, device_id=device_id, device_metadata=device_metadata, device_ownership=device_ownership, device_version=device_version, display_name=display_name, domain_name=domain_name, enrollment_profile_name=enrollment_profile_name, enrollment_type=enrollment_type, extension_attributes=extension_attributes, is_compliant=is_compliant, is_managed=is_managed, is_rooted=is_rooted, management_type=management_type, on_premises_last_sync_date_time=on_premises_last_sync_date_time, on_premises_sync_enabled=on_premises_sync_enabled, operating_system=operating_system, operating_system_version=operating_system_version, physical_ids=physical_ids, profile_type=profile_type, registration_date_time=registration_date_time, system_labels=system_labels, trust_type=trust_type, kind=kind, manufacturer=manufacturer, model=model, name=name, platform=platform, status=status, member_of=member_of, registered_owners=registered_owners, registered_users=registered_users, transitive_member_of=transitive_member_of, extensions=extensions, commands=commands)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_device.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphDevice')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDevice', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_device.metadata = {'url': '/users/{user-id}/devices'}  # type: ignore

    def get_device(
        self,
        user_id,  # type: str
        device_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum16"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum17"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDevice"
        """Get devices from users.

        Get devices from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param device_id: key: id of device.
        :type device_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~cross_device_experiences.models.Enum16]
        :param expand: Expand related entities.
        :type expand: list[str or ~cross_device_experiences.models.Enum17]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDevice, or the result of cls(response)
        :rtype: ~cross_device_experiences.models.MicrosoftGraphDevice
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDevice"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_device.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'device-id': self._serialize.url("device_id", device_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDevice', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_device.metadata = {'url': '/users/{user-id}/devices/{device-id}'}  # type: ignore

    def update_device(
        self,
        user_id,  # type: str
        device_id,  # type: str
        id=None,  # type: Optional[str]
        deleted_date_time=None,  # type: Optional[datetime.datetime]
        account_enabled=None,  # type: Optional[bool]
        alternative_security_ids=None,  # type: Optional[List["models.MicrosoftGraphAlternativeSecurityId"]]
        approximate_last_sign_in_date_time=None,  # type: Optional[datetime.datetime]
        compliance_expiration_date_time=None,  # type: Optional[datetime.datetime]
        device_category=None,  # type: Optional[str]
        microsoft_graph_device_id=None,  # type: Optional[str]
        device_metadata=None,  # type: Optional[str]
        device_ownership=None,  # type: Optional[str]
        device_version=None,  # type: Optional[int]
        display_name=None,  # type: Optional[str]
        domain_name=None,  # type: Optional[str]
        enrollment_profile_name=None,  # type: Optional[str]
        enrollment_type=None,  # type: Optional[str]
        extension_attributes=None,  # type: Optional["models.MicrosoftGraphOnPremisesExtensionAttributes"]
        is_compliant=None,  # type: Optional[bool]
        is_managed=None,  # type: Optional[bool]
        is_rooted=None,  # type: Optional[bool]
        management_type=None,  # type: Optional[str]
        on_premises_last_sync_date_time=None,  # type: Optional[datetime.datetime]
        on_premises_sync_enabled=None,  # type: Optional[bool]
        operating_system=None,  # type: Optional[str]
        operating_system_version=None,  # type: Optional[str]
        physical_ids=None,  # type: Optional[List[str]]
        profile_type=None,  # type: Optional[str]
        registration_date_time=None,  # type: Optional[datetime.datetime]
        system_labels=None,  # type: Optional[List[str]]
        trust_type=None,  # type: Optional[str]
        kind=None,  # type: Optional[str]
        manufacturer=None,  # type: Optional[str]
        model=None,  # type: Optional[str]
        name=None,  # type: Optional[str]
        platform=None,  # type: Optional[str]
        status=None,  # type: Optional[str]
        member_of=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        registered_owners=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        registered_users=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        transitive_member_of=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        commands=None,  # type: Optional[List["models.MicrosoftGraphCommand"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property devices in users.

        Update the navigation property devices in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param device_id: key: id of device.
        :type device_id: str
        :param id: Read-only.
        :type id: str
        :param deleted_date_time:
        :type deleted_date_time: ~datetime.datetime
        :param account_enabled: true if the account is enabled; otherwise, false. Required.
        :type account_enabled: bool
        :param alternative_security_ids: For internal use only. Not nullable.
        :type alternative_security_ids: list[~cross_device_experiences.models.MicrosoftGraphAlternativeSecurityId]
        :param approximate_last_sign_in_date_time: The timestamp type represents date and time
         information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan
         1, 2014 would look like this: '2014-01-01T00:00:00Z'. Read-only.
        :type approximate_last_sign_in_date_time: ~datetime.datetime
        :param compliance_expiration_date_time: The timestamp when the device is no longer deemed
         compliant. The timestamp type represents date and time information using ISO 8601 format and is
         always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this:
         '2014-01-01T00:00:00Z'. Read-only.
        :type compliance_expiration_date_time: ~datetime.datetime
        :param device_category:
        :type device_category: str
        :param microsoft_graph_device_id: Unique identifier set by Azure Device Registration Service at
         the time of registration.
        :type microsoft_graph_device_id: str
        :param device_metadata: For internal use only. Set to null.
        :type device_metadata: str
        :param device_ownership:
        :type device_ownership: str
        :param device_version: For internal use only.
        :type device_version: int
        :param display_name: The display name for the device. Required.
        :type display_name: str
        :param domain_name:
        :type domain_name: str
        :param enrollment_profile_name:
        :type enrollment_profile_name: str
        :param enrollment_type:
        :type enrollment_type: str
        :param extension_attributes: onPremisesExtensionAttributes.
        :type extension_attributes: ~cross_device_experiences.models.MicrosoftGraphOnPremisesExtensionAttributes
        :param is_compliant: true if the device complies with Mobile Device Management (MDM) policies;
         otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an
         approved MDM app for Windows OS devices.
        :type is_compliant: bool
        :param is_managed: true if the device is managed by a Mobile Device Management (MDM) app;
         otherwise, false. This can only be updated by Intune for any device OS type or by an approved
         MDM app for Windows OS devices.
        :type is_managed: bool
        :param is_rooted:
        :type is_rooted: bool
        :param management_type:
        :type management_type: str
        :param on_premises_last_sync_date_time: The last time at which the object was synced with the
         on-premises directory. The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z' Read-only.
        :type on_premises_last_sync_date_time: ~datetime.datetime
        :param on_premises_sync_enabled: true if this object is synced from an on-premises directory;
         false if this object was originally synced from an on-premises directory but is no longer
         synced; null if this object has never been synced from an on-premises directory (default).
         Read-only.
        :type on_premises_sync_enabled: bool
        :param operating_system: The type of operating system on the device. Required.
        :type operating_system: str
        :param operating_system_version: The version of the operating system on the device. Required.
        :type operating_system_version: str
        :param physical_ids: For internal use only. Not nullable.
        :type physical_ids: list[str]
        :param profile_type: The profile type of the device. Possible values:RegisteredDevice
         (default)SecureVMPrinterSharedIoT.
        :type profile_type: str
        :param registration_date_time:
        :type registration_date_time: ~datetime.datetime
        :param system_labels: List of labels applied to the device by the system.
        :type system_labels: list[str]
        :param trust_type: Type of trust for the joined device. Read-only. Possible values: Workplace -
         indicates bring your own personal devicesAzureAd - Cloud only joined devicesServerAd - on-
         premises domain joined devices joined to Azure AD. For more details, see Introduction to device
         management in Azure Active Directory.
        :type trust_type: str
        :param kind:
        :type kind: str
        :param manufacturer: Manufacturer of the device. Read-only.
        :type manufacturer: str
        :param model: Model of the device. Read-only.
        :type model: str
        :param name:
        :type name: str
        :param platform:
        :type platform: str
        :param status:
        :type status: str
        :param member_of: Groups that this group is a member of. HTTP Methods: GET (supported for all
         groups). Read-only. Nullable.
        :type member_of: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param registered_owners: The user that cloud joined the device or registered their personal
         device. The registered owner is set at the time of registration. Currently, there can be only
         one owner. Read-only. Nullable.
        :type registered_owners: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param registered_users: Collection of registered users of the device. For cloud joined devices
         and registered personal devices, registered users are set to the same value as registered
         owners at the time of registration. Read-only. Nullable.
        :type registered_users: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param transitive_member_of:
        :type transitive_member_of: list[~cross_device_experiences.models.MicrosoftGraphDirectoryObject]
        :param extensions: The collection of open extensions defined for the device. Read-only.
         Nullable.
        :type extensions: list[~cross_device_experiences.models.MicrosoftGraphExtension]
        :param commands:
        :type commands: list[~cross_device_experiences.models.MicrosoftGraphCommand]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphDevice(id=id, deleted_date_time=deleted_date_time, account_enabled=account_enabled, alternative_security_ids=alternative_security_ids, approximate_last_sign_in_date_time=approximate_last_sign_in_date_time, compliance_expiration_date_time=compliance_expiration_date_time, device_category=device_category, device_id=microsoft_graph_device_id, device_metadata=device_metadata, device_ownership=device_ownership, device_version=device_version, display_name=display_name, domain_name=domain_name, enrollment_profile_name=enrollment_profile_name, enrollment_type=enrollment_type, extension_attributes=extension_attributes, is_compliant=is_compliant, is_managed=is_managed, is_rooted=is_rooted, management_type=management_type, on_premises_last_sync_date_time=on_premises_last_sync_date_time, on_premises_sync_enabled=on_premises_sync_enabled, operating_system=operating_system, operating_system_version=operating_system_version, physical_ids=physical_ids, profile_type=profile_type, registration_date_time=registration_date_time, system_labels=system_labels, trust_type=trust_type, kind=kind, manufacturer=manufacturer, model=model, name=name, platform=platform, status=status, member_of=member_of, registered_owners=registered_owners, registered_users=registered_users, transitive_member_of=transitive_member_of, extensions=extensions, commands=commands)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_device.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'device-id': self._serialize.url("device_id", device_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphDevice')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_device.metadata = {'url': '/users/{user-id}/devices/{device-id}'}  # type: ignore

    def delete_device(
        self,
        user_id,  # type: str
        device_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property devices for users.

        Delete navigation property devices for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param device_id: key: id of device.
        :type device_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_device.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'device-id': self._serialize.url("device_id", device_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_device.metadata = {'url': '/users/{user-id}/devices/{device-id}'}  # type: ignore
