# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class UserTodoListOperations(object):
    """UserTodoListOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~users.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_extension(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum111"]]]
        select=None,  # type: Optional[List[str]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfExtension0"]
        """Get extensions from users.

        Get extensions from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~users.models.Enum111]
        :param select: Select properties to be returned.
        :type select: list[str]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfExtension0 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~users.models.CollectionOfExtension0]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfExtension0"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_extension.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfExtension0', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_extension.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/extensions'}  # type: ignore

    def create_extension(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        id=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphExtension"
        """Create new navigation property to extensions for users.

        Create new navigation property to extensions for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param id: Read-only.
        :type id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphExtension, or the result of cls(response)
        :rtype: ~users.models.MicrosoftGraphExtension
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphExtension"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphExtension(id=id)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphExtension')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphExtension', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_extension.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/extensions'}  # type: ignore

    def get_extension(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        extension_id,  # type: str
        select=None,  # type: Optional[List[str]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphExtension"
        """Get extensions from users.

        Get extensions from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param select: Select properties to be returned.
        :type select: list[str]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphExtension, or the result of cls(response)
        :rtype: ~users.models.MicrosoftGraphExtension
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphExtension"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphExtension', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_extension.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/extensions/{extension-id}'}  # type: ignore

    def update_extension(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        extension_id,  # type: str
        id=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property extensions in users.

        Update the navigation property extensions in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param id: Read-only.
        :type id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphExtension(id=id)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphExtension')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_extension.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/extensions/{extension-id}'}  # type: ignore

    def delete_extension(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        extension_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property extensions for users.

        Delete navigation property extensions for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_extension.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/extensions/{extension-id}'}  # type: ignore

    def list_task(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum112"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum113"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum114"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfTodoTask"]
        """Get tasks from users.

        Get tasks from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~users.models.Enum112]
        :param select: Select properties to be returned.
        :type select: list[str or ~users.models.Enum113]
        :param expand: Expand related entities.
        :type expand: list[str or ~users.models.Enum114]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfTodoTask or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~users.models.CollectionOfTodoTask]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfTodoTask"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_task.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfTodoTask', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_task.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/tasks'}  # type: ignore

    def create_task(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        id=None,  # type: Optional[str]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        completed_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        created_date_time=None,  # type: Optional[datetime.datetime]
        due_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_reminder_on=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        reminder_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphTaskStatus"]]
        title=None,  # type: Optional[str]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        linked_resources=None,  # type: Optional[List["models.MicrosoftGraphLinkedResource"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTodoTask"
        """Create new navigation property to tasks for users.

        Create new navigation property to tasks for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param id: Read-only.
        :type id: str
        :param body: itemBody.
        :type body: ~users.models.MicrosoftGraphItemBody
        :param body_last_modified_date_time:
        :type body_last_modified_date_time: ~datetime.datetime
        :param completed_date_time: dateTimeTimeZone.
        :type completed_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param due_date_time: dateTimeTimeZone.
        :type due_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param importance:
        :type importance: str or ~users.models.MicrosoftGraphImportance
        :param is_reminder_on:
        :type is_reminder_on: bool
        :param last_modified_date_time:
        :type last_modified_date_time: ~datetime.datetime
        :param reminder_date_time: dateTimeTimeZone.
        :type reminder_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param status:
        :type status: str or ~users.models.MicrosoftGraphTaskStatus
        :param title:
        :type title: str
        :param extensions:
        :type extensions: list[~users.models.MicrosoftGraphExtension]
        :param linked_resources:
        :type linked_resources: list[~users.models.MicrosoftGraphLinkedResource]
        :param pattern: recurrencePattern.
        :type pattern: ~users.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~users.models.MicrosoftGraphRecurrenceRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTodoTask, or the result of cls(response)
        :rtype: ~users.models.MicrosoftGraphTodoTask
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTodoTask"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphTodoTask(id=id, body=body, body_last_modified_date_time=body_last_modified_date_time, completed_date_time=completed_date_time, created_date_time=created_date_time, due_date_time=due_date_time, importance=importance, is_reminder_on=is_reminder_on, last_modified_date_time=last_modified_date_time, reminder_date_time=reminder_date_time, status=status, title=title, extensions=extensions, linked_resources=linked_resources, pattern=pattern, range=range)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphTodoTask')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTodoTask', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_task.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/tasks'}  # type: ignore

    def get_task(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        todo_task_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum115"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum116"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTodoTask"
        """Get tasks from users.

        Get tasks from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param todo_task_id: key: id of todoTask.
        :type todo_task_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~users.models.Enum115]
        :param expand: Expand related entities.
        :type expand: list[str or ~users.models.Enum116]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTodoTask, or the result of cls(response)
        :rtype: ~users.models.MicrosoftGraphTodoTask
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTodoTask"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'todoTask-id': self._serialize.url("todo_task_id", todo_task_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTodoTask', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_task.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}'}  # type: ignore

    def update_task(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        todo_task_id,  # type: str
        id=None,  # type: Optional[str]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        completed_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        created_date_time=None,  # type: Optional[datetime.datetime]
        due_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_reminder_on=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        reminder_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphTaskStatus"]]
        title=None,  # type: Optional[str]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        linked_resources=None,  # type: Optional[List["models.MicrosoftGraphLinkedResource"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property tasks in users.

        Update the navigation property tasks in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param todo_task_id: key: id of todoTask.
        :type todo_task_id: str
        :param id: Read-only.
        :type id: str
        :param body: itemBody.
        :type body: ~users.models.MicrosoftGraphItemBody
        :param body_last_modified_date_time:
        :type body_last_modified_date_time: ~datetime.datetime
        :param completed_date_time: dateTimeTimeZone.
        :type completed_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param due_date_time: dateTimeTimeZone.
        :type due_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param importance:
        :type importance: str or ~users.models.MicrosoftGraphImportance
        :param is_reminder_on:
        :type is_reminder_on: bool
        :param last_modified_date_time:
        :type last_modified_date_time: ~datetime.datetime
        :param reminder_date_time: dateTimeTimeZone.
        :type reminder_date_time: ~users.models.MicrosoftGraphDateTimeZone
        :param status:
        :type status: str or ~users.models.MicrosoftGraphTaskStatus
        :param title:
        :type title: str
        :param extensions:
        :type extensions: list[~users.models.MicrosoftGraphExtension]
        :param linked_resources:
        :type linked_resources: list[~users.models.MicrosoftGraphLinkedResource]
        :param pattern: recurrencePattern.
        :type pattern: ~users.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~users.models.MicrosoftGraphRecurrenceRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphTodoTask(id=id, body=body, body_last_modified_date_time=body_last_modified_date_time, completed_date_time=completed_date_time, created_date_time=created_date_time, due_date_time=due_date_time, importance=importance, is_reminder_on=is_reminder_on, last_modified_date_time=last_modified_date_time, reminder_date_time=reminder_date_time, status=status, title=title, extensions=extensions, linked_resources=linked_resources, pattern=pattern, range=range)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'todoTask-id': self._serialize.url("todo_task_id", todo_task_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphTodoTask')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_task.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}'}  # type: ignore

    def delete_task(
        self,
        user_id,  # type: str
        todo_task_list_id,  # type: str
        todo_task_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property tasks for users.

        Delete navigation property tasks for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param todo_task_list_id: key: id of todoTaskList.
        :type todo_task_list_id: str
        :param todo_task_id: key: id of todoTask.
        :type todo_task_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'todoTaskList-id': self._serialize.url("todo_task_list_id", todo_task_list_id, 'str'),
            'todoTask-id': self._serialize.url("todo_task_id", todo_task_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_task.metadata = {'url': '/users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}'}  # type: ignore
