# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class SecurityOperations(object):
    """SecurityOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~security.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_alert(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Get5ItemsItem"]]]
        select=None,  # type: Optional[List[Union[str, "models.Get6ItemsItem"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfAlert"]
        """Get alerts from Security.

        Get alerts from Security.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~security.models.Get5ItemsItem]
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Get6ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfAlert or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~security.models.CollectionOfAlert]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfAlert"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_alert.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfAlert', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_alert.metadata = {'url': '/Security/alerts'}  # type: ignore

    def create_alert(
        self,
        id=None,  # type: Optional[str]
        activity_group_name=None,  # type: Optional[str]
        assigned_to=None,  # type: Optional[str]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        category=None,  # type: Optional[str]
        closed_date_time=None,  # type: Optional[datetime.datetime]
        cloud_app_states=None,  # type: Optional[List["models.MicrosoftGraphCloudAppSecurityState"]]
        comments=None,  # type: Optional[List[str]]
        confidence=None,  # type: Optional[int]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        detection_ids=None,  # type: Optional[List[str]]
        event_date_time=None,  # type: Optional[datetime.datetime]
        feedback=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertFeedback"]]
        file_states=None,  # type: Optional[List["models.MicrosoftGraphFileSecurityState"]]
        history_states=None,  # type: Optional[List["models.MicrosoftGraphAlertHistoryState"]]
        host_states=None,  # type: Optional[List["models.MicrosoftGraphHostSecurityState"]]
        incident_ids=None,  # type: Optional[List[str]]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        malware_states=None,  # type: Optional[List["models.MicrosoftGraphMalwareState"]]
        network_connections=None,  # type: Optional[List["models.MicrosoftGraphNetworkConnection"]]
        processes=None,  # type: Optional[List["models.MicrosoftGraphProcess"]]
        recommended_actions=None,  # type: Optional[List[str]]
        registry_key_states=None,  # type: Optional[List["models.MicrosoftGraphRegistryKeyState"]]
        security_resources=None,  # type: Optional[List["models.MicrosoftGraphSecurityResource"]]
        severity=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertSeverity"]]
        source_materials=None,  # type: Optional[List[str]]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertStatus"]]
        tags=None,  # type: Optional[List[str]]
        title=None,  # type: Optional[str]
        triggers=None,  # type: Optional[List["models.MicrosoftGraphAlertTrigger"]]
        user_states=None,  # type: Optional[List["models.MicrosoftGraphUserSecurityState"]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        vulnerability_states=None,  # type: Optional[List["models.MicrosoftGraphVulnerabilityState"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAlert"
        """Create new navigation property to alerts for Security.

        Create new navigation property to alerts for Security.

        :param id: Read-only.
        :type id: str
        :param activity_group_name: Name or alias of the activity group (attacker) this alert is
         attributed to.
        :type activity_group_name: str
        :param assigned_to: Name of the analyst the alert is assigned to for triage, investigation, or
         remediation (supports update).
        :type assigned_to: str
        :param azure_subscription_id: Azure subscription ID, present if this alert is related to an
         Azure resource.
        :type azure_subscription_id: str
        :param azure_tenant_id: Azure Active Directory tenant ID. Required.
        :type azure_tenant_id: str
        :param category: Category of the alert (for example, credentialTheft, ransomware, etc.).
        :type category: str
        :param closed_date_time: Time at which the alert was closed. The Timestamp type represents date
         and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC
         on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z' (supports update).
        :type closed_date_time: ~datetime.datetime
        :param cloud_app_states: Security-related stateful information generated by the provider about
         the cloud application/s related to this alert.
        :type cloud_app_states: list[~security.models.MicrosoftGraphCloudAppSecurityState]
        :param comments: Customer-provided comments on alert (for customer alert management) (supports
         update).
        :type comments: list[str]
        :param confidence: Confidence of the detection logic (percentage between 1-100).
        :type confidence: int
        :param created_date_time: Time at which the alert was created by the alert provider. The
         Timestamp type represents date and time information using ISO 8601 format and is always in UTC
         time. For example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'.
         Required.
        :type created_date_time: ~datetime.datetime
        :param description: Alert description.
        :type description: str
        :param detection_ids: Set of alerts related to this alert entity (each alert is pushed to the
         SIEM as a separate record).
        :type detection_ids: list[str]
        :param event_date_time: Time at which the event(s) that served as the trigger(s) to generate
         the alert occurred. The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'. Required.
        :type event_date_time: ~datetime.datetime
        :param feedback:
        :type feedback: str or ~security.models.MicrosoftGraphAlertFeedback
        :param file_states: Security-related stateful information generated by the provider about the
         file(s) related to this alert.
        :type file_states: list[~security.models.MicrosoftGraphFileSecurityState]
        :param history_states:
        :type history_states: list[~security.models.MicrosoftGraphAlertHistoryState]
        :param host_states: Security-related stateful information generated by the provider about the
         host(s) related to this alert.
        :type host_states: list[~security.models.MicrosoftGraphHostSecurityState]
        :param incident_ids: IDs of incidents related to current alert.
        :type incident_ids: list[str]
        :param last_modified_date_time: Time at which the alert entity was last modified. The Timestamp
         type represents date and time information using ISO 8601 format and is always in UTC time. For
         example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param malware_states: Threat Intelligence pertaining to malware related to this alert.
        :type malware_states: list[~security.models.MicrosoftGraphMalwareState]
        :param network_connections: Security-related stateful information generated by the provider
         about the network connection(s) related to this alert.
        :type network_connections: list[~security.models.MicrosoftGraphNetworkConnection]
        :param processes: Security-related stateful information generated by the provider about the
         process or processes related to this alert.
        :type processes: list[~security.models.MicrosoftGraphProcess]
        :param recommended_actions: Vendor/provider recommended action(s) to take as a result of the
         alert (for example, isolate machine, enforce2FA, reimage host).
        :type recommended_actions: list[str]
        :param registry_key_states: Security-related stateful information generated by the provider
         about the registry keys related to this alert.
        :type registry_key_states: list[~security.models.MicrosoftGraphRegistryKeyState]
        :param security_resources: Resources related to current alert. For example, for some alerts
         this can have the Azure Resource value.
        :type security_resources: list[~security.models.MicrosoftGraphSecurityResource]
        :param severity:
        :type severity: str or ~security.models.MicrosoftGraphAlertSeverity
        :param source_materials: Hyperlinks (URIs) to the source material related to the alert, for
         example, provider's user interface for alerts or log search, etc.
        :type source_materials: list[str]
        :param status:
        :type status: str or ~security.models.MicrosoftGraphAlertStatus
        :param tags: User-definable labels that can be applied to an alert and can serve as filter
         conditions (for example 'HVA', 'SAW', etc.) (supports update).
        :type tags: list[str]
        :param title: Alert title. Required.
        :type title: str
        :param triggers: Security-related information about the specific properties that triggered the
         alert (properties appearing in the alert). Alerts might contain information about multiple
         users, hosts, files, ip addresses. This field indicates which properties triggered the alert
         generation.
        :type triggers: list[~security.models.MicrosoftGraphAlertTrigger]
        :param user_states: Security-related stateful information generated by the provider about the
         user accounts related to this alert.
        :type user_states: list[~security.models.MicrosoftGraphUserSecurityState]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :param vulnerability_states: Threat intelligence pertaining to one or more vulnerabilities
         related to this alert.
        :type vulnerability_states: list[~security.models.MicrosoftGraphVulnerabilityState]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAlert, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphAlert
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAlert"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAlert(id=id, activity_group_name=activity_group_name, assigned_to=assigned_to, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, category=category, closed_date_time=closed_date_time, cloud_app_states=cloud_app_states, comments=comments, confidence=confidence, created_date_time=created_date_time, description=description, detection_ids=detection_ids, event_date_time=event_date_time, feedback=feedback, file_states=file_states, history_states=history_states, host_states=host_states, incident_ids=incident_ids, last_modified_date_time=last_modified_date_time, malware_states=malware_states, network_connections=network_connections, processes=processes, recommended_actions=recommended_actions, registry_key_states=registry_key_states, security_resources=security_resources, severity=severity, source_materials=source_materials, status=status, tags=tags, title=title, triggers=triggers, user_states=user_states, vendor_information=vendor_information, vulnerability_states=vulnerability_states)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_alert.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAlert')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAlert', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_alert.metadata = {'url': '/Security/alerts'}  # type: ignore

    def get_alert(
        self,
        alert_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum25"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAlert"
        """Get alerts from Security.

        Get alerts from Security.

        :param alert_id: key: id of alert.
        :type alert_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum25]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAlert, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphAlert
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAlert"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_alert.metadata['url']  # type: ignore
        path_format_arguments = {
            'alert-id': self._serialize.url("alert_id", alert_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAlert', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_alert.metadata = {'url': '/Security/alerts/{alert-id}'}  # type: ignore

    def update_alert(
        self,
        alert_id,  # type: str
        id=None,  # type: Optional[str]
        activity_group_name=None,  # type: Optional[str]
        assigned_to=None,  # type: Optional[str]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        category=None,  # type: Optional[str]
        closed_date_time=None,  # type: Optional[datetime.datetime]
        cloud_app_states=None,  # type: Optional[List["models.MicrosoftGraphCloudAppSecurityState"]]
        comments=None,  # type: Optional[List[str]]
        confidence=None,  # type: Optional[int]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        detection_ids=None,  # type: Optional[List[str]]
        event_date_time=None,  # type: Optional[datetime.datetime]
        feedback=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertFeedback"]]
        file_states=None,  # type: Optional[List["models.MicrosoftGraphFileSecurityState"]]
        history_states=None,  # type: Optional[List["models.MicrosoftGraphAlertHistoryState"]]
        host_states=None,  # type: Optional[List["models.MicrosoftGraphHostSecurityState"]]
        incident_ids=None,  # type: Optional[List[str]]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        malware_states=None,  # type: Optional[List["models.MicrosoftGraphMalwareState"]]
        network_connections=None,  # type: Optional[List["models.MicrosoftGraphNetworkConnection"]]
        processes=None,  # type: Optional[List["models.MicrosoftGraphProcess"]]
        recommended_actions=None,  # type: Optional[List[str]]
        registry_key_states=None,  # type: Optional[List["models.MicrosoftGraphRegistryKeyState"]]
        security_resources=None,  # type: Optional[List["models.MicrosoftGraphSecurityResource"]]
        severity=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertSeverity"]]
        source_materials=None,  # type: Optional[List[str]]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphAlertStatus"]]
        tags=None,  # type: Optional[List[str]]
        title=None,  # type: Optional[str]
        triggers=None,  # type: Optional[List["models.MicrosoftGraphAlertTrigger"]]
        user_states=None,  # type: Optional[List["models.MicrosoftGraphUserSecurityState"]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        vulnerability_states=None,  # type: Optional[List["models.MicrosoftGraphVulnerabilityState"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property alerts in Security.

        Update the navigation property alerts in Security.

        :param alert_id: key: id of alert.
        :type alert_id: str
        :param id: Read-only.
        :type id: str
        :param activity_group_name: Name or alias of the activity group (attacker) this alert is
         attributed to.
        :type activity_group_name: str
        :param assigned_to: Name of the analyst the alert is assigned to for triage, investigation, or
         remediation (supports update).
        :type assigned_to: str
        :param azure_subscription_id: Azure subscription ID, present if this alert is related to an
         Azure resource.
        :type azure_subscription_id: str
        :param azure_tenant_id: Azure Active Directory tenant ID. Required.
        :type azure_tenant_id: str
        :param category: Category of the alert (for example, credentialTheft, ransomware, etc.).
        :type category: str
        :param closed_date_time: Time at which the alert was closed. The Timestamp type represents date
         and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC
         on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z' (supports update).
        :type closed_date_time: ~datetime.datetime
        :param cloud_app_states: Security-related stateful information generated by the provider about
         the cloud application/s related to this alert.
        :type cloud_app_states: list[~security.models.MicrosoftGraphCloudAppSecurityState]
        :param comments: Customer-provided comments on alert (for customer alert management) (supports
         update).
        :type comments: list[str]
        :param confidence: Confidence of the detection logic (percentage between 1-100).
        :type confidence: int
        :param created_date_time: Time at which the alert was created by the alert provider. The
         Timestamp type represents date and time information using ISO 8601 format and is always in UTC
         time. For example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'.
         Required.
        :type created_date_time: ~datetime.datetime
        :param description: Alert description.
        :type description: str
        :param detection_ids: Set of alerts related to this alert entity (each alert is pushed to the
         SIEM as a separate record).
        :type detection_ids: list[str]
        :param event_date_time: Time at which the event(s) that served as the trigger(s) to generate
         the alert occurred. The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'. Required.
        :type event_date_time: ~datetime.datetime
        :param feedback:
        :type feedback: str or ~security.models.MicrosoftGraphAlertFeedback
        :param file_states: Security-related stateful information generated by the provider about the
         file(s) related to this alert.
        :type file_states: list[~security.models.MicrosoftGraphFileSecurityState]
        :param history_states:
        :type history_states: list[~security.models.MicrosoftGraphAlertHistoryState]
        :param host_states: Security-related stateful information generated by the provider about the
         host(s) related to this alert.
        :type host_states: list[~security.models.MicrosoftGraphHostSecurityState]
        :param incident_ids: IDs of incidents related to current alert.
        :type incident_ids: list[str]
        :param last_modified_date_time: Time at which the alert entity was last modified. The Timestamp
         type represents date and time information using ISO 8601 format and is always in UTC time. For
         example, midnight UTC on Jan 1, 2014 would look like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param malware_states: Threat Intelligence pertaining to malware related to this alert.
        :type malware_states: list[~security.models.MicrosoftGraphMalwareState]
        :param network_connections: Security-related stateful information generated by the provider
         about the network connection(s) related to this alert.
        :type network_connections: list[~security.models.MicrosoftGraphNetworkConnection]
        :param processes: Security-related stateful information generated by the provider about the
         process or processes related to this alert.
        :type processes: list[~security.models.MicrosoftGraphProcess]
        :param recommended_actions: Vendor/provider recommended action(s) to take as a result of the
         alert (for example, isolate machine, enforce2FA, reimage host).
        :type recommended_actions: list[str]
        :param registry_key_states: Security-related stateful information generated by the provider
         about the registry keys related to this alert.
        :type registry_key_states: list[~security.models.MicrosoftGraphRegistryKeyState]
        :param security_resources: Resources related to current alert. For example, for some alerts
         this can have the Azure Resource value.
        :type security_resources: list[~security.models.MicrosoftGraphSecurityResource]
        :param severity:
        :type severity: str or ~security.models.MicrosoftGraphAlertSeverity
        :param source_materials: Hyperlinks (URIs) to the source material related to the alert, for
         example, provider's user interface for alerts or log search, etc.
        :type source_materials: list[str]
        :param status:
        :type status: str or ~security.models.MicrosoftGraphAlertStatus
        :param tags: User-definable labels that can be applied to an alert and can serve as filter
         conditions (for example 'HVA', 'SAW', etc.) (supports update).
        :type tags: list[str]
        :param title: Alert title. Required.
        :type title: str
        :param triggers: Security-related information about the specific properties that triggered the
         alert (properties appearing in the alert). Alerts might contain information about multiple
         users, hosts, files, ip addresses. This field indicates which properties triggered the alert
         generation.
        :type triggers: list[~security.models.MicrosoftGraphAlertTrigger]
        :param user_states: Security-related stateful information generated by the provider about the
         user accounts related to this alert.
        :type user_states: list[~security.models.MicrosoftGraphUserSecurityState]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :param vulnerability_states: Threat intelligence pertaining to one or more vulnerabilities
         related to this alert.
        :type vulnerability_states: list[~security.models.MicrosoftGraphVulnerabilityState]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAlert(id=id, activity_group_name=activity_group_name, assigned_to=assigned_to, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, category=category, closed_date_time=closed_date_time, cloud_app_states=cloud_app_states, comments=comments, confidence=confidence, created_date_time=created_date_time, description=description, detection_ids=detection_ids, event_date_time=event_date_time, feedback=feedback, file_states=file_states, history_states=history_states, host_states=host_states, incident_ids=incident_ids, last_modified_date_time=last_modified_date_time, malware_states=malware_states, network_connections=network_connections, processes=processes, recommended_actions=recommended_actions, registry_key_states=registry_key_states, security_resources=security_resources, severity=severity, source_materials=source_materials, status=status, tags=tags, title=title, triggers=triggers, user_states=user_states, vendor_information=vendor_information, vulnerability_states=vulnerability_states)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_alert.metadata['url']  # type: ignore
        path_format_arguments = {
            'alert-id': self._serialize.url("alert_id", alert_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAlert')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_alert.metadata = {'url': '/Security/alerts/{alert-id}'}  # type: ignore

    def delete_alert(
        self,
        alert_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property alerts for Security.

        Delete navigation property alerts for Security.

        :param alert_id: key: id of alert.
        :type alert_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_alert.metadata['url']  # type: ignore
        path_format_arguments = {
            'alert-id': self._serialize.url("alert_id", alert_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_alert.metadata = {'url': '/Security/alerts/{alert-id}'}  # type: ignore

    def list_cloud_app_security_profile(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum26"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum27"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfCloudAppSecurityProfile"]
        """Get cloudAppSecurityProfiles from Security.

        Get cloudAppSecurityProfiles from Security.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~security.models.Enum26]
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum27]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfCloudAppSecurityProfile or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~security.models.CollectionOfCloudAppSecurityProfile]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfCloudAppSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_cloud_app_security_profile.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfCloudAppSecurityProfile', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_cloud_app_security_profile.metadata = {'url': '/Security/cloudAppSecurityProfiles'}  # type: ignore

    def create_cloud_app_security_profile(
        self,
        id=None,  # type: Optional[str]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        deployment_package_url=None,  # type: Optional[str]
        destination_service_name=None,  # type: Optional[str]
        is_signed=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        manifest=None,  # type: Optional[str]
        name=None,  # type: Optional[str]
        permissions_required=None,  # type: Optional[Union[str, "models.MicrosoftGraphApplicationPermissionsRequired"]]
        platform=None,  # type: Optional[str]
        policy_name=None,  # type: Optional[str]
        publisher=None,  # type: Optional[str]
        risk_score=None,  # type: Optional[str]
        tags=None,  # type: Optional[List[str]]
        type=None,  # type: Optional[str]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCloudAppSecurityProfile"
        """Create new navigation property to cloudAppSecurityProfiles for Security.

        Create new navigation property to cloudAppSecurityProfiles for Security.

        :param id: Read-only.
        :type id: str
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param deployment_package_url:
        :type deployment_package_url: str
        :param destination_service_name:
        :type destination_service_name: str
        :param is_signed:
        :type is_signed: bool
        :param last_modified_date_time:
        :type last_modified_date_time: ~datetime.datetime
        :param manifest:
        :type manifest: str
        :param name:
        :type name: str
        :param permissions_required:
        :type permissions_required: str or ~security.models.MicrosoftGraphApplicationPermissionsRequired
        :param platform:
        :type platform: str
        :param policy_name:
        :type policy_name: str
        :param publisher:
        :type publisher: str
        :param risk_score:
        :type risk_score: str
        :param tags:
        :type tags: list[str]
        :param type:
        :type type: str
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCloudAppSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphCloudAppSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCloudAppSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphCloudAppSecurityProfile(id=id, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, created_date_time=created_date_time, deployment_package_url=deployment_package_url, destination_service_name=destination_service_name, is_signed=is_signed, last_modified_date_time=last_modified_date_time, manifest=manifest, name=name, permissions_required=permissions_required, platform=platform, policy_name=policy_name, publisher=publisher, risk_score=risk_score, tags=tags, type=type, vendor_information=vendor_information)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_cloud_app_security_profile.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphCloudAppSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCloudAppSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_cloud_app_security_profile.metadata = {'url': '/Security/cloudAppSecurityProfiles'}  # type: ignore

    def get_cloud_app_security_profile(
        self,
        cloud_app_security_profile_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum28"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCloudAppSecurityProfile"
        """Get cloudAppSecurityProfiles from Security.

        Get cloudAppSecurityProfiles from Security.

        :param cloud_app_security_profile_id: key: id of cloudAppSecurityProfile.
        :type cloud_app_security_profile_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum28]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCloudAppSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphCloudAppSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCloudAppSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_cloud_app_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'cloudAppSecurityProfile-id': self._serialize.url("cloud_app_security_profile_id", cloud_app_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCloudAppSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_cloud_app_security_profile.metadata = {'url': '/Security/cloudAppSecurityProfiles/{cloudAppSecurityProfile-id}'}  # type: ignore

    def update_cloud_app_security_profile(
        self,
        cloud_app_security_profile_id,  # type: str
        id=None,  # type: Optional[str]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        deployment_package_url=None,  # type: Optional[str]
        destination_service_name=None,  # type: Optional[str]
        is_signed=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        manifest=None,  # type: Optional[str]
        name=None,  # type: Optional[str]
        permissions_required=None,  # type: Optional[Union[str, "models.MicrosoftGraphApplicationPermissionsRequired"]]
        platform=None,  # type: Optional[str]
        policy_name=None,  # type: Optional[str]
        publisher=None,  # type: Optional[str]
        risk_score=None,  # type: Optional[str]
        tags=None,  # type: Optional[List[str]]
        type=None,  # type: Optional[str]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property cloudAppSecurityProfiles in Security.

        Update the navigation property cloudAppSecurityProfiles in Security.

        :param cloud_app_security_profile_id: key: id of cloudAppSecurityProfile.
        :type cloud_app_security_profile_id: str
        :param id: Read-only.
        :type id: str
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param deployment_package_url:
        :type deployment_package_url: str
        :param destination_service_name:
        :type destination_service_name: str
        :param is_signed:
        :type is_signed: bool
        :param last_modified_date_time:
        :type last_modified_date_time: ~datetime.datetime
        :param manifest:
        :type manifest: str
        :param name:
        :type name: str
        :param permissions_required:
        :type permissions_required: str or ~security.models.MicrosoftGraphApplicationPermissionsRequired
        :param platform:
        :type platform: str
        :param policy_name:
        :type policy_name: str
        :param publisher:
        :type publisher: str
        :param risk_score:
        :type risk_score: str
        :param tags:
        :type tags: list[str]
        :param type:
        :type type: str
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphCloudAppSecurityProfile(id=id, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, created_date_time=created_date_time, deployment_package_url=deployment_package_url, destination_service_name=destination_service_name, is_signed=is_signed, last_modified_date_time=last_modified_date_time, manifest=manifest, name=name, permissions_required=permissions_required, platform=platform, policy_name=policy_name, publisher=publisher, risk_score=risk_score, tags=tags, type=type, vendor_information=vendor_information)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_cloud_app_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'cloudAppSecurityProfile-id': self._serialize.url("cloud_app_security_profile_id", cloud_app_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphCloudAppSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_cloud_app_security_profile.metadata = {'url': '/Security/cloudAppSecurityProfiles/{cloudAppSecurityProfile-id}'}  # type: ignore

    def delete_cloud_app_security_profile(
        self,
        cloud_app_security_profile_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property cloudAppSecurityProfiles for Security.

        Delete navigation property cloudAppSecurityProfiles for Security.

        :param cloud_app_security_profile_id: key: id of cloudAppSecurityProfile.
        :type cloud_app_security_profile_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_cloud_app_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'cloudAppSecurityProfile-id': self._serialize.url("cloud_app_security_profile_id", cloud_app_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_cloud_app_security_profile.metadata = {'url': '/Security/cloudAppSecurityProfiles/{cloudAppSecurityProfile-id}'}  # type: ignore

    def list_domain_security_profile(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum29"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum30"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfDomainSecurityProfile"]
        """Get domainSecurityProfiles from Security.

        Get domainSecurityProfiles from Security.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~security.models.Enum29]
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum30]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfDomainSecurityProfile or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~security.models.CollectionOfDomainSecurityProfile]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfDomainSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_domain_security_profile.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfDomainSecurityProfile', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_domain_security_profile.metadata = {'url': '/Security/domainSecurityProfiles'}  # type: ignore

    def create_domain_security_profile(
        self,
        id=None,  # type: Optional[str]
        activity_group_names=None,  # type: Optional[List[str]]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        count_hits=None,  # type: Optional[int]
        count_in_org=None,  # type: Optional[int]
        domain_categories=None,  # type: Optional[List["models.MicrosoftGraphReputationCategory"]]
        domain_registered_date_time=None,  # type: Optional[datetime.datetime]
        first_seen_date_time=None,  # type: Optional[datetime.datetime]
        last_seen_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        registrant=None,  # type: Optional["models.MicrosoftGraphDomainRegistrant"]
        risk_score=None,  # type: Optional[str]
        tags=None,  # type: Optional[List[str]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDomainSecurityProfile"
        """Create new navigation property to domainSecurityProfiles for Security.

        Create new navigation property to domainSecurityProfiles for Security.

        :param id: Read-only.
        :type id: str
        :param activity_group_names:
        :type activity_group_names: list[str]
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param count_hits:
        :type count_hits: int
        :param count_in_org:
        :type count_in_org: int
        :param domain_categories:
        :type domain_categories: list[~security.models.MicrosoftGraphReputationCategory]
        :param domain_registered_date_time:
        :type domain_registered_date_time: ~datetime.datetime
        :param first_seen_date_time:
        :type first_seen_date_time: ~datetime.datetime
        :param last_seen_date_time:
        :type last_seen_date_time: ~datetime.datetime
        :param name:
        :type name: str
        :param registrant: domainRegistrant.
        :type registrant: ~security.models.MicrosoftGraphDomainRegistrant
        :param risk_score:
        :type risk_score: str
        :param tags:
        :type tags: list[str]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDomainSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphDomainSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDomainSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphDomainSecurityProfile(id=id, activity_group_names=activity_group_names, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, count_hits=count_hits, count_in_org=count_in_org, domain_categories=domain_categories, domain_registered_date_time=domain_registered_date_time, first_seen_date_time=first_seen_date_time, last_seen_date_time=last_seen_date_time, name=name, registrant=registrant, risk_score=risk_score, tags=tags, vendor_information=vendor_information)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_domain_security_profile.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphDomainSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDomainSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_domain_security_profile.metadata = {'url': '/Security/domainSecurityProfiles'}  # type: ignore

    def get_domain_security_profile(
        self,
        domain_security_profile_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum31"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDomainSecurityProfile"
        """Get domainSecurityProfiles from Security.

        Get domainSecurityProfiles from Security.

        :param domain_security_profile_id: key: id of domainSecurityProfile.
        :type domain_security_profile_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum31]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDomainSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphDomainSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDomainSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_domain_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'domainSecurityProfile-id': self._serialize.url("domain_security_profile_id", domain_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDomainSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_domain_security_profile.metadata = {'url': '/Security/domainSecurityProfiles/{domainSecurityProfile-id}'}  # type: ignore

    def update_domain_security_profile(
        self,
        domain_security_profile_id,  # type: str
        id=None,  # type: Optional[str]
        activity_group_names=None,  # type: Optional[List[str]]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        count_hits=None,  # type: Optional[int]
        count_in_org=None,  # type: Optional[int]
        domain_categories=None,  # type: Optional[List["models.MicrosoftGraphReputationCategory"]]
        domain_registered_date_time=None,  # type: Optional[datetime.datetime]
        first_seen_date_time=None,  # type: Optional[datetime.datetime]
        last_seen_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        registrant=None,  # type: Optional["models.MicrosoftGraphDomainRegistrant"]
        risk_score=None,  # type: Optional[str]
        tags=None,  # type: Optional[List[str]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property domainSecurityProfiles in Security.

        Update the navigation property domainSecurityProfiles in Security.

        :param domain_security_profile_id: key: id of domainSecurityProfile.
        :type domain_security_profile_id: str
        :param id: Read-only.
        :type id: str
        :param activity_group_names:
        :type activity_group_names: list[str]
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param count_hits:
        :type count_hits: int
        :param count_in_org:
        :type count_in_org: int
        :param domain_categories:
        :type domain_categories: list[~security.models.MicrosoftGraphReputationCategory]
        :param domain_registered_date_time:
        :type domain_registered_date_time: ~datetime.datetime
        :param first_seen_date_time:
        :type first_seen_date_time: ~datetime.datetime
        :param last_seen_date_time:
        :type last_seen_date_time: ~datetime.datetime
        :param name:
        :type name: str
        :param registrant: domainRegistrant.
        :type registrant: ~security.models.MicrosoftGraphDomainRegistrant
        :param risk_score:
        :type risk_score: str
        :param tags:
        :type tags: list[str]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphDomainSecurityProfile(id=id, activity_group_names=activity_group_names, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, count_hits=count_hits, count_in_org=count_in_org, domain_categories=domain_categories, domain_registered_date_time=domain_registered_date_time, first_seen_date_time=first_seen_date_time, last_seen_date_time=last_seen_date_time, name=name, registrant=registrant, risk_score=risk_score, tags=tags, vendor_information=vendor_information)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_domain_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'domainSecurityProfile-id': self._serialize.url("domain_security_profile_id", domain_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphDomainSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_domain_security_profile.metadata = {'url': '/Security/domainSecurityProfiles/{domainSecurityProfile-id}'}  # type: ignore

    def delete_domain_security_profile(
        self,
        domain_security_profile_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property domainSecurityProfiles for Security.

        Delete navigation property domainSecurityProfiles for Security.

        :param domain_security_profile_id: key: id of domainSecurityProfile.
        :type domain_security_profile_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_domain_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'domainSecurityProfile-id': self._serialize.url("domain_security_profile_id", domain_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_domain_security_profile.metadata = {'url': '/Security/domainSecurityProfiles/{domainSecurityProfile-id}'}  # type: ignore

    def list_file_security_profile(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum32"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum33"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfFileSecurityProfile"]
        """Get fileSecurityProfiles from Security.

        Get fileSecurityProfiles from Security.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~security.models.Enum32]
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum33]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfFileSecurityProfile or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~security.models.CollectionOfFileSecurityProfile]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfFileSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_file_security_profile.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfFileSecurityProfile', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_file_security_profile.metadata = {'url': '/Security/fileSecurityProfiles'}  # type: ignore

    def create_file_security_profile(
        self,
        id=None,  # type: Optional[str]
        activity_group_names=None,  # type: Optional[List[str]]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        certificate_thumbprint=None,  # type: Optional[str]
        extensions=None,  # type: Optional[List[str]]
        file_type=None,  # type: Optional[str]
        first_seen_date_time=None,  # type: Optional[datetime.datetime]
        hashes=None,  # type: Optional[List["models.MicrosoftGraphFileHash"]]
        last_seen_date_time=None,  # type: Optional[datetime.datetime]
        malware_states=None,  # type: Optional[List["models.MicrosoftGraphMalwareState"]]
        names=None,  # type: Optional[List[str]]
        risk_score=None,  # type: Optional[str]
        size=None,  # type: Optional[int]
        tags=None,  # type: Optional[List[str]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        vulnerability_states=None,  # type: Optional[List["models.MicrosoftGraphVulnerabilityState"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphFileSecurityProfile"
        """Create new navigation property to fileSecurityProfiles for Security.

        Create new navigation property to fileSecurityProfiles for Security.

        :param id: Read-only.
        :type id: str
        :param activity_group_names:
        :type activity_group_names: list[str]
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param certificate_thumbprint:
        :type certificate_thumbprint: str
        :param extensions:
        :type extensions: list[str]
        :param file_type:
        :type file_type: str
        :param first_seen_date_time:
        :type first_seen_date_time: ~datetime.datetime
        :param hashes:
        :type hashes: list[~security.models.MicrosoftGraphFileHash]
        :param last_seen_date_time:
        :type last_seen_date_time: ~datetime.datetime
        :param malware_states:
        :type malware_states: list[~security.models.MicrosoftGraphMalwareState]
        :param names:
        :type names: list[str]
        :param risk_score:
        :type risk_score: str
        :param size:
        :type size: long
        :param tags:
        :type tags: list[str]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :param vulnerability_states:
        :type vulnerability_states: list[~security.models.MicrosoftGraphVulnerabilityState]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphFileSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphFileSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphFileSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphFileSecurityProfile(id=id, activity_group_names=activity_group_names, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, certificate_thumbprint=certificate_thumbprint, extensions=extensions, file_type=file_type, first_seen_date_time=first_seen_date_time, hashes=hashes, last_seen_date_time=last_seen_date_time, malware_states=malware_states, names=names, risk_score=risk_score, size=size, tags=tags, vendor_information=vendor_information, vulnerability_states=vulnerability_states)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_file_security_profile.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphFileSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphFileSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_file_security_profile.metadata = {'url': '/Security/fileSecurityProfiles'}  # type: ignore

    def get_file_security_profile(
        self,
        file_security_profile_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum34"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphFileSecurityProfile"
        """Get fileSecurityProfiles from Security.

        Get fileSecurityProfiles from Security.

        :param file_security_profile_id: key: id of fileSecurityProfile.
        :type file_security_profile_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~security.models.Enum34]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphFileSecurityProfile, or the result of cls(response)
        :rtype: ~security.models.MicrosoftGraphFileSecurityProfile
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphFileSecurityProfile"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_file_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'fileSecurityProfile-id': self._serialize.url("file_security_profile_id", file_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphFileSecurityProfile', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_file_security_profile.metadata = {'url': '/Security/fileSecurityProfiles/{fileSecurityProfile-id}'}  # type: ignore

    def update_file_security_profile(
        self,
        file_security_profile_id,  # type: str
        id=None,  # type: Optional[str]
        activity_group_names=None,  # type: Optional[List[str]]
        azure_subscription_id=None,  # type: Optional[str]
        azure_tenant_id=None,  # type: Optional[str]
        certificate_thumbprint=None,  # type: Optional[str]
        extensions=None,  # type: Optional[List[str]]
        file_type=None,  # type: Optional[str]
        first_seen_date_time=None,  # type: Optional[datetime.datetime]
        hashes=None,  # type: Optional[List["models.MicrosoftGraphFileHash"]]
        last_seen_date_time=None,  # type: Optional[datetime.datetime]
        malware_states=None,  # type: Optional[List["models.MicrosoftGraphMalwareState"]]
        names=None,  # type: Optional[List[str]]
        risk_score=None,  # type: Optional[str]
        size=None,  # type: Optional[int]
        tags=None,  # type: Optional[List[str]]
        vendor_information=None,  # type: Optional["models.MicrosoftGraphSecurityVendorInformation"]
        vulnerability_states=None,  # type: Optional[List["models.MicrosoftGraphVulnerabilityState"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property fileSecurityProfiles in Security.

        Update the navigation property fileSecurityProfiles in Security.

        :param file_security_profile_id: key: id of fileSecurityProfile.
        :type file_security_profile_id: str
        :param id: Read-only.
        :type id: str
        :param activity_group_names:
        :type activity_group_names: list[str]
        :param azure_subscription_id:
        :type azure_subscription_id: str
        :param azure_tenant_id:
        :type azure_tenant_id: str
        :param certificate_thumbprint:
        :type certificate_thumbprint: str
        :param extensions:
        :type extensions: list[str]
        :param file_type:
        :type file_type: str
        :param first_seen_date_time:
        :type first_seen_date_time: ~datetime.datetime
        :param hashes:
        :type hashes: list[~security.models.MicrosoftGraphFileHash]
        :param last_seen_date_time:
        :type last_seen_date_time: ~datetime.datetime
        :param malware_states:
        :type malware_states: list[~security.models.MicrosoftGraphMalwareState]
        :param names:
        :type names: list[str]
        :param risk_score:
        :type risk_score: str
        :param size:
        :type size: long
        :param tags:
        :type tags: list[str]
        :param vendor_information: securityVendorInformation.
        :type vendor_information: ~security.models.MicrosoftGraphSecurityVendorInformation
        :param vulnerability_states:
        :type vulnerability_states: list[~security.models.MicrosoftGraphVulnerabilityState]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphFileSecurityProfile(id=id, activity_group_names=activity_group_names, azure_subscription_id=azure_subscription_id, azure_tenant_id=azure_tenant_id, certificate_thumbprint=certificate_thumbprint, extensions=extensions, file_type=file_type, first_seen_date_time=first_seen_date_time, hashes=hashes, last_seen_date_time=last_seen_date_time, malware_states=malware_states, names=names, risk_score=risk_score, size=size, tags=tags, vendor_information=vendor_information, vulnerability_states=vulnerability_states)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_file_security_profile.metadata['url']  # type: ignore
        path_format_arguments = {
            'fileSecurityProfile-id': self._serialize.url("file_security_profile_id", file_security_profile_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphFileSecurityProfile')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_file_security_profile.metadata = {'url': '/Security/fileSecurityProfiles/{fileSecurityProfile-id}'}  # type: ignore

    def delete_file_security_profile(
        self,
        file_security_profile_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property fileSecurityProfiles for Security.

        Delete navigation property fileSecurityProfiles for Security.

        :param file_security_profile_id: key: id of fileSecurityProfile.
        :type file_security_profile_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
[...]
