[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
pylint = "*"
wheel = "*"
homebrew-pypi-poet = "*"
jinja2 = "*"
mock = "*"
pytest = "*"
mock-open = "*"

[packages]
argcomplete = "~=1.8"
azure-cli-telemetry = "*"
colorama = ">=0.3.9"
humanfriendly = ">=4.7,<9.0"
jmespath = "*"
knack = "==0.7.1"
msal = "~=1.4.3"
msrest = ">=0.4.4"
msrestazure = ">=0.6.3"
paramiko = "<3.0.0,>=2.0.8"
requests = "~=2.20"
six = "~=1.12"
pkginfo = ">=1.5.0.1"
azure-mgmt-resource = "==9.0.0"
azure-mgmt-core = "==1.2.0"
PyJWT = "*"
pyOpenSSL = ">=17.1.0"
msal-extensions = "==0.2.2"
azure-identity = "==1.4.0b7"
portalocker = ">=1.6"
zipp = {path = "."}
pytest = "*"

[requires]
python_version = "3.8"
