# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class IdentityGovernanceOperations(object):
    """IdentityGovernanceOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~identity_governance.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get_entitlement_management(
        self,
        select=None,  # type: Optional[List[Union[str, "models.Get0ItemsItem"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum40"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEntitlementManagement"
        """Get entitlementManagement from identityGovernance.

        Get entitlementManagement from identityGovernance.

        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Get0ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum40]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEntitlementManagement, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphEntitlementManagement
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEntitlementManagement"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_entitlement_management.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEntitlementManagement', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_entitlement_management.metadata = {'url': '/identityGovernance/entitlementManagement'}  # type: ignore

    def update_entitlement_management(
        self,
        id=None,  # type: Optional[str]
        access_package_assignment_policies=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignmentPolicy"]]
        access_package_assignment_requests=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignmentRequest"]]
        access_package_assignment_resource_roles=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignmentResourceRole"]]
        access_package_assignments=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignment"]]
        access_package_catalogs=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageCatalog"]]
        access_package_resource_requests=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageResourceRequest"]]
        access_package_resource_role_scopes=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageResourceRoleScope"]]
        access_package_resources=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageResource"]]
        access_packages=None,  # type: Optional[List["models.MicrosoftGraphAccessPackage"]]
        connected_organizations=None,  # type: Optional[List["models.MicrosoftGraphConnectedOrganization"]]
        settings=None,  # type: Optional["models.MicrosoftGraphEntitlementManagementSettings"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property entitlementManagement in identityGovernance.

        Update the navigation property entitlementManagement in identityGovernance.

        :param id: Read-only.
        :type id: str
        :param access_package_assignment_policies:
        :type access_package_assignment_policies: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignmentPolicy]
        :param access_package_assignment_requests:
        :type access_package_assignment_requests: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignmentRequest]
        :param access_package_assignment_resource_roles:
        :type access_package_assignment_resource_roles: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignmentResourceRole]
        :param access_package_assignments:
        :type access_package_assignments: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignment]
        :param access_package_catalogs:
        :type access_package_catalogs: list[~identity_governance.models.MicrosoftGraphAccessPackageCatalog]
        :param access_package_resource_requests:
        :type access_package_resource_requests: list[~identity_governance.models.MicrosoftGraphAccessPackageResourceRequest]
        :param access_package_resource_role_scopes:
        :type access_package_resource_role_scopes: list[~identity_governance.models.MicrosoftGraphAccessPackageResourceRoleScope]
        :param access_package_resources:
        :type access_package_resources: list[~identity_governance.models.MicrosoftGraphAccessPackageResource]
        :param access_packages:
        :type access_packages: list[~identity_governance.models.MicrosoftGraphAccessPackage]
        :param connected_organizations:
        :type connected_organizations: list[~identity_governance.models.MicrosoftGraphConnectedOrganization]
        :param settings: entitlementManagementSettings.
        :type settings: ~identity_governance.models.MicrosoftGraphEntitlementManagementSettings
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphEntitlementManagement(id=id, access_package_assignment_policies=access_package_assignment_policies, access_package_assignment_requests=access_package_assignment_requests, access_package_assignment_resource_roles=access_package_assignment_resource_roles, access_package_assignments=access_package_assignments, access_package_catalogs=access_package_catalogs, access_package_resource_requests=access_package_resource_requests, access_package_resource_role_scopes=access_package_resource_role_scopes, access_package_resources=access_package_resources, access_packages=access_packages, connected_organizations=connected_organizations, settings=settings)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_entitlement_management.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphEntitlementManagement')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_entitlement_management.metadata = {'url': '/identityGovernance/entitlementManagement'}  # type: ignore

    def delete_entitlement_management(
        self,
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property entitlementManagement for identityGovernance.

        Delete navigation property entitlementManagement for identityGovernance.

        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_entitlement_management.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_entitlement_management.metadata = {'url': '/identityGovernance/entitlementManagement'}  # type: ignore
