# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class IdentityGovernanceEntitlementManagementAccessPackageAssignmentRequestAccessPackageAssignmentOperations(object):
    """IdentityGovernanceEntitlementManagementAccessPackageAssignmentRequestAccessPackageAssignmentOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~identity_governance.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get_access_package(
        self,
        access_package_assignment_request_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum171"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum172"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackage"
        """Get accessPackage from identityGovernance.

        Get accessPackage from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum171]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum172]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackage, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackage
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackage"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_access_package.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackage', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_access_package.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackage'}  # type: ignore

    def update_access_package(
        self,
        access_package_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        catalog_id=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        is_hidden=None,  # type: Optional[bool]
        is_role_scopes_visible=None,  # type: Optional[bool]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        access_package_assignment_policies=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignmentPolicy"]]
        access_package_catalog=None,  # type: Optional["models.MicrosoftGraphAccessPackageCatalog"]
        access_package_resource_role_scopes=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageResourceRoleScope"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property accessPackage in identityGovernance.

        Update the navigation property accessPackage in identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param catalog_id:
        :type catalog_id: str
        :param created_by:
        :type created_by: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param display_name:
        :type display_name: str
        :param is_hidden:
        :type is_hidden: bool
        :param is_role_scopes_visible:
        :type is_role_scopes_visible: bool
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param access_package_assignment_policies:
        :type access_package_assignment_policies: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignmentPolicy]
        :param access_package_catalog: accessPackageCatalog.
        :type access_package_catalog: ~identity_governance.models.MicrosoftGraphAccessPackageCatalog
        :param access_package_resource_role_scopes:
        :type access_package_resource_role_scopes: list[~identity_governance.models.MicrosoftGraphAccessPackageResourceRoleScope]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackage(id=id, catalog_id=catalog_id, created_by=created_by, created_date_time=created_date_time, description=description, display_name=display_name, is_hidden=is_hidden, is_role_scopes_visible=is_role_scopes_visible, modified_by=modified_by, modified_date_time=modified_date_time, access_package_assignment_policies=access_package_assignment_policies, access_package_catalog=access_package_catalog, access_package_resource_role_scopes=access_package_resource_role_scopes)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_access_package.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackage')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_access_package.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackage'}  # type: ignore

    def delete_access_package(
        self,
        access_package_assignment_request_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property accessPackage for identityGovernance.

        Delete navigation property accessPackage for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_access_package.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_access_package.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackage'}  # type: ignore

    def get_access_package_assignment_policy(
        self,
        access_package_assignment_request_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum283"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum284"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageAssignmentPolicy"
        """Get accessPackageAssignmentPolicy from identityGovernance.

        Get accessPackageAssignmentPolicy from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum283]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum284]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageAssignmentPolicy, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageAssignmentPolicy
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageAssignmentPolicy"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_access_package_assignment_policy.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageAssignmentPolicy', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_access_package_assignment_policy.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentPolicy'}  # type: ignore

    def update_access_package_assignment_policy(
        self,
        access_package_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        access_package_id=None,  # type: Optional[str]
        can_extend=None,  # type: Optional[bool]
        created_by=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        duration_in_days=None,  # type: Optional[int]
        expiration_date_time=None,  # type: Optional[datetime.datetime]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        questions=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageQuestion"]]
        access_package=None,  # type: Optional["models.MicrosoftGraphAccessPackage"]
        access_package_catalog=None,  # type: Optional["models.MicrosoftGraphAccessPackageCatalog"]
        accept_requests=None,  # type: Optional[bool]
        allowed_requestors=None,  # type: Optional[List["models.MicrosoftGraphUserSet"]]
        scope_type=None,  # type: Optional[str]
        approval_mode=None,  # type: Optional[str]
        approval_stages=None,  # type: Optional[List["models.MicrosoftGraphApprovalStage"]]
        is_approval_required=None,  # type: Optional[bool]
        is_approval_required_for_extension=None,  # type: Optional[bool]
        is_requestor_justification_required=None,  # type: Optional[bool]
        integer_duration_in_days=None,  # type: Optional[int]
        is_enabled=None,  # type: Optional[bool]
        recurrence_type=None,  # type: Optional[str]
        reviewers=None,  # type: Optional[List["models.MicrosoftGraphUserSet"]]
        reviewer_type=None,  # type: Optional[str]
        start_date_time=None,  # type: Optional[datetime.datetime]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property accessPackageAssignmentPolicy in identityGovernance.

        Update the navigation property accessPackageAssignmentPolicy in identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param access_package_id:
        :type access_package_id: str
        :param can_extend:
        :type can_extend: bool
        :param created_by:
        :type created_by: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param display_name:
        :type display_name: str
        :param duration_in_days:
        :type duration_in_days: int
        :param expiration_date_time:
        :type expiration_date_time: ~datetime.datetime
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param questions:
        :type questions: list[~identity_governance.models.MicrosoftGraphAccessPackageQuestion]
        :param access_package: accessPackage.
        :type access_package: ~identity_governance.models.MicrosoftGraphAccessPackage
        :param access_package_catalog: accessPackageCatalog.
        :type access_package_catalog: ~identity_governance.models.MicrosoftGraphAccessPackageCatalog
        :param accept_requests:
        :type accept_requests: bool
        :param allowed_requestors:
        :type allowed_requestors: list[~identity_governance.models.MicrosoftGraphUserSet]
        :param scope_type:
        :type scope_type: str
        :param approval_mode:
        :type approval_mode: str
        :param approval_stages:
        :type approval_stages: list[~identity_governance.models.MicrosoftGraphApprovalStage]
        :param is_approval_required:
        :type is_approval_required: bool
        :param is_approval_required_for_extension:
        :type is_approval_required_for_extension: bool
        :param is_requestor_justification_required:
        :type is_requestor_justification_required: bool
        :param integer_duration_in_days:
        :type integer_duration_in_days: int
        :param is_enabled:
        :type is_enabled: bool
        :param recurrence_type:
        :type recurrence_type: str
        :param reviewers:
        :type reviewers: list[~identity_governance.models.MicrosoftGraphUserSet]
        :param reviewer_type:
        :type reviewer_type: str
        :param start_date_time:
        :type start_date_time: ~datetime.datetime
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageAssignmentPolicy(id=id, access_package_id=access_package_id, can_extend=can_extend, created_by=created_by, created_date_time=created_date_time, description=description, display_name=display_name, duration_in_days=duration_in_days, expiration_date_time=expiration_date_time, modified_by=modified_by, modified_date_time=modified_date_time, questions=questions, access_package=access_package, access_package_catalog=access_package_catalog, accept_requests=accept_requests, allowed_requestors=allowed_requestors, scope_type=scope_type, approval_mode=approval_mode, approval_stages=approval_stages, is_approval_required=is_approval_required, is_approval_required_for_extension=is_approval_required_for_extension, is_requestor_justification_required=is_requestor_justification_required, duration_in_days_access_review_settings_duration_in_days=integer_duration_in_days, is_enabled=is_enabled, recurrence_type=recurrence_type, reviewers=reviewers, reviewer_type=reviewer_type, start_date_time=start_date_time)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_access_package_assignment_policy.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageAssignmentPolicy')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_access_package_assignment_policy.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentPolicy'}  # type: ignore

    def delete_access_package_assignment_policy(
        self,
        access_package_assignment_request_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property accessPackageAssignmentPolicy for identityGovernance.

        Delete navigation property accessPackageAssignmentPolicy for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_access_package_assignment_policy.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_access_package_assignment_policy.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentPolicy'}  # type: ignore

    def list_access_package_assignment_request(
        self,
        access_package_assignment_request_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum395"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum396"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum397"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfAccessPackageAssignmentRequest0"]
        """Get accessPackageAssignmentRequests from identityGovernance.

        Get accessPackageAssignmentRequests from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~identity_governance.models.Enum395]
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum396]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum397]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfAccessPackageAssignmentRequest0 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~identity_governance.models.CollectionOfAccessPackageAssignmentRequest0]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfAccessPackageAssignmentRequest0"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_access_package_assignment_request.metadata['url']  # type: ignore
                path_format_arguments = {
                    'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfAccessPackageAssignmentRequest0', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_access_package_assignment_request.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentRequests'}  # type: ignore

    def create_access_package_assignment_request(
        self,
        access_package_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        answers=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAnswer"]]
        completed_date=None,  # type: Optional[datetime.datetime]
        created_date_time=None,  # type: Optional[datetime.datetime]
        expiration_date_time=None,  # type: Optional[datetime.datetime]
        is_validation_only=None,  # type: Optional[bool]
        justification=None,  # type: Optional[str]
        request_state=None,  # type: Optional[str]
        request_status=None,  # type: Optional[str]
        request_type=None,  # type: Optional[str]
        access_package=None,  # type: Optional["models.MicrosoftGraphAccessPackage"]
        access_package_assignment=None,  # type: Optional["models.MicrosoftGraphAccessPackageAssignment"]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        alt_sec_id=None,  # type: Optional[str]
        connected_organization_id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        email=None,  # type: Optional[str]
        object_id=None,  # type: Optional[str]
        on_premises_security_identifier=None,  # type: Optional[str]
        principal_name=None,  # type: Optional[str]
        type=None,  # type: Optional[str]
        id1=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        microsoft_graph_connected_organization_created_date_time_created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        microsoft_graph_connected_organization_display_name=None,  # type: Optional[str]
        identity_sources=None,  # type: Optional[List[Dict[str, object]]]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        state=None,  # type: Optional[Union[str, "models.MicrosoftGraphConnectedOrganizationState"]]
        external_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        internal_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        expiration=None,  # type: Optional["models.MicrosoftGraphExpirationPattern"]
        recurrence=None,  # type: Optional["models.MicrosoftGraphPatternedRecurrence"]
        start_date_time=None,  # type: Optional[datetime.datetime]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageAssignmentRequest"
        """Create new navigation property to accessPackageAssignmentRequests for identityGovernance.

        Create new navigation property to accessPackageAssignmentRequests for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param answers:
        :type answers: list[~identity_governance.models.MicrosoftGraphAccessPackageAnswer]
        :param completed_date:
        :type completed_date: ~datetime.datetime
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param expiration_date_time:
        :type expiration_date_time: ~datetime.datetime
        :param is_validation_only:
        :type is_validation_only: bool
        :param justification:
        :type justification: str
        :param request_state:
        :type request_state: str
        :param request_status:
        :type request_status: str
        :param request_type:
        :type request_type: str
        :param access_package: accessPackage.
        :type access_package: ~identity_governance.models.MicrosoftGraphAccessPackage
        :param access_package_assignment: accessPackageAssignment.
        :type access_package_assignment: ~identity_governance.models.MicrosoftGraphAccessPackageAssignment
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param alt_sec_id:
        :type alt_sec_id: str
        :param connected_organization_id:
        :type connected_organization_id: str
        :param display_name:
        :type display_name: str
        :param email:
        :type email: str
        :param object_id:
        :type object_id: str
        :param on_premises_security_identifier:
        :type on_premises_security_identifier: str
        :param principal_name:
        :type principal_name: str
        :param type:
        :type type: str
        :param id1: Read-only.
        :type id1: str
        :param created_by:
        :type created_by: str
        :param microsoft_graph_connected_organization_created_date_time_created_date_time:
        :type microsoft_graph_connected_organization_created_date_time_created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param microsoft_graph_connected_organization_display_name:
        :type microsoft_graph_connected_organization_display_name: str
        :param identity_sources:
        :type identity_sources: list[dict[str, object]]
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param state:
        :type state: str or ~identity_governance.models.MicrosoftGraphConnectedOrganizationState
        :param external_sponsors:
        :type external_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param internal_sponsors:
        :type internal_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param expiration: expirationPattern.
        :type expiration: ~identity_governance.models.MicrosoftGraphExpirationPattern
        :param recurrence: patternedRecurrence.
        :type recurrence: ~identity_governance.models.MicrosoftGraphPatternedRecurrence
        :param start_date_time:
        :type start_date_time: ~datetime.datetime
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageAssignmentRequest, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageAssignmentRequest
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageAssignmentRequest"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageAssignmentRequest(id=id, answers=answers, completed_date=completed_date, created_date_time=created_date_time, expiration_date_time=expiration_date_time, is_validation_only=is_validation_only, justification=justification, request_state=request_state, request_status=request_status, request_type=request_type, access_package=access_package, access_package_assignment=access_package_assignment, id_requestor_id=microsoft_graph_entity_id, alt_sec_id=alt_sec_id, connected_organization_id=connected_organization_id, display_name_requestor_display_name=display_name, email=email, object_id=object_id, on_premises_security_identifier=on_premises_security_identifier, principal_name=principal_name, type=type, id_requestor_connected_organization_id=id1, created_by=created_by, created_date_time_requestor_connected_organization_created_date_time=microsoft_graph_connected_organization_created_date_time_created_date_time, description=description, display_name_requestor_connected_organization_display_name=microsoft_graph_connected_organization_display_name, identity_sources=identity_sources, modified_by=modified_by, modified_date_time=modified_date_time, state=state, external_sponsors=external_sponsors, internal_sponsors=internal_sponsors, expiration=expiration, recurrence=recurrence, start_date_time=start_date_time)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_access_package_assignment_request.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageAssignmentRequest')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageAssignmentRequest', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_access_package_assignment_request.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentRequests'}  # type: ignore

    def get_access_package_assignment_request(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_request_id1,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum398"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum399"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageAssignmentRequest"
        """Get accessPackageAssignmentRequests from identityGovernance.

        Get accessPackageAssignmentRequests from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_request_id1: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id1: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum398]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum399]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageAssignmentRequest, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageAssignmentRequest
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageAssignmentRequest"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_access_package_assignment_request.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentRequest-id1': self._serialize.url("access_package_assignment_request_id1", access_package_assignment_request_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageAssignmentRequest', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_access_package_assignment_request.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id1}'}  # type: ignore

    def update_access_package_assignment_request(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_request_id1,  # type: str
        id=None,  # type: Optional[str]
        answers=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAnswer"]]
        completed_date=None,  # type: Optional[datetime.datetime]
        created_date_time=None,  # type: Optional[datetime.datetime]
        expiration_date_time=None,  # type: Optional[datetime.datetime]
        is_validation_only=None,  # type: Optional[bool]
        justification=None,  # type: Optional[str]
        request_state=None,  # type: Optional[str]
        request_status=None,  # type: Optional[str]
        request_type=None,  # type: Optional[str]
        access_package=None,  # type: Optional["models.MicrosoftGraphAccessPackage"]
        access_package_assignment=None,  # type: Optional["models.MicrosoftGraphAccessPackageAssignment"]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        alt_sec_id=None,  # type: Optional[str]
        connected_organization_id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        email=None,  # type: Optional[str]
        object_id=None,  # type: Optional[str]
        on_premises_security_identifier=None,  # type: Optional[str]
        principal_name=None,  # type: Optional[str]
        type=None,  # type: Optional[str]
        id1=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        microsoft_graph_connected_organization_created_date_time_created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        microsoft_graph_connected_organization_display_name=None,  # type: Optional[str]
        identity_sources=None,  # type: Optional[List[Dict[str, object]]]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        state=None,  # type: Optional[Union[str, "models.MicrosoftGraphConnectedOrganizationState"]]
        external_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        internal_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        expiration=None,  # type: Optional["models.MicrosoftGraphExpirationPattern"]
        recurrence=None,  # type: Optional["models.MicrosoftGraphPatternedRecurrence"]
        start_date_time=None,  # type: Optional[datetime.datetime]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property accessPackageAssignmentRequests in identityGovernance.

        Update the navigation property accessPackageAssignmentRequests in identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_request_id1: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id1: str
        :param id: Read-only.
        :type id: str
        :param answers:
        :type answers: list[~identity_governance.models.MicrosoftGraphAccessPackageAnswer]
        :param completed_date:
        :type completed_date: ~datetime.datetime
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param expiration_date_time:
        :type expiration_date_time: ~datetime.datetime
        :param is_validation_only:
        :type is_validation_only: bool
        :param justification:
        :type justification: str
        :param request_state:
        :type request_state: str
        :param request_status:
        :type request_status: str
        :param request_type:
        :type request_type: str
        :param access_package: accessPackage.
        :type access_package: ~identity_governance.models.MicrosoftGraphAccessPackage
        :param access_package_assignment: accessPackageAssignment.
        :type access_package_assignment: ~identity_governance.models.MicrosoftGraphAccessPackageAssignment
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param alt_sec_id:
        :type alt_sec_id: str
        :param connected_organization_id:
        :type connected_organization_id: str
        :param display_name:
        :type display_name: str
        :param email:
        :type email: str
        :param object_id:
        :type object_id: str
        :param on_premises_security_identifier:
        :type on_premises_security_identifier: str
        :param principal_name:
        :type principal_name: str
        :param type:
        :type type: str
        :param id1: Read-only.
        :type id1: str
        :param created_by:
        :type created_by: str
        :param microsoft_graph_connected_organization_created_date_time_created_date_time:
        :type microsoft_graph_connected_organization_created_date_time_created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param microsoft_graph_connected_organization_display_name:
        :type microsoft_graph_connected_organization_display_name: str
        :param identity_sources:
        :type identity_sources: list[dict[str, object]]
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param state:
        :type state: str or ~identity_governance.models.MicrosoftGraphConnectedOrganizationState
        :param external_sponsors:
        :type external_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param internal_sponsors:
        :type internal_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param expiration: expirationPattern.
        :type expiration: ~identity_governance.models.MicrosoftGraphExpirationPattern
        :param recurrence: patternedRecurrence.
        :type recurrence: ~identity_governance.models.MicrosoftGraphPatternedRecurrence
        :param start_date_time:
        :type start_date_time: ~datetime.datetime
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageAssignmentRequest(id=id, answers=answers, completed_date=completed_date, created_date_time=created_date_time, expiration_date_time=expiration_date_time, is_validation_only=is_validation_only, justification=justification, request_state=request_state, request_status=request_status, request_type=request_type, access_package=access_package, access_package_assignment=access_package_assignment, id_requestor_id=microsoft_graph_entity_id, alt_sec_id=alt_sec_id, connected_organization_id=connected_organization_id, display_name_requestor_display_name=display_name, email=email, object_id=object_id, on_premises_security_identifier=on_premises_security_identifier, principal_name=principal_name, type=type, id_requestor_connected_organization_id=id1, created_by=created_by, created_date_time_requestor_connected_organization_created_date_time=microsoft_graph_connected_organization_created_date_time_created_date_time, description=description, display_name_requestor_connected_organization_display_name=microsoft_graph_connected_organization_display_name, identity_sources=identity_sources, modified_by=modified_by, modified_date_time=modified_date_time, state=state, external_sponsors=external_sponsors, internal_sponsors=internal_sponsors, expiration=expiration, recurrence=recurrence, start_date_time=start_date_time)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_access_package_assignment_request.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentRequest-id1': self._serialize.url("access_package_assignment_request_id1", access_package_assignment_request_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageAssignmentRequest')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_access_package_assignment_request.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id1}'}  # type: ignore

    def delete_access_package_assignment_request(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_request_id1,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property accessPackageAssignmentRequests for identityGovernance.

        Delete navigation property accessPackageAssignmentRequests for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_request_id1: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id1: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_access_package_assignment_request.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentRequest-id1': self._serialize.url("access_package_assignment_request_id1", access_package_assignment_request_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_access_package_assignment_request.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id1}'}  # type: ignore

    def list_access_package_assignment_resource_role(
        self,
        access_package_assignment_request_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum400"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum401"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum402"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfAccessPackageAssignmentResourceRole"]
        """Get accessPackageAssignmentResourceRoles from identityGovernance.

        Get accessPackageAssignmentResourceRoles from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~identity_governance.models.Enum400]
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum401]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum402]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfAccessPackageAssignmentResourceRole or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~identity_governance.models.CollectionOfAccessPackageAssignmentResourceRole]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfAccessPackageAssignmentResourceRole"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_access_package_assignment_resource_role.metadata['url']  # type: ignore
                path_format_arguments = {
                    'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfAccessPackageAssignmentResourceRole', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_access_package_assignment_resource_role.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentResourceRoles'}  # type: ignore

    def create_access_package_assignment_resource_role(
        self,
        access_package_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        origin_id=None,  # type: Optional[str]
        origin_system=None,  # type: Optional[str]
        status=None,  # type: Optional[str]
        access_package_assignments=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignment"]]
        access_package_resource_role=None,  # type: Optional["models.MicrosoftGraphAccessPackageResourceRole"]
        access_package_resource_scope=None,  # type: Optional["models.MicrosoftGraphAccessPackageResourceScope"]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        alt_sec_id=None,  # type: Optional[str]
        connected_organization_id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        email=None,  # type: Optional[str]
        object_id=None,  # type: Optional[str]
        on_premises_security_identifier=None,  # type: Optional[str]
        principal_name=None,  # type: Optional[str]
        type=None,  # type: Optional[str]
        id1=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        microsoft_graph_connected_organization_display_name=None,  # type: Optional[str]
        identity_sources=None,  # type: Optional[List[Dict[str, object]]]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        state=None,  # type: Optional[Union[str, "models.MicrosoftGraphConnectedOrganizationState"]]
        external_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        internal_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageAssignmentResourceRole"
        """Create new navigation property to accessPackageAssignmentResourceRoles for identityGovernance.

        Create new navigation property to accessPackageAssignmentResourceRoles for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param origin_id:
        :type origin_id: str
        :param origin_system:
        :type origin_system: str
        :param status:
        :type status: str
        :param access_package_assignments:
        :type access_package_assignments: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignment]
        :param access_package_resource_role: accessPackageResourceRole.
        :type access_package_resource_role: ~identity_governance.models.MicrosoftGraphAccessPackageResourceRole
        :param access_package_resource_scope: accessPackageResourceScope.
        :type access_package_resource_scope: ~identity_governance.models.MicrosoftGraphAccessPackageResourceScope
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param alt_sec_id:
        :type alt_sec_id: str
        :param connected_organization_id:
        :type connected_organization_id: str
        :param display_name:
        :type display_name: str
        :param email:
        :type email: str
        :param object_id:
        :type object_id: str
        :param on_premises_security_identifier:
        :type on_premises_security_identifier: str
        :param principal_name:
        :type principal_name: str
        :param type:
        :type type: str
        :param id1: Read-only.
        :type id1: str
        :param created_by:
        :type created_by: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param microsoft_graph_connected_organization_display_name:
        :type microsoft_graph_connected_organization_display_name: str
        :param identity_sources:
        :type identity_sources: list[dict[str, object]]
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param state:
        :type state: str or ~identity_governance.models.MicrosoftGraphConnectedOrganizationState
        :param external_sponsors:
        :type external_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param internal_sponsors:
        :type internal_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageAssignmentResourceRole, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageAssignmentResourceRole
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageAssignmentResourceRole"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageAssignmentResourceRole(id=id, origin_id=origin_id, origin_system=origin_system, status=status, access_package_assignments=access_package_assignments, access_package_resource_role=access_package_resource_role, access_package_resource_scope=access_package_resource_scope, id_access_package_subject_id=microsoft_graph_entity_id, alt_sec_id=alt_sec_id, connected_organization_id=connected_organization_id, display_name_access_package_subject_display_name=display_name, email=email, object_id=object_id, on_premises_security_identifier=on_premises_security_identifier, principal_name=principal_name, type=type, id_access_package_subject_connected_organization_id=id1, created_by=created_by, created_date_time=created_date_time, description=description, display_name_access_package_subject_connected_organization_display_name=microsoft_graph_connected_organization_display_name, identity_sources=identity_sources, modified_by=modified_by, modified_date_time=modified_date_time, state=state, external_sponsors=external_sponsors, internal_sponsors=internal_sponsors)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_access_package_assignment_resource_role.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageAssignmentResourceRole')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageAssignmentResourceRole', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_access_package_assignment_resource_role.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentResourceRoles'}  # type: ignore

    def get_access_package_assignment_resource_role(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_resource_role_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum403"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum404"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageAssignmentResourceRole"
        """Get accessPackageAssignmentResourceRoles from identityGovernance.

        Get accessPackageAssignmentResourceRoles from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_resource_role_id: key: id of
         accessPackageAssignmentResourceRole.
        :type access_package_assignment_resource_role_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum403]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum404]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageAssignmentResourceRole, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageAssignmentResourceRole
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageAssignmentResourceRole"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_access_package_assignment_resource_role.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentResourceRole-id': self._serialize.url("access_package_assignment_resource_role_id", access_package_assignment_resource_role_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageAssignmentResourceRole', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_access_package_assignment_resource_role.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentResourceRoles/{accessPackageAssignmentResourceRole-id}'}  # type: ignore

    def update_access_package_assignment_resource_role(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_resource_role_id,  # type: str
        id=None,  # type: Optional[str]
        origin_id=None,  # type: Optional[str]
        origin_system=None,  # type: Optional[str]
        status=None,  # type: Optional[str]
        access_package_assignments=None,  # type: Optional[List["models.MicrosoftGraphAccessPackageAssignment"]]
        access_package_resource_role=None,  # type: Optional["models.MicrosoftGraphAccessPackageResourceRole"]
        access_package_resource_scope=None,  # type: Optional["models.MicrosoftGraphAccessPackageResourceScope"]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        alt_sec_id=None,  # type: Optional[str]
        connected_organization_id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        email=None,  # type: Optional[str]
        object_id=None,  # type: Optional[str]
        on_premises_security_identifier=None,  # type: Optional[str]
        principal_name=None,  # type: Optional[str]
        type=None,  # type: Optional[str]
        id1=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        microsoft_graph_connected_organization_display_name=None,  # type: Optional[str]
        identity_sources=None,  # type: Optional[List[Dict[str, object]]]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        state=None,  # type: Optional[Union[str, "models.MicrosoftGraphConnectedOrganizationState"]]
        external_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        internal_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property accessPackageAssignmentResourceRoles in identityGovernance.

        Update the navigation property accessPackageAssignmentResourceRoles in identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_resource_role_id: key: id of
         accessPackageAssignmentResourceRole.
        :type access_package_assignment_resource_role_id: str
        :param id: Read-only.
        :type id: str
        :param origin_id:
        :type origin_id: str
        :param origin_system:
        :type origin_system: str
        :param status:
        :type status: str
        :param access_package_assignments:
        :type access_package_assignments: list[~identity_governance.models.MicrosoftGraphAccessPackageAssignment]
        :param access_package_resource_role: accessPackageResourceRole.
        :type access_package_resource_role: ~identity_governance.models.MicrosoftGraphAccessPackageResourceRole
        :param access_package_resource_scope: accessPackageResourceScope.
        :type access_package_resource_scope: ~identity_governance.models.MicrosoftGraphAccessPackageResourceScope
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param alt_sec_id:
        :type alt_sec_id: str
        :param connected_organization_id:
        :type connected_organization_id: str
        :param display_name:
        :type display_name: str
        :param email:
        :type email: str
        :param object_id:
        :type object_id: str
        :param on_premises_security_identifier:
        :type on_premises_security_identifier: str
        :param principal_name:
        :type principal_name: str
        :param type:
        :type type: str
        :param id1: Read-only.
        :type id1: str
        :param created_by:
        :type created_by: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param microsoft_graph_connected_organization_display_name:
        :type microsoft_graph_connected_organization_display_name: str
        :param identity_sources:
        :type identity_sources: list[dict[str, object]]
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param state:
        :type state: str or ~identity_governance.models.MicrosoftGraphConnectedOrganizationState
        :param external_sponsors:
        :type external_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param internal_sponsors:
        :type internal_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageAssignmentResourceRole(id=id, origin_id=origin_id, origin_system=origin_system, status=status, access_package_assignments=access_package_assignments, access_package_resource_role=access_package_resource_role, access_package_resource_scope=access_package_resource_scope, id_access_package_subject_id=microsoft_graph_entity_id, alt_sec_id=alt_sec_id, connected_organization_id=connected_organization_id, display_name_access_package_subject_display_name=display_name, email=email, object_id=object_id, on_premises_security_identifier=on_premises_security_identifier, principal_name=principal_name, type=type, id_access_package_subject_connected_organization_id=id1, created_by=created_by, created_date_time=created_date_time, description=description, display_name_access_package_subject_connected_organization_display_name=microsoft_graph_connected_organization_display_name, identity_sources=identity_sources, modified_by=modified_by, modified_date_time=modified_date_time, state=state, external_sponsors=external_sponsors, internal_sponsors=internal_sponsors)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_access_package_assignment_resource_role.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentResourceRole-id': self._serialize.url("access_package_assignment_resource_role_id", access_package_assignment_resource_role_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageAssignmentResourceRole')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_access_package_assignment_resource_role.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentResourceRoles/{accessPackageAssignmentResourceRole-id}'}  # type: ignore

    def delete_access_package_assignment_resource_role(
        self,
        access_package_assignment_request_id,  # type: str
        access_package_assignment_resource_role_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property accessPackageAssignmentResourceRoles for identityGovernance.

        Delete navigation property accessPackageAssignmentResourceRoles for identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param access_package_assignment_resource_role_id: key: id of
         accessPackageAssignmentResourceRole.
        :type access_package_assignment_resource_role_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_access_package_assignment_resource_role.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
            'accessPackageAssignmentResourceRole-id': self._serialize.url("access_package_assignment_resource_role_id", access_package_assignment_resource_role_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_access_package_assignment_resource_role.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/accessPackageAssignmentResourceRoles/{accessPackageAssignmentResourceRole-id}'}  # type: ignore

    def get_target(
        self,
        access_package_assignment_request_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum446"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum447"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAccessPackageSubject"
        """Get target from identityGovernance.

        Get target from identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum446]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum447]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAccessPackageSubject, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphAccessPackageSubject
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAccessPackageSubject"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_target.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAccessPackageSubject', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_target.metadata = {'url': '/identityGovernance/entitlementManagement/accessPackageAssignmentRequests/{accessPackageAssignmentRequest-id}/accessPackageAssignment/target'}  # type: ignore

    def update_target(
        self,
        access_package_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        alt_sec_id=None,  # type: Optional[str]
        connected_organization_id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        email=None,  # type: Optional[str]
        object_id=None,  # type: Optional[str]
        on_premises_security_identifier=None,  # type: Optional[str]
        principal_name=None,  # type: Optional[str]
        type=None,  # type: Optional[str]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        created_by=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        microsoft_graph_connected_organization_display_name=None,  # type: Optional[str]
        identity_sources=None,  # type: Optional[List[Dict[str, object]]]
        modified_by=None,  # type: Optional[str]
        modified_date_time=None,  # type: Optional[datetime.datetime]
        state=None,  # type: Optional[Union[str, "models.MicrosoftGraphConnectedOrganizationState"]]
        external_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        internal_sponsors=None,  # type: Optional[List["models.MicrosoftGraphDirectoryObject"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property target in identityGovernance.

        Update the navigation property target in identityGovernance.

        :param access_package_assignment_request_id: key: id of accessPackageAssignmentRequest.
        :type access_package_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param alt_sec_id:
        :type alt_sec_id: str
        :param connected_organization_id:
        :type connected_organization_id: str
        :param display_name:
        :type display_name: str
        :param email:
        :type email: str
        :param object_id:
        :type object_id: str
        :param on_premises_security_identifier:
        :type on_premises_security_identifier: str
        :param principal_name:
        :type principal_name: str
        :param type:
        :type type: str
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param created_by:
        :type created_by: str
        :param created_date_time:
        :type created_date_time: ~datetime.datetime
        :param description:
        :type description: str
        :param microsoft_graph_connected_organization_display_name:
        :type microsoft_graph_connected_organization_display_name: str
        :param identity_sources:
        :type identity_sources: list[dict[str, object]]
        :param modified_by:
        :type modified_by: str
        :param modified_date_time:
        :type modified_date_time: ~datetime.datetime
        :param state:
        :type state: str or ~identity_governance.models.MicrosoftGraphConnectedOrganizationState
        :param external_sponsors:
        :type external_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :param internal_sponsors:
        :type internal_sponsors: list[~identity_governance.models.MicrosoftGraphDirectoryObject]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphAccessPackageSubject(id=id, alt_sec_id=alt_sec_id, connected_organization_id=connected_organization_id, display_name=display_name, email=email, object_id=object_id, on_premises_security_identifier=on_premises_security_identifier, principal_name=principal_name, type=type, id_connected_organization_id=microsoft_graph_entity_id, created_by=created_by, created_date_time=created_date_time, description=description, display_name_connected_organization_display_name=microsoft_graph_connected_organization_display_name, identity_sources=identity_sources, modified_by=modified_by, modified_date_time=modified_date_time, state=state, external_sponsors=external_sponsors, internal_sponsors=internal_sponsors)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_target.metadata['url']  # type: ignore
        path_format_arguments = {
            'accessPackageAssignmentRequest-id': self._serialize.url("access_package_assignment_request_id", access_package_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphAccessPackageSubject')
[...]
