# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class PrivilegedRoleAssignmentRequestOperations(object):
    """PrivilegedRoleAssignmentRequestOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~identity_governance.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def cancel(
        self,
        privileged_role_assignment_request_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrivilegedRoleAssignmentRequest"
        """Invoke action cancel.

        Invoke action cancel.

        :param privileged_role_assignment_request_id: key: id of privilegedRoleAssignmentRequest.
        :type privileged_role_assignment_request_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrivilegedRoleAssignmentRequest, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphPrivilegedRoleAssignmentRequest
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrivilegedRoleAssignmentRequest"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.cancel.metadata['url']  # type: ignore
        path_format_arguments = {
            'privilegedRoleAssignmentRequest-id': self._serialize.url("privileged_role_assignment_request_id", privileged_role_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.post(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrivilegedRoleAssignmentRequest', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    cancel.metadata = {'url': '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/microsoft.graph.cancel'}  # type: ignore

    def get_role_info(
        self,
        privileged_role_assignment_request_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum1396"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum1397"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrivilegedRole"
        """Get roleInfo from privilegedRoleAssignmentRequests.

        Get roleInfo from privilegedRoleAssignmentRequests.

        :param privileged_role_assignment_request_id: key: id of privilegedRoleAssignmentRequest.
        :type privileged_role_assignment_request_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~identity_governance.models.Enum1396]
        :param expand: Expand related entities.
        :type expand: list[str or ~identity_governance.models.Enum1397]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrivilegedRole, or the result of cls(response)
        :rtype: ~identity_governance.models.MicrosoftGraphPrivilegedRole
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrivilegedRole"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_role_info.metadata['url']  # type: ignore
        path_format_arguments = {
            'privilegedRoleAssignmentRequest-id': self._serialize.url("privileged_role_assignment_request_id", privileged_role_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrivilegedRole', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_role_info.metadata = {'url': '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/roleInfo'}  # type: ignore

    def update_role_info(
        self,
        privileged_role_assignment_request_id,  # type: str
        id=None,  # type: Optional[str]
        name=None,  # type: Optional[str]
        assignments=None,  # type: Optional[List["models.MicrosoftGraphPrivilegedRoleAssignment"]]
        settings=None,  # type: Optional["models.MicrosoftGraphPrivilegedRoleSettings"]
        summary=None,  # type: Optional["models.MicrosoftGraphPrivilegedRoleSummary"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property roleInfo in privilegedRoleAssignmentRequests.

        Update the navigation property roleInfo in privilegedRoleAssignmentRequests.

        :param privileged_role_assignment_request_id: key: id of privilegedRoleAssignmentRequest.
        :type privileged_role_assignment_request_id: str
        :param id: Read-only.
        :type id: str
        :param name:
        :type name: str
        :param assignments:
        :type assignments: list[~identity_governance.models.MicrosoftGraphPrivilegedRoleAssignment]
        :param settings: privilegedRoleSettings.
        :type settings: ~identity_governance.models.MicrosoftGraphPrivilegedRoleSettings
        :param summary: privilegedRoleSummary.
        :type summary: ~identity_governance.models.MicrosoftGraphPrivilegedRoleSummary
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphPrivilegedRole(id=id, name=name, assignments=assignments, settings=settings, summary=summary)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_role_info.metadata['url']  # type: ignore
        path_format_arguments = {
            'privilegedRoleAssignmentRequest-id': self._serialize.url("privileged_role_assignment_request_id", privileged_role_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphPrivilegedRole')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_role_info.metadata = {'url': '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/roleInfo'}  # type: ignore

    def delete_role_info(
        self,
        privileged_role_assignment_request_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property roleInfo for privilegedRoleAssignmentRequests.

        Delete navigation property roleInfo for privilegedRoleAssignmentRequests.

        :param privileged_role_assignment_request_id: key: id of privilegedRoleAssignmentRequest.
        :type privileged_role_assignment_request_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_role_info.metadata['url']  # type: ignore
        path_format_arguments = {
            'privilegedRoleAssignmentRequest-id': self._serialize.url("privileged_role_assignment_request_id", privileged_role_assignment_request_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_role_info.metadata = {'url': '/privilegedRoleAssignmentRequests/{privilegedRoleAssignmentRequest-id}/roleInfo'}  # type: ignore

    def my(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphPrivilegedRoleAssignmentRequest"]
        """Invoke function my.

        Invoke function my.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphPrivilegedRoleAssignmentRequest, or the result of cls(response)
        :rtype: list[~identity_governance.models.MicrosoftGraphPrivilegedRoleAssignmentRequest]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphPrivilegedRoleAssignmentRequest"]]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.my.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphPrivilegedRoleAssignmentRequest]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    my.metadata = {'url': '/privilegedRoleAssignmentRequests/microsoft.graph.my()'}  # type: ignore
