# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class GroupCalendarCalendarViewOperations(object):
    """GroupCalendarCalendarViewOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~calendar.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_attachment(
        self,
        group_id,  # type: str
        event_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum27"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum28"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfAttachment"]
        """Get attachments from groups.

        Get attachments from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~calendar.models.Enum27]
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum28]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfAttachment or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~calendar.models.CollectionOfAttachment]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfAttachment"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_attachment.metadata['url']  # type: ignore
                path_format_arguments = {
                    'group-id': self._serialize.url("group_id", group_id, 'str'),
                    'event-id': self._serialize.url("event_id", event_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfAttachment', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_attachment.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/attachments'}  # type: ignore

    def create_attachment(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        content_type_parameter=None,  # type: Optional[str]
        is_inline=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        size=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAttachment"
        """Create new navigation property to attachments for groups.

        Create new navigation property to attachments for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :param content_type_parameter: The MIME type.
        :type content_type_parameter: str
        :param is_inline: true if the attachment is an inline attachment; otherwise, false.
        :type is_inline: bool
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param name: The attachment's file name.
        :type name: str
        :param size: The length of the attachment in bytes.
        :type size: int
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAttachment, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphAttachment
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAttachment"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphAttachment(id=id, content_type=content_type_parameter, is_inline=is_inline, last_modified_date_time=last_modified_date_time, name=name, size=size)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_attachment.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphAttachment')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAttachment', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_attachment.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/attachments'}  # type: ignore

    def get_attachment(
        self,
        group_id,  # type: str
        event_id,  # type: str
        attachment_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum29"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAttachment"
        """Get attachments from groups.

        Get attachments from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param attachment_id: key: id of attachment.
        :type attachment_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum29]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAttachment, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphAttachment
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAttachment"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_attachment.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'attachment-id': self._serialize.url("attachment_id", attachment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAttachment', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_attachment.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}'}  # type: ignore

    def update_attachment(
        self,
        group_id,  # type: str
        event_id,  # type: str
        attachment_id,  # type: str
        id=None,  # type: Optional[str]
        content_type_parameter=None,  # type: Optional[str]
        is_inline=None,  # type: Optional[bool]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        size=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property attachments in groups.

        Update the navigation property attachments in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param attachment_id: key: id of attachment.
        :type attachment_id: str
        :param id: Read-only.
        :type id: str
        :param content_type_parameter: The MIME type.
        :type content_type_parameter: str
        :param is_inline: true if the attachment is an inline attachment; otherwise, false.
        :type is_inline: bool
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param name: The attachment's file name.
        :type name: str
        :param size: The length of the attachment in bytes.
        :type size: int
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphAttachment(id=id, content_type=content_type_parameter, is_inline=is_inline, last_modified_date_time=last_modified_date_time, name=name, size=size)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_attachment.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'attachment-id': self._serialize.url("attachment_id", attachment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphAttachment')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_attachment.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}'}  # type: ignore

    def delete_attachment(
        self,
        group_id,  # type: str
        event_id,  # type: str
        attachment_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property attachments for groups.

        Delete navigation property attachments for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param attachment_id: key: id of attachment.
        :type attachment_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_attachment.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'attachment-id': self._serialize.url("attachment_id", attachment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_attachment.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/{attachment-id}'}  # type: ignore

    def get_calendar(
        self,
        group_id,  # type: str
        event_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum30"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum31"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCalendar"
        """Get calendar from groups.

        Get calendar from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum30]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum31]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCalendar, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphCalendar
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCalendar"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCalendar', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_calendar.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/calendar'}  # type: ignore

    def update_calendar(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        allowed_online_meeting_providers=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]]
        can_edit=None,  # type: Optional[bool]
        can_share=None,  # type: Optional[bool]
        can_view_private_items=None,  # type: Optional[bool]
        change_key=None,  # type: Optional[str]
        color=None,  # type: Optional[Union[str, "models.MicrosoftGraphCalendarColor"]]
        default_online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        is_removable=None,  # type: Optional[bool]
        is_tallying_responses=None,  # type: Optional[bool]
        name=None,  # type: Optional[str]
        owner=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        calendar_permissions=None,  # type: Optional[List["models.MicrosoftGraphCalendarPermission"]]
        calendar_view=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        events=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property calendar in groups.

        Update the navigation property calendar in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :param allowed_online_meeting_providers: Represent the online meeting service providers that
         can be used to create online meetings in this calendar. Possible values are: unknown,
         skypeForBusiness, skypeForConsumer, teamsForBusiness.
        :type allowed_online_meeting_providers: list[str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType]
        :param can_edit: True if the user can write to the calendar, false otherwise. This property is
         true for the user who created the calendar. This property is also true for a user who has been
         shared a calendar and granted write access.
        :type can_edit: bool
        :param can_share: True if the user has the permission to share the calendar, false otherwise.
         Only the user who created the calendar can share it.
        :type can_share: bool
        :param can_view_private_items: True if the user can read calendar items that have been marked
         private, false otherwise.
        :type can_view_private_items: bool
        :param change_key: Identifies the version of the calendar object. Every time the calendar is
         changed, changeKey changes as well. This allows Exchange to apply changes to the correct
         version of the object. Read-only.
        :type change_key: str
        :param color:
        :type color: str or ~calendar.models.MicrosoftGraphCalendarColor
        :param default_online_meeting_provider:
        :type default_online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param is_removable: Indicates whether this user calendar can be deleted from the user mailbox.
        :type is_removable: bool
        :param is_tallying_responses: Indicates whether this user calendar supports tracking of meeting
         responses. Only meeting invites sent from users' primary calendars support tracking of meeting
         responses.
        :type is_tallying_responses: bool
        :param name: The calendar name.
        :type name: str
        :param owner: emailAddress.
        :type owner: ~calendar.models.MicrosoftGraphEmailAddress
        :param calendar_permissions: The permissions of the users with whom the calendar is shared.
        :type calendar_permissions: list[~calendar.models.MicrosoftGraphCalendarPermission]
        :param calendar_view: The calendar view for the calendar. Navigation property. Read-only.
        :type calendar_view: list[~calendar.models.MicrosoftGraphEvent]
        :param events: The events in the calendar. Navigation property. Read-only.
        :type events: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the calendar. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the calendar. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphCalendar(id=id, allowed_online_meeting_providers=allowed_online_meeting_providers, can_edit=can_edit, can_share=can_share, can_view_private_items=can_view_private_items, change_key=change_key, color=color, default_online_meeting_provider=default_online_meeting_provider, is_removable=is_removable, is_tallying_responses=is_tallying_responses, name=name, owner=owner, calendar_permissions=calendar_permissions, calendar_view=calendar_view, events=events, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphCalendar')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_calendar.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/calendar'}  # type: ignore

    def delete_calendar(
        self,
        group_id,  # type: str
        event_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property calendar for groups.

        Delete navigation property calendar for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_calendar.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/calendar'}  # type: ignore

    def list_extension(
        self,
        group_id,  # type: str
        event_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum32"]]]
        select=None,  # type: Optional[List[str]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfExtension"]
        """Get extensions from groups.

        Get extensions from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~calendar.models.Enum32]
        :param select: Select properties to be returned.
        :type select: list[str]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfExtension or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~calendar.models.CollectionOfExtension]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfExtension"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_extension.metadata['url']  # type: ignore
                path_format_arguments = {
                    'group-id': self._serialize.url("group_id", group_id, 'str'),
                    'event-id': self._serialize.url("event_id", event_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfExtension', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_extension.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/extensions'}  # type: ignore

    def create_extension(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphExtension"
        """Create new navigation property to extensions for groups.

        Create new navigation property to extensions for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphExtension, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphExtension
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphExtension"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphExtension(id=id)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphExtension')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphExtension', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_extension.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/extensions'}  # type: ignore

    def get_extension(
        self,
        group_id,  # type: str
        event_id,  # type: str
        extension_id,  # type: str
        select=None,  # type: Optional[List[str]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphExtension"
        """Get extensions from groups.

        Get extensions from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param select: Select properties to be returned.
        :type select: list[str]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphExtension, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphExtension
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphExtension"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphExtension', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_extension.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/{extension-id}'}  # type: ignore

    def update_extension(
        self,
        group_id,  # type: str
        event_id,  # type: str
        extension_id,  # type: str
        id=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property extensions in groups.

        Update the navigation property extensions in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param id: Read-only.
        :type id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphExtension(id=id)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphExtension')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_extension.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/{extension-id}'}  # type: ignore

    def delete_extension(
        self,
        group_id,  # type: str
        event_id,  # type: str
        extension_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property extensions for groups.

        Delete navigation property extensions for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param extension_id: key: id of extension.
        :type extension_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_extension.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'extension-id': self._serialize.url("extension_id", extension_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_extension.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/extensions/{extension-id}'}  # type: ignore

    def list_instance(
        self,
        group_id,  # type: str
        event_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum33"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum34"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum35"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfEvent0"]
        """Get instances from groups.

        Get instances from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~calendar.models.Enum33]
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum34]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum35]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfEvent0 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~calendar.models.CollectionOfEvent0]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfEvent0"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_instance.metadata['url']  # type: ignore
                path_format_arguments = {
                    'group-id': self._serialize.url("group_id", group_id, 'str'),
                    'event-id': self._serialize.url("event_id", event_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfEvent0', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_instance.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/instances'}  # type: ignore

    def create_instance(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        i_cal_u_id=None,  # type: Optional[str]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Create new navigation property to instances for groups.

        Create new navigation property to instances for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param i_cal_u_id: A unique identifier that is shared by all instances of an event across
         different calendars. Read-only.
        :type i_cal_u_id: str
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
         locations properties always correspond with each other. If you update the location property,
         any prior locations in the locations collection would be removed and replaced by the new
         location value.
        :type locations: list[~calendar.models.MicrosoftGraphLocation]
        :param online_meeting_provider:
        :type online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param online_meeting_url: A URL for an online meeting. The property is set only when an
         organizer specifies an event as an online meeting such as a Skype meeting. Read-only.
        :type online_meeting_url: str
        :param original_end_time_zone: The end time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_end_time_zone: str
        :param original_start: The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type original_start: ~datetime.datetime
        :param original_start_time_zone: The start time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_start_time_zone: str
        :param reminder_minutes_before_start: The number of minutes before the event start time that
         the reminder alert occurs.
        :type reminder_minutes_before_start: int
        :param response_requested: Default is true, which represents the organizer would like an
         invitee to send a response to the event.
        :type response_requested: bool
        :param response_status: responseStatus.
        :type response_status: ~calendar.models.MicrosoftGraphResponseStatus
        :param sensitivity:
        :type sensitivity: str or ~calendar.models.MicrosoftGraphSensitivity
        :param series_master_id: The ID for the recurring series master item, if this event is part of
         a recurring series.
        :type series_master_id: str
        :param show_as:
        :type show_as: str or ~calendar.models.MicrosoftGraphFreeBusyStatus
        :param start: dateTimeTimeZone.
        :type start: ~calendar.models.MicrosoftGraphDateTimeZone
        :param subject: The text of the event's subject line.
        :type subject: str
        :param transaction_id: A custom identifier specified by a client app for the server to avoid
         redundant POST operations in case of client retries to create the same event. This is useful
         when low network connectivity causes the client to time out before receiving a response from
         the server for the client's prior create-event request. After you set transactionId when
         creating an event, you cannot change transactionId in a subsequent update. This property is
         only returned in a response payload if an app has set it. Optional.
        :type transaction_id: str
        :param type:
        :type type: str or ~calendar.models.MicrosoftGraphEventType
        :param web_link: The URL to open the event in Outlook on the web.Outlook on the web opens the
         event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web
         prompts you to sign in.This URL can be accessed from within an iFrame.
        :type web_link: str
        :param attachments: The collection of fileAttachment and itemAttachment attachments for the
         event. Navigation property. Read-only. Nullable.
        :type attachments: list[~calendar.models.MicrosoftGraphAttachment]
        :param calendar: calendar.
        :type calendar: ~calendar.models.MicrosoftGraphCalendar
        :param extensions: The collection of open extensions defined for the event. Read-only.
         Nullable.
        :type extensions: list[~calendar.models.MicrosoftGraphExtension]
        :param instances: The instances of the event. Navigation property. Read-only. Nullable.
        :type instances: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the event. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the event. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param pattern: recurrencePattern.
        :type pattern: ~calendar.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~calendar.models.MicrosoftGraphRecurrenceRange
        :param email_address: emailAddress.
        :type email_address: ~calendar.models.MicrosoftGraphEmailAddress
        :param conference_id: The ID of the conference.
        :type conference_id: str
        :param join_url: The external link that launches the online meeting. This is a URL that clients
         will launch into a browser and will redirect the user to join the meeting.
        :type join_url: str
        :param phones: All of the phone numbers associated with this conference.
        :type phones: list[~calendar.models.MicrosoftGraphPhone]
        :param quick_dial: The pre-formatted quickdial for this call.
        :type quick_dial: str
        :param toll_free_numbers: The toll free numbers that can be used to join the conference.
        :type toll_free_numbers: list[str]
        :param toll_number: The toll number that can be used to join the conference.
        :type toll_number: str
        :param address: physicalAddress.
        :type address: ~calendar.models.MicrosoftGraphPhysicalAddress
        :param coordinates: outlookGeoCoordinates.
        :type coordinates: ~calendar.models.MicrosoftGraphOutlookGeoCoordinates
        :param display_name: The name associated with the location.
        :type display_name: str
        :param location_email_address: Optional email address of the location.
        :type location_email_address: str
        :param location_type:
        :type location_type: str or ~calendar.models.MicrosoftGraphLocationType
        :param location_uri: Optional URI representing the location.
        :type location_uri: str
        :param unique_id: For internal use only.
        :type unique_id: str
        :param unique_id_type:
        :type unique_id_type: str or ~calendar.models.MicrosoftGraphLocationUniqueIdType
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphEvent(id=id, categories=categories, change_key=change_key, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, allow_new_time_proposals=allow_new_time_proposals, attendees=attendees, body=body, body_preview=body_preview, end=end, has_attachments=has_attachments, i_cal_u_id=i_cal_u_id, importance=importance, is_all_day=is_all_day, is_cancelled=is_cancelled, is_online_meeting=is_online_meeting, is_organizer=is_organizer, is_reminder_on=is_reminder_on, locations=locations, online_meeting_provider=online_meeting_provider, online_meeting_url=online_meeting_url, original_end_time_zone=original_end_time_zone, original_start=original_start, original_start_time_zone=original_start_time_zone, reminder_minutes_before_start=reminder_minutes_before_start, response_requested=response_requested, response_status=response_status, sensitivity=sensitivity, series_master_id=series_master_id, show_as=show_as, start=start, subject=subject, transaction_id=transaction_id, type=type, web_link=web_link, attachments=attachments, calendar=calendar, extensions=extensions, instances=instances, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, pattern=pattern, range=range, email_address=email_address, conference_id=conference_id, join_url=join_url, phones=phones, quick_dial=quick_dial, toll_free_numbers=toll_free_numbers, toll_number=toll_number, address=address, coordinates=coordinates, display_name=display_name, location_email_address=location_email_address, location_type=location_type, location_uri=location_uri, unique_id=unique_id, unique_id_type=unique_id_type)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_instance.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphEvent')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_instance.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/instances'}  # type: ignore

    def get_instance(
        self,
        group_id,  # type: str
        event_id,  # type: str
        event_id1,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum36"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum37"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Get instances from groups.

        Get instances from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param event_id1: key: id of event.
        :type event_id1: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum36]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum37]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_instance.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'event-id1': self._serialize.url("event_id1", event_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_instance.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}'}  # type: ignore

    def update_instance(
        self,
        group_id,  # type: str
        event_id,  # type: str
        event_id1,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        i_cal_u_id=None,  # type: Optional[str]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property instances in groups.

        Update the navigation property instances in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param event_id1: key: id of event.
        :type event_id1: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param i_cal_u_id: A unique identifier that is shared by all instances of an event across
         different calendars. Read-only.
        :type i_cal_u_id: str
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
         locations properties always correspond with each other. If you update the location property,
         any prior locations in the locations collection would be removed and replaced by the new
         location value.
        :type locations: list[~calendar.models.MicrosoftGraphLocation]
        :param online_meeting_provider:
        :type online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param online_meeting_url: A URL for an online meeting. The property is set only when an
         organizer specifies an event as an online meeting such as a Skype meeting. Read-only.
        :type online_meeting_url: str
        :param original_end_time_zone: The end time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_end_time_zone: str
        :param original_start: The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type original_start: ~datetime.datetime
        :param original_start_time_zone: The start time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_start_time_zone: str
        :param reminder_minutes_before_start: The number of minutes before the event start time that
         the reminder alert occurs.
        :type reminder_minutes_before_start: int
        :param response_requested: Default is true, which represents the organizer would like an
         invitee to send a response to the event.
        :type response_requested: bool
        :param response_status: responseStatus.
        :type response_status: ~calendar.models.MicrosoftGraphResponseStatus
        :param sensitivity:
        :type sensitivity: str or ~calendar.models.MicrosoftGraphSensitivity
        :param series_master_id: The ID for the recurring series master item, if this event is part of
         a recurring series.
        :type series_master_id: str
        :param show_as:
        :type show_as: str or ~calendar.models.MicrosoftGraphFreeBusyStatus
        :param start: dateTimeTimeZone.
        :type start: ~calendar.models.MicrosoftGraphDateTimeZone
        :param subject: The text of the event's subject line.
        :type subject: str
        :param transaction_id: A custom identifier specified by a client app for the server to avoid
         redundant POST operations in case of client retries to create the same event. This is useful
         when low network connectivity causes the client to time out before receiving a response from
         the server for the client's prior create-event request. After you set transactionId when
         creating an event, you cannot change transactionId in a subsequent update. This property is
         only returned in a response payload if an app has set it. Optional.
        :type transaction_id: str
        :param type:
        :type type: str or ~calendar.models.MicrosoftGraphEventType
        :param web_link: The URL to open the event in Outlook on the web.Outlook on the web opens the
         event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web
         prompts you to sign in.This URL can be accessed from within an iFrame.
        :type web_link: str
        :param attachments: The collection of fileAttachment and itemAttachment attachments for the
         event. Navigation property. Read-only. Nullable.
        :type attachments: list[~calendar.models.MicrosoftGraphAttachment]
        :param calendar: calendar.
        :type calendar: ~calendar.models.MicrosoftGraphCalendar
        :param extensions: The collection of open extensions defined for the event. Read-only.
         Nullable.
        :type extensions: list[~calendar.models.MicrosoftGraphExtension]
        :param instances: The instances of the event. Navigation property. Read-only. Nullable.
        :type instances: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the event. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the event. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param pattern: recurrencePattern.
        :type pattern: ~calendar.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~calendar.models.MicrosoftGraphRecurrenceRange
        :param email_address: emailAddress.
        :type email_address: ~calendar.models.MicrosoftGraphEmailAddress
        :param conference_id: The ID of the conference.
        :type conference_id: str
        :param join_url: The external link that launches the online meeting. This is a URL that clients
         will launch into a browser and will redirect the user to join the meeting.
        :type join_url: str
        :param phones: All of the phone numbers associated with this conference.
        :type phones: list[~calendar.models.MicrosoftGraphPhone]
        :param quick_dial: The pre-formatted quickdial for this call.
        :type quick_dial: str
        :param toll_free_numbers: The toll free numbers that can be used to join the conference.
        :type toll_free_numbers: list[str]
        :param toll_number: The toll number that can be used to join the conference.
        :type toll_number: str
        :param address: physicalAddress.
        :type address: ~calendar.models.MicrosoftGraphPhysicalAddress
        :param coordinates: outlookGeoCoordinates.
        :type coordinates: ~calendar.models.MicrosoftGraphOutlookGeoCoordinates
        :param display_name: The name associated with the location.
        :type display_name: str
        :param location_email_address: Optional email address of the location.
        :type location_email_address: str
        :param location_type:
        :type location_type: str or ~calendar.models.MicrosoftGraphLocationType
        :param location_uri: Optional URI representing the location.
        :type location_uri: str
        :param unique_id: For internal use only.
        :type unique_id: str
        :param unique_id_type:
        :type unique_id_type: str or ~calendar.models.MicrosoftGraphLocationUniqueIdType
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphEvent(id=id, categories=categories, change_key=change_key, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, allow_new_time_proposals=allow_new_time_proposals, attendees=attendees, body=body, body_preview=body_preview, end=end, has_attachments=has_attachments, i_cal_u_id=i_cal_u_id, importance=importance, is_all_day=is_all_day, is_cancelled=is_cancelled, is_online_meeting=is_online_meeting, is_organizer=is_organizer, is_reminder_on=is_reminder_on, locations=locations, online_meeting_provider=online_meeting_provider, online_meeting_url=online_meeting_url, original_end_time_zone=original_end_time_zone, original_start=original_start, original_start_time_zone=original_start_time_zone, reminder_minutes_before_start=reminder_minutes_before_start, response_requested=response_requested, response_status=response_status, sensitivity=sensitivity, series_master_id=series_master_id, show_as=show_as, start=start, subject=subject, transaction_id=transaction_id, type=type, web_link=web_link, attachments=attachments, calendar=calendar, extensions=extensions, instances=instances, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, pattern=pattern, range=range, email_address=email_address, conference_id=conference_id, join_url=join_url, phones=phones, quick_dial=quick_dial, toll_free_numbers=toll_free_numbers, toll_number=toll_number, address=address, coordinates=coordinates, display_name=display_name, location_email_address=location_email_address, location_type=location_type, location_uri=location_uri, unique_id=unique_id, unique_id_type=unique_id_type)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_instance.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'event-id1': self._serialize.url("event_id1", event_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphEvent')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_instance.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}'}  # type: ignore

    def delete_instance(
        self,
        group_id,  # type: str
        event_id,  # type: str
        event_id1,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property instances for groups.

        Delete navigation property instances for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param event_id1: key: id of event.
        :type event_id1: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_instance.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
            'event-id1': self._serialize.url("event_id1", event_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_instance.metadata = {'url': '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}'}  # type: ignore

    def list_multi_value_extended_property(
        self,
        group_id,  # type: str
        event_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum38"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum39"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfMultiValueLegacyExtendedProperty"]
[...]
