#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v
export PYBUILD_SYSTEM=distutils

%:
	dh $@ --with python3 --buildsystem=pybuild --system=custom

override_dh_install:
	mkdir -p debian/msgraph-cli/opt/mg
	cp -a python_env/* debian/msgraph-cli/opt/mg
	mkdir -p debian/msgraph-cli/usr/bin/
	echo "\043!/usr/bin/env bash\nAZ_INSTALLER=DEB /opt/mg/bin/python3 -Im msgraph.cli \"\044\100\"" > debian/msgraph-cli/usr/bin/mg
	chmod 0755 debian/msgraph-cli/usr/bin/mg
	mkdir -p debian/msgraph-cli/etc/bash_completion.d/
	cat ../../az.completion > debian/msgraph-cli/etc/bash_completion.d/msgraph-cli
	dpkg-shlibdeps -v --warnings=7 -Tdebian/msgraph-cli.substvars -dDepends -edebian/msgraph-cli/opt/mg/bin/python3 debian/msgraph-cli/opt/mg/lib/python3.6/lib-dynload/_ssl.cpython-36m-x86_64-linux-gnu.so


override_dh_strip:
	dh_strip --exclude=_cffi_backend

