# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, IO, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class SiteListActivityOperations(object):
    """SiteListActivityOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~sites.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get_drive_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum159"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum160"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDriveItem"
        """Get driveItem from sites.

        Get driveItem from sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~sites.models.Enum159]
        :param expand: Expand related entities.
        :type expand: list[str or ~sites.models.Enum160]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDriveItem, or the result of cls(response)
        :rtype: ~sites.models.MicrosoftGraphDriveItem
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDriveItem"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_drive_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDriveItem', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_drive_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/driveItem'}  # type: ignore

    def update_drive_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        e_tag=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        web_url=None,  # type: Optional[str]
        created_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        last_modified_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        drive_id=None,  # type: Optional[str]
        drive_type=None,  # type: Optional[str]
        microsoft_graph_item_reference_id=None,  # type: Optional[str]
        microsoft_graph_item_reference_name=None,  # type: Optional[str]
        path=None,  # type: Optional[str]
        share_id=None,  # type: Optional[str]
        sharepoint_ids=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        microsoft_graph_item_reference_site_id=None,  # type: Optional[str]
        application=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        device=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        user=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_application=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_device=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_user=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        audio=None,  # type: Optional["models.MicrosoftGraphAudio"]
        content=None,  # type: Optional[bytes]
        c_tag=None,  # type: Optional[str]
        file_system_info=None,  # type: Optional["models.MicrosoftGraphFileSystemInfo"]
        image=None,  # type: Optional["models.MicrosoftGraphImage"]
        location=None,  # type: Optional["models.MicrosoftGraphGeoCoordinates"]
        photo=None,  # type: Optional["models.MicrosoftGraphPhoto"]
        publication=None,  # type: Optional["models.MicrosoftGraphPublicationFacet"]
        root=None,  # type: Optional[Dict[str, object]]
        microsoft_graph_sharepoint_ids=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        size=None,  # type: Optional[int]
        video=None,  # type: Optional["models.MicrosoftGraphVideo"]
        web_dav_url=None,  # type: Optional[str]
        activities=None,  # type: Optional[List["models.MicrosoftGraphItemActivityOld"]]
        analytics=None,  # type: Optional["models.MicrosoftGraphItemAnalytics"]
        children=None,  # type: Optional[List["models.MicrosoftGraphDriveItem"]]
        permissions=None,  # type: Optional[List["models.MicrosoftGraphPermission"]]
        subscriptions=None,  # type: Optional[List["models.MicrosoftGraphSubscription"]]
        thumbnails=None,  # type: Optional[List["models.MicrosoftGraphThumbnailSet"]]
        versions=None,  # type: Optional[List["models.MicrosoftGraphDriveItemVersion"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        microsoft_graph_base_item_created_date_time_created_date_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_base_item_description=None,  # type: Optional[str]
        microsoft_graph_base_item_e_tag=None,  # type: Optional[str]
        microsoft_graph_base_item_last_modified_date_time_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_base_item_name=None,  # type: Optional[str]
        microsoft_graph_base_item_web_url=None,  # type: Optional[str]
        microsoft_graph_user_created_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        microsoft_graph_user_last_modified_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        microsoft_graph_item_reference_drive_id=None,  # type: Optional[str]
        microsoft_graph_item_reference_drive_type=None,  # type: Optional[str]
        id1=None,  # type: Optional[str]
        name1=None,  # type: Optional[str]
        microsoft_graph_item_reference_path=None,  # type: Optional[str]
        microsoft_graph_item_reference_share_id=None,  # type: Optional[str]
        sharepoint_ids1=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        site_id1=None,  # type: Optional[str]
        application1=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        device1=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        user1=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        application2=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        device2=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        user2=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        content_type_parameter=None,  # type: Optional["models.MicrosoftGraphContentTypeInfo"]
        sharepoint_ids2=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        microsoft_graph_list_item_activities=None,  # type: Optional[List["models.MicrosoftGraphItemActivityOld"]]
        microsoft_graph_item_analytics=None,  # type: Optional["models.MicrosoftGraphItemAnalytics"]
        drive_item=None,  # type: Optional["models.MicrosoftGraphDriveItem"]
        microsoft_graph_list_item_versions=None,  # type: Optional[List["models.MicrosoftGraphListItemVersion"]]
        id2=None,  # type: Optional[str]
        id3=None,  # type: Optional[str]
        microsoft_graph_workbook_application=None,  # type: Optional["models.MicrosoftGraphWorkbookApplication"]
        comments=None,  # type: Optional[List["models.MicrosoftGraphWorkbookComment"]]
        functions=None,  # type: Optional["models.MicrosoftGraphWorkbookFunctions"]
        names=None,  # type: Optional[List["models.MicrosoftGraphWorkbookNamedItem"]]
        operations=None,  # type: Optional[List["models.MicrosoftGraphWorkbookOperation"]]
        tables=None,  # type: Optional[List["models.MicrosoftGraphWorkbookTable"]]
        worksheets=None,  # type: Optional[List["models.MicrosoftGraphWorkbookWorksheet"]]
        microsoft_graph_special_folder_name=None,  # type: Optional[str]
        owner=None,  # type: Optional["models.MicrosoftGraphIdentitySet"]
        scope=None,  # type: Optional[str]
        shared_by=None,  # type: Optional["models.MicrosoftGraphIdentitySet"]
        shared_date_time=None,  # type: Optional[datetime.datetime]
        on_click_telemetry_url=None,  # type: Optional[str]
        created_by=None,  # type: Optional["models.MicrosoftGraphIdentitySet"]
        microsoft_graph_remote_item_created_date_time_created_date_time=None,  # type: Optional[datetime.datetime]
        file=None,  # type: Optional["models.MicrosoftGraphFile"]
        microsoft_graph_file_system_info_file_system_info=None,  # type: Optional["models.MicrosoftGraphFileSystemInfo"]
        folder=None,  # type: Optional["models.MicrosoftGraphFolder"]
        microsoft_graph_remote_item_id=None,  # type: Optional[str]
        microsoft_graph_image=None,  # type: Optional["models.MicrosoftGraphImage"]
        last_modified_by=None,  # type: Optional["models.MicrosoftGraphIdentitySet"]
        microsoft_graph_remote_item_last_modified_date_time_last_modified_date_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_remote_item_name=None,  # type: Optional[str]
        package=None,  # type: Optional["models.MicrosoftGraphPackage"]
        parent_reference=None,  # type: Optional["models.MicrosoftGraphItemReference"]
        shared=None,  # type: Optional["models.MicrosoftGraphShared"]
        sharepoint_ids3=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        integer_size=None,  # type: Optional[int]
        special_folder=None,  # type: Optional["models.MicrosoftGraphSpecialFolder"]
        microsoft_graph_video=None,  # type: Optional["models.MicrosoftGraphVideo"]
        microsoft_graph_remote_item_web_dav_url_web_dav_url=None,  # type: Optional[str]
        microsoft_graph_remote_item_web_url=None,  # type: Optional[str]
        queued_date_time=None,  # type: Optional[datetime.datetime]
        type=None,  # type: Optional[str]
        child_count=None,  # type: Optional[int]
        view=None,  # type: Optional["models.MicrosoftGraphFolderView"]
        hashes=None,  # type: Optional["models.MicrosoftGraphHashes"]
        mime_type=None,  # type: Optional[str]
        processing_metadata=None,  # type: Optional[bool]
        state=None,  # type: Optional[str]
        album=None,  # type: Optional["models.MicrosoftGraphAlbum"]
        integer_child_count=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property driveItem in sites.

        Update the navigation property driveItem in sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: Date and time of item creation. Read-only.
        :type created_date_time: ~datetime.datetime
        :param description: Provides a user-visible description of the item. Optional.
        :type description: str
        :param e_tag: ETag for the item. Read-only.
        :type e_tag: str
        :param last_modified_date_time: Date and time the item was last modified. Read-only.
        :type last_modified_date_time: ~datetime.datetime
        :param name: The name of the item. Read-write.
        :type name: str
        :param web_url: URL that displays the resource in the browser. Read-only.
        :type web_url: str
        :param created_by_user: Represents an Azure Active Directory user object.
        :type created_by_user: ~sites.models.MicrosoftGraphUser
        :param last_modified_by_user: Represents an Azure Active Directory user object.
        :type last_modified_by_user: ~sites.models.MicrosoftGraphUser
        :param drive_id: Unique identifier of the drive instance that contains the item. Read-only.
        :type drive_id: str
        :param drive_type: Identifies the type of drive. See [drive][] resource for values.
        :type drive_type: str
        :param microsoft_graph_item_reference_id: Unique identifier of the item in the drive. Read-
         only.
        :type microsoft_graph_item_reference_id: str
        :param microsoft_graph_item_reference_name: The name of the item being referenced. Read-only.
        :type microsoft_graph_item_reference_name: str
        :param path: Path that can be used to navigate to the item. Read-only.
        :type path: str
        :param share_id: A unique identifier for a shared resource that can be accessed via the
         [Shares][] API.
        :type share_id: str
        :param sharepoint_ids: sharepointIds.
        :type sharepoint_ids: ~sites.models.MicrosoftGraphSharepointIds
        :param microsoft_graph_item_reference_site_id:
        :type microsoft_graph_item_reference_site_id: str
        :param application: identity.
        :type application: ~sites.models.MicrosoftGraphIdentity
        :param device: identity.
        :type device: ~sites.models.MicrosoftGraphIdentity
        :param user: identity.
        :type user: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_application: identity.
        :type microsoft_graph_identity_application: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_device: identity.
        :type microsoft_graph_identity_device: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_user: identity.
        :type microsoft_graph_identity_user: ~sites.models.MicrosoftGraphIdentity
        :param audio: audio.
        :type audio: ~sites.models.MicrosoftGraphAudio
        :param content: The content stream, if the item represents a file.
        :type content: bytes
        :param c_tag: An eTag for the content of the item. This eTag is not changed if only the
         metadata is changed. Note This property is not returned if the item is a folder. Read-only.
        :type c_tag: str
        :param file_system_info: fileSystemInfo.
        :type file_system_info: ~sites.models.MicrosoftGraphFileSystemInfo
        :param image: image.
        :type image: ~sites.models.MicrosoftGraphImage
        :param location: geoCoordinates.
        :type location: ~sites.models.MicrosoftGraphGeoCoordinates
        :param photo: photo.
        :type photo: ~sites.models.MicrosoftGraphPhoto
        :param publication: publicationFacet.
        :type publication: ~sites.models.MicrosoftGraphPublicationFacet
        :param root: root.
        :type root: dict[str, object]
        :param microsoft_graph_sharepoint_ids: sharepointIds.
        :type microsoft_graph_sharepoint_ids: ~sites.models.MicrosoftGraphSharepointIds
        :param size: Size of the item in bytes. Read-only.
        :type size: long
        :param video: video.
        :type video: ~sites.models.MicrosoftGraphVideo
        :param web_dav_url: WebDAV compatible URL for the item.
        :type web_dav_url: str
        :param activities: The list of recent activities that took place on this item.
        :type activities: list[~sites.models.MicrosoftGraphItemActivityOld]
        :param analytics: itemAnalytics.
        :type analytics: ~sites.models.MicrosoftGraphItemAnalytics
        :param children: Collection containing Item objects for the immediate children of Item. Only
         items representing folders have children. Read-only. Nullable.
        :type children: list[~sites.models.MicrosoftGraphDriveItem]
        :param permissions: The set of permissions for the item. Read-only. Nullable.
        :type permissions: list[~sites.models.MicrosoftGraphPermission]
        :param subscriptions: The set of subscriptions on the item. Only supported on the root of a
         drive.
        :type subscriptions: list[~sites.models.MicrosoftGraphSubscription]
        :param thumbnails: Collection containing [ThumbnailSet][] objects associated with the item. For
         more info, see [getting thumbnails][]. Read-only. Nullable.
        :type thumbnails: list[~sites.models.MicrosoftGraphThumbnailSet]
        :param versions: The list of previous versions of the item. For more info, see [getting
         previous versions][]. Read-only. Nullable.
        :type versions: list[~sites.models.MicrosoftGraphDriveItemVersion]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param microsoft_graph_base_item_created_date_time_created_date_time: Date and time of item
         creation. Read-only.
        :type microsoft_graph_base_item_created_date_time_created_date_time: ~datetime.datetime
        :param microsoft_graph_base_item_description: Provides a user-visible description of the item.
         Optional.
        :type microsoft_graph_base_item_description: str
        :param microsoft_graph_base_item_e_tag: ETag for the item. Read-only.
        :type microsoft_graph_base_item_e_tag: str
        :param microsoft_graph_base_item_last_modified_date_time_last_modified_date_time: Date and time
         the item was last modified. Read-only.
        :type microsoft_graph_base_item_last_modified_date_time_last_modified_date_time: ~datetime.datetime
        :param microsoft_graph_base_item_name: The name of the item. Read-write.
        :type microsoft_graph_base_item_name: str
        :param microsoft_graph_base_item_web_url: URL that displays the resource in the browser. Read-
         only.
        :type microsoft_graph_base_item_web_url: str
        :param microsoft_graph_user_created_by_user: Represents an Azure Active Directory user object.
        :type microsoft_graph_user_created_by_user: ~sites.models.MicrosoftGraphUser
        :param microsoft_graph_user_last_modified_by_user: Represents an Azure Active Directory user
         object.
        :type microsoft_graph_user_last_modified_by_user: ~sites.models.MicrosoftGraphUser
        :param microsoft_graph_item_reference_drive_id: Unique identifier of the drive instance that
         contains the item. Read-only.
        :type microsoft_graph_item_reference_drive_id: str
        :param microsoft_graph_item_reference_drive_type: Identifies the type of drive. See [drive][]
         resource for values.
        :type microsoft_graph_item_reference_drive_type: str
        :param id1: Unique identifier of the item in the drive. Read-only.
        :type id1: str
        :param name1: The name of the item being referenced. Read-only.
        :type name1: str
        :param microsoft_graph_item_reference_path: Path that can be used to navigate to the item.
         Read-only.
        :type microsoft_graph_item_reference_path: str
        :param microsoft_graph_item_reference_share_id: A unique identifier for a shared resource that
         can be accessed via the [Shares][] API.
        :type microsoft_graph_item_reference_share_id: str
        :param sharepoint_ids1: sharepointIds.
        :type sharepoint_ids1: ~sites.models.MicrosoftGraphSharepointIds
        :param site_id1:
        :type site_id1: str
        :param application1: identity.
        :type application1: ~sites.models.MicrosoftGraphIdentity
        :param device1: identity.
        :type device1: ~sites.models.MicrosoftGraphIdentity
        :param user1: identity.
        :type user1: ~sites.models.MicrosoftGraphIdentity
        :param application2: identity.
        :type application2: ~sites.models.MicrosoftGraphIdentity
        :param device2: identity.
        :type device2: ~sites.models.MicrosoftGraphIdentity
        :param user2: identity.
        :type user2: ~sites.models.MicrosoftGraphIdentity
        :param content_type_parameter: contentTypeInfo.
        :type content_type_parameter: ~sites.models.MicrosoftGraphContentTypeInfo
        :param sharepoint_ids2: sharepointIds.
        :type sharepoint_ids2: ~sites.models.MicrosoftGraphSharepointIds
        :param microsoft_graph_list_item_activities: The list of recent activities that took place on
         this item.
        :type microsoft_graph_list_item_activities: list[~sites.models.MicrosoftGraphItemActivityOld]
        :param microsoft_graph_item_analytics: itemAnalytics.
        :type microsoft_graph_item_analytics: ~sites.models.MicrosoftGraphItemAnalytics
        :param drive_item: driveItem.
        :type drive_item: ~sites.models.MicrosoftGraphDriveItem
        :param microsoft_graph_list_item_versions: The list of previous versions of the list item.
        :type microsoft_graph_list_item_versions: list[~sites.models.MicrosoftGraphListItemVersion]
        :param id2: Read-only.
        :type id2: str
        :param id3: Read-only.
        :type id3: str
        :param microsoft_graph_workbook_application: workbookApplication.
        :type microsoft_graph_workbook_application: ~sites.models.MicrosoftGraphWorkbookApplication
        :param comments:
        :type comments: list[~sites.models.MicrosoftGraphWorkbookComment]
        :param functions: workbookFunctions.
        :type functions: ~sites.models.MicrosoftGraphWorkbookFunctions
        :param names: Represents a collection of workbook scoped named items (named ranges and
         constants). Read-only.
        :type names: list[~sites.models.MicrosoftGraphWorkbookNamedItem]
        :param operations: The status of workbook operations. Getting an operation collection is not
         supported, but you can get the status of a long-running operation if the Location header is
         returned in the response. Read-only.
        :type operations: list[~sites.models.MicrosoftGraphWorkbookOperation]
        :param tables: Represents a collection of tables associated with the workbook. Read-only.
        :type tables: list[~sites.models.MicrosoftGraphWorkbookTable]
        :param worksheets: Represents a collection of worksheets associated with the workbook. Read-
         only.
        :type worksheets: list[~sites.models.MicrosoftGraphWorkbookWorksheet]
        :param microsoft_graph_special_folder_name: The unique identifier for this item in the
         /drive/special collection.
        :type microsoft_graph_special_folder_name: str
        :param owner: identitySet.
        :type owner: ~sites.models.MicrosoftGraphIdentitySet
        :param scope: Indicates the scope of how the item is shared: anonymous, organization, or users.
         Read-only.
        :type scope: str
        :param shared_by: identitySet.
        :type shared_by: ~sites.models.MicrosoftGraphIdentitySet
        :param shared_date_time: The UTC date and time when the item was shared. Read-only.
        :type shared_date_time: ~datetime.datetime
        :param on_click_telemetry_url: A callback URL that can be used to record telemetry information.
         The application should issue a GET on this URL if the user interacts with this item to improve
         the quality of results.
        :type on_click_telemetry_url: str
        :param created_by: identitySet.
        :type created_by: ~sites.models.MicrosoftGraphIdentitySet
        :param microsoft_graph_remote_item_created_date_time_created_date_time: Date and time of item
         creation. Read-only.
        :type microsoft_graph_remote_item_created_date_time_created_date_time: ~datetime.datetime
        :param file: file.
        :type file: ~sites.models.MicrosoftGraphFile
        :param microsoft_graph_file_system_info_file_system_info: fileSystemInfo.
        :type microsoft_graph_file_system_info_file_system_info: ~sites.models.MicrosoftGraphFileSystemInfo
        :param folder: folder.
        :type folder: ~sites.models.MicrosoftGraphFolder
        :param microsoft_graph_remote_item_id: Unique identifier for the remote item in its drive.
         Read-only.
        :type microsoft_graph_remote_item_id: str
        :param microsoft_graph_image: image.
        :type microsoft_graph_image: ~sites.models.MicrosoftGraphImage
        :param last_modified_by: identitySet.
        :type last_modified_by: ~sites.models.MicrosoftGraphIdentitySet
        :param microsoft_graph_remote_item_last_modified_date_time_last_modified_date_time: Date and
         time the item was last modified. Read-only.
        :type microsoft_graph_remote_item_last_modified_date_time_last_modified_date_time: ~datetime.datetime
        :param microsoft_graph_remote_item_name: Optional. Filename of the remote item. Read-only.
        :type microsoft_graph_remote_item_name: str
        :param package: package.
        :type package: ~sites.models.MicrosoftGraphPackage
        :param parent_reference: itemReference.
        :type parent_reference: ~sites.models.MicrosoftGraphItemReference
        :param shared: shared.
        :type shared: ~sites.models.MicrosoftGraphShared
        :param sharepoint_ids3: sharepointIds.
        :type sharepoint_ids3: ~sites.models.MicrosoftGraphSharepointIds
        :param integer_size: Size of the remote item. Read-only.
        :type integer_size: long
        :param special_folder: specialFolder.
        :type special_folder: ~sites.models.MicrosoftGraphSpecialFolder
        :param microsoft_graph_video: video.
        :type microsoft_graph_video: ~sites.models.MicrosoftGraphVideo
        :param microsoft_graph_remote_item_web_dav_url_web_dav_url: DAV compatible URL for the item.
        :type microsoft_graph_remote_item_web_dav_url_web_dav_url: str
        :param microsoft_graph_remote_item_web_url: URL that displays the resource in the browser.
         Read-only.
        :type microsoft_graph_remote_item_web_url: str
        :param queued_date_time: Date and time the pending binary operation was queued in UTC time.
         Read-only.
        :type queued_date_time: ~datetime.datetime
        :param type: A string indicating the type of package. While oneNote is the only currently
         defined value, you should expect other package types to be returned and handle them
         accordingly.
        :type type: str
        :param child_count: Number of children contained immediately within this container.
        :type child_count: int
        :param view: folderView.
        :type view: ~sites.models.MicrosoftGraphFolderView
        :param hashes: hashes.
        :type hashes: ~sites.models.MicrosoftGraphHashes
        :param mime_type: The MIME type for the file. This is determined by logic on the server and
         might not be the value provided when the file was uploaded. Read-only.
        :type mime_type: str
        :param processing_metadata:
        :type processing_metadata: bool
        :param state: Represents the state of the deleted item.
        :type state: str
        :param album: album.
        :type album: ~sites.models.MicrosoftGraphAlbum
        :param integer_child_count:
        :type integer_child_count: int
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphDriveItem(id=id, created_date_time=created_date_time, description=description, e_tag=e_tag, last_modified_date_time=last_modified_date_time, name=name, web_url=web_url, created_by_user=created_by_user, last_modified_by_user=last_modified_by_user, drive_id=drive_id, drive_type=drive_type, id_parent_reference_id=microsoft_graph_item_reference_id, name_parent_reference_name=microsoft_graph_item_reference_name, path=path, share_id=share_id, sharepoint_ids=sharepoint_ids, site_id=microsoft_graph_item_reference_site_id, application_last_modified_by_application=application, device_last_modified_by_device=device, user_last_modified_by_user=user, application_created_by_application=microsoft_graph_identity_application, device_created_by_device=microsoft_graph_identity_device, user_created_by_user=microsoft_graph_identity_user, audio=audio, content=content, c_tag=c_tag, file_system_info=file_system_info, image=image, location=location, photo=photo, publication=publication, root=root, sharepoint_ids=microsoft_graph_sharepoint_ids, size=size, video=video, web_dav_url=web_dav_url, activities=activities, analytics=analytics, children=children, permissions=permissions, subscriptions=subscriptions, thumbnails=thumbnails, versions=versions, id_list_item_id=microsoft_graph_entity_id, created_date_time_list_item_created_date_time=microsoft_graph_base_item_created_date_time_created_date_time, description_list_item_description=microsoft_graph_base_item_description, e_tag_list_item_e_tag=microsoft_graph_base_item_e_tag, last_modified_date_time_list_item_last_modified_date_time=microsoft_graph_base_item_last_modified_date_time_last_modified_date_time, name_list_item_name=microsoft_graph_base_item_name, web_url_list_item_web_url=microsoft_graph_base_item_web_url, created_by_user_list_item_created_by_user=microsoft_graph_user_created_by_user, last_modified_by_user_list_item_last_modified_by_user=microsoft_graph_user_last_modified_by_user, drive_id_list_item_parent_reference_drive_id=microsoft_graph_item_reference_drive_id, drive_type_list_item_parent_reference_drive_type=microsoft_graph_item_reference_drive_type, id_list_item_parent_reference_id=id1, name_list_item_parent_reference_name=name1, path_list_item_parent_reference_path=microsoft_graph_item_reference_path, share_id_list_item_parent_reference_share_id=microsoft_graph_item_reference_share_id, sharepoint_ids_list_item_parent_reference_sharepoint_ids=sharepoint_ids1, site_id_list_item_parent_reference_site_id=site_id1, application_list_item_last_modified_by_application=application1, device_list_item_last_modified_by_device=device1, user_list_item_last_modified_by_user=user1, application_list_item_created_by_application=application2, device_list_item_created_by_device=device2, user_list_item_created_by_user=user2, content_type=content_type_parameter, sharepoint_ids_list_item_sharepoint_ids=sharepoint_ids2, activities_list_item_activities=microsoft_graph_list_item_activities, analytics_list_item_analytics=microsoft_graph_item_analytics, drive_item=drive_item, versions_list_item_versions=microsoft_graph_list_item_versions, id_list_item_fields_id=id2, id_workbook_id=id3, application_workbook_application=microsoft_graph_workbook_application, comments=comments, functions=functions, names=names, operations=operations, tables=tables, worksheets=worksheets, name_special_folder_name=microsoft_graph_special_folder_name, owner=owner, scope=scope, shared_by=shared_by, shared_date_time=shared_date_time, on_click_telemetry_url=on_click_telemetry_url, created_by=created_by, created_date_time_remote_item_created_date_time=microsoft_graph_remote_item_created_date_time_created_date_time, file=file, file_system_info_remote_item_file_system_info=microsoft_graph_file_system_info_file_system_info, folder=folder, id_remote_item_id=microsoft_graph_remote_item_id, image_remote_item_image=microsoft_graph_image, last_modified_by=last_modified_by, last_modified_date_time_remote_item_last_modified_date_time=microsoft_graph_remote_item_last_modified_date_time_last_modified_date_time, name_remote_item_name=microsoft_graph_remote_item_name, package=package, parent_reference=parent_reference, shared=shared, sharepoint_ids_remote_item_sharepoint_ids=sharepoint_ids3, size_remote_item_size=integer_size, special_folder=special_folder, video_remote_item_video=microsoft_graph_video, web_dav_url_remote_item_web_dav_url=microsoft_graph_remote_item_web_dav_url_web_dav_url, web_url_remote_item_web_url=microsoft_graph_remote_item_web_url, queued_date_time=queued_date_time, type=type, child_count_folder_child_count=child_count, view=view, hashes=hashes, mime_type=mime_type, processing_metadata=processing_metadata, state=state, album=album, child_count_bundle_child_count=integer_child_count)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_drive_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphDriveItem')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_drive_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/driveItem'}  # type: ignore

    def delete_drive_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property driveItem for sites.

        Delete navigation property driveItem for sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_drive_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_drive_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/driveItem'}  # type: ignore

    def get_drive_item_content(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> IO
        """Get media content for the navigation property driveItem from sites.

        Get media content for the navigation property driveItem from sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: IO, or the result of cls(response)
        :rtype: IO
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[IO]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/octet-stream, application/json"

        # Construct URL
        url = self.get_drive_item_content.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=True, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = response.stream_download(self._client._pipeline)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_drive_item_content.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/driveItem/content'}  # type: ignore

    def set_drive_item_content(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        data,  # type: IO
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update media content for the navigation property driveItem in sites.

        Update media content for the navigation property driveItem in sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param data: New media content.
        :type data: IO
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        content_type = kwargs.pop("content_type", "application/octet-stream")
        accept = "application/json"

        # Construct URL
        url = self.set_drive_item_content.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content_kwargs['stream_content'] = data
        request = self._client.put(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    set_drive_item_content.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/driveItem/content'}  # type: ignore

    def get_list_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum161"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum162"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphListItem"
        """Get listItem from sites.

        Get listItem from sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~sites.models.Enum161]
        :param expand: Expand related entities.
        :type expand: list[str or ~sites.models.Enum162]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphListItem, or the result of cls(response)
        :rtype: ~sites.models.MicrosoftGraphListItem
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphListItem"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_list_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphListItem', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_list_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/listItem'}  # type: ignore

    def update_list_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        e_tag=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        name=None,  # type: Optional[str]
        web_url=None,  # type: Optional[str]
        created_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        last_modified_by_user=None,  # type: Optional["models.MicrosoftGraphUser"]
        drive_id=None,  # type: Optional[str]
        drive_type=None,  # type: Optional[str]
        microsoft_graph_item_reference_id=None,  # type: Optional[str]
        microsoft_graph_item_reference_name=None,  # type: Optional[str]
        path=None,  # type: Optional[str]
        share_id=None,  # type: Optional[str]
        sharepoint_ids=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        microsoft_graph_item_reference_site_id=None,  # type: Optional[str]
        application=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        device=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        user=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_application=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_device=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        microsoft_graph_identity_user=None,  # type: Optional["models.MicrosoftGraphIdentity"]
        content_type_parameter=None,  # type: Optional["models.MicrosoftGraphContentTypeInfo"]
        microsoft_graph_sharepoint_ids=None,  # type: Optional["models.MicrosoftGraphSharepointIds"]
        activities=None,  # type: Optional[List["models.MicrosoftGraphItemActivityOld"]]
        analytics=None,  # type: Optional["models.MicrosoftGraphItemAnalytics"]
        drive_item=None,  # type: Optional["models.MicrosoftGraphDriveItem"]
        versions=None,  # type: Optional[List["models.MicrosoftGraphListItemVersion"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property listItem in sites.

        Update the navigation property listItem in sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: Date and time of item creation. Read-only.
        :type created_date_time: ~datetime.datetime
        :param description: Provides a user-visible description of the item. Optional.
        :type description: str
        :param e_tag: ETag for the item. Read-only.
        :type e_tag: str
        :param last_modified_date_time: Date and time the item was last modified. Read-only.
        :type last_modified_date_time: ~datetime.datetime
        :param name: The name of the item. Read-write.
        :type name: str
        :param web_url: URL that displays the resource in the browser. Read-only.
        :type web_url: str
        :param created_by_user: Represents an Azure Active Directory user object.
        :type created_by_user: ~sites.models.MicrosoftGraphUser
        :param last_modified_by_user: Represents an Azure Active Directory user object.
        :type last_modified_by_user: ~sites.models.MicrosoftGraphUser
        :param drive_id: Unique identifier of the drive instance that contains the item. Read-only.
        :type drive_id: str
        :param drive_type: Identifies the type of drive. See [drive][] resource for values.
        :type drive_type: str
        :param microsoft_graph_item_reference_id: Unique identifier of the item in the drive. Read-
         only.
        :type microsoft_graph_item_reference_id: str
        :param microsoft_graph_item_reference_name: The name of the item being referenced. Read-only.
        :type microsoft_graph_item_reference_name: str
        :param path: Path that can be used to navigate to the item. Read-only.
        :type path: str
        :param share_id: A unique identifier for a shared resource that can be accessed via the
         [Shares][] API.
        :type share_id: str
        :param sharepoint_ids: sharepointIds.
        :type sharepoint_ids: ~sites.models.MicrosoftGraphSharepointIds
        :param microsoft_graph_item_reference_site_id:
        :type microsoft_graph_item_reference_site_id: str
        :param application: identity.
        :type application: ~sites.models.MicrosoftGraphIdentity
        :param device: identity.
        :type device: ~sites.models.MicrosoftGraphIdentity
        :param user: identity.
        :type user: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_application: identity.
        :type microsoft_graph_identity_application: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_device: identity.
        :type microsoft_graph_identity_device: ~sites.models.MicrosoftGraphIdentity
        :param microsoft_graph_identity_user: identity.
        :type microsoft_graph_identity_user: ~sites.models.MicrosoftGraphIdentity
        :param content_type_parameter: contentTypeInfo.
        :type content_type_parameter: ~sites.models.MicrosoftGraphContentTypeInfo
        :param microsoft_graph_sharepoint_ids: sharepointIds.
        :type microsoft_graph_sharepoint_ids: ~sites.models.MicrosoftGraphSharepointIds
        :param activities: The list of recent activities that took place on this item.
        :type activities: list[~sites.models.MicrosoftGraphItemActivityOld]
        :param analytics: itemAnalytics.
        :type analytics: ~sites.models.MicrosoftGraphItemAnalytics
        :param drive_item: driveItem.
        :type drive_item: ~sites.models.MicrosoftGraphDriveItem
        :param versions: The list of previous versions of the list item.
        :type versions: list[~sites.models.MicrosoftGraphListItemVersion]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphListItem(id=id, created_date_time=created_date_time, description=description, e_tag=e_tag, last_modified_date_time=last_modified_date_time, name=name, web_url=web_url, created_by_user=created_by_user, last_modified_by_user=last_modified_by_user, drive_id=drive_id, drive_type=drive_type, id_parent_reference_id=microsoft_graph_item_reference_id, name_parent_reference_name=microsoft_graph_item_reference_name, path=path, share_id=share_id, sharepoint_ids=sharepoint_ids, site_id=microsoft_graph_item_reference_site_id, application_last_modified_by_application=application, device_last_modified_by_device=device, user_last_modified_by_user=user, application_created_by_application=microsoft_graph_identity_application, device_created_by_device=microsoft_graph_identity_device, user_created_by_user=microsoft_graph_identity_user, content_type=content_type_parameter, sharepoint_ids=microsoft_graph_sharepoint_ids, activities=activities, analytics=analytics, drive_item=drive_item, versions=versions, id_fields_id=microsoft_graph_entity_id)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_list_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphListItem')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_list_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/listItem'}  # type: ignore

    def delete_list_item(
        self,
        site_id,  # type: str
        list_id,  # type: str
        item_activity_old_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property listItem for sites.

        Delete navigation property listItem for sites.

        :param site_id: key: id of site.
        :type site_id: str
        :param list_id: key: id of list.
        :type list_id: str
        :param item_activity_old_id: key: id of itemActivityOLD.
        :type item_activity_old_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_list_item.metadata['url']  # type: ignore
        path_format_arguments = {
            'site-id': self._serialize.url("site_id", site_id, 'str'),
            'list-id': self._serialize.url("list_id", list_id, 'str'),
            'itemActivityOLD-id': self._serialize.url("item_activity_old_id", item_activity_old_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_list_item.metadata = {'url': '/sites/{site-id}/lists/{list-id}/activities/{itemActivityOLD-id}/listItem'}  # type: ignore
