# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class ReportOperations(object):
    """ReportOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~reports.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_application_sign_in_detailed_summary(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Get5ItemsItem"]]]
        select=None,  # type: Optional[List[Union[str, "models.Get6ItemsItem"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfApplicationSignInDetailedSummary"]
        """Get applicationSignInDetailedSummary from reports.

        Get applicationSignInDetailedSummary from reports.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~reports.models.Get5ItemsItem]
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Get6ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfApplicationSignInDetailedSummary or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~reports.models.CollectionOfApplicationSignInDetailedSummary]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfApplicationSignInDetailedSummary"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_application_sign_in_detailed_summary.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfApplicationSignInDetailedSummary', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_application_sign_in_detailed_summary.metadata = {'url': '/reports/applicationSignInDetailedSummary'}  # type: ignore

    def create_application_sign_in_detailed_summary(
        self,
        id=None,  # type: Optional[str]
        app_id=None,  # type: Optional[str]
        app_display_name=None,  # type: Optional[str]
        sign_in_count=None,  # type: Optional[int]
        aggregated_event_date_time=None,  # type: Optional[datetime.datetime]
        error_code=None,  # type: Optional[int]
        failure_reason=None,  # type: Optional[str]
        additional_details=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphApplicationSignInDetailedSummary"
        """Create new navigation property to applicationSignInDetailedSummary for reports.

        Create new navigation property to applicationSignInDetailedSummary for reports.

        :param id: Read-only.
        :type id: str
        :param app_id:
        :type app_id: str
        :param app_display_name:
        :type app_display_name: str
        :param sign_in_count:
        :type sign_in_count: long
        :param aggregated_event_date_time:
        :type aggregated_event_date_time: ~datetime.datetime
        :param error_code: Provides the 5-6digit error code that's generated during a sign-in failure.
         Check out the list of error codes and messages.
        :type error_code: int
        :param failure_reason: Provides the error message or the reason for failure for the
         corresponding sign-in activity. Check out the list of error codes and messages.
        :type failure_reason: str
        :param additional_details: Provides additional details on the sign-in activity.
        :type additional_details: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphApplicationSignInDetailedSummary, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphApplicationSignInDetailedSummary
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphApplicationSignInDetailedSummary"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphApplicationSignInDetailedSummary(id=id, app_id=app_id, app_display_name=app_display_name, sign_in_count=sign_in_count, aggregated_event_date_time=aggregated_event_date_time, error_code=error_code, failure_reason=failure_reason, additional_details=additional_details)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_application_sign_in_detailed_summary.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphApplicationSignInDetailedSummary')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphApplicationSignInDetailedSummary', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_application_sign_in_detailed_summary.metadata = {'url': '/reports/applicationSignInDetailedSummary'}  # type: ignore

    def get_application_sign_in_detailed_summary(
        self,
        application_sign_in_detailed_summary_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum7"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphApplicationSignInDetailedSummary"
        """Get applicationSignInDetailedSummary from reports.

        Get applicationSignInDetailedSummary from reports.

        :param application_sign_in_detailed_summary_id: key: applicationSignInDetailedSummary-id of
         applicationSignInDetailedSummary.
        :type application_sign_in_detailed_summary_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum7]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphApplicationSignInDetailedSummary, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphApplicationSignInDetailedSummary
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphApplicationSignInDetailedSummary"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_application_sign_in_detailed_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'applicationSignInDetailedSummary-id': self._serialize.url("application_sign_in_detailed_summary_id", application_sign_in_detailed_summary_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphApplicationSignInDetailedSummary', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_application_sign_in_detailed_summary.metadata = {'url': '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}'}  # type: ignore

    def update_application_sign_in_detailed_summary(
        self,
        application_sign_in_detailed_summary_id,  # type: str
        id=None,  # type: Optional[str]
        app_id=None,  # type: Optional[str]
        app_display_name=None,  # type: Optional[str]
        sign_in_count=None,  # type: Optional[int]
        aggregated_event_date_time=None,  # type: Optional[datetime.datetime]
        error_code=None,  # type: Optional[int]
        failure_reason=None,  # type: Optional[str]
        additional_details=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property applicationSignInDetailedSummary in reports.

        Update the navigation property applicationSignInDetailedSummary in reports.

        :param application_sign_in_detailed_summary_id: key: applicationSignInDetailedSummary-id of
         applicationSignInDetailedSummary.
        :type application_sign_in_detailed_summary_id: str
        :param id: Read-only.
        :type id: str
        :param app_id:
        :type app_id: str
        :param app_display_name:
        :type app_display_name: str
        :param sign_in_count:
        :type sign_in_count: long
        :param aggregated_event_date_time:
        :type aggregated_event_date_time: ~datetime.datetime
        :param error_code: Provides the 5-6digit error code that's generated during a sign-in failure.
         Check out the list of error codes and messages.
        :type error_code: int
        :param failure_reason: Provides the error message or the reason for failure for the
         corresponding sign-in activity. Check out the list of error codes and messages.
        :type failure_reason: str
        :param additional_details: Provides additional details on the sign-in activity.
        :type additional_details: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphApplicationSignInDetailedSummary(id=id, app_id=app_id, app_display_name=app_display_name, sign_in_count=sign_in_count, aggregated_event_date_time=aggregated_event_date_time, error_code=error_code, failure_reason=failure_reason, additional_details=additional_details)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_application_sign_in_detailed_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'applicationSignInDetailedSummary-id': self._serialize.url("application_sign_in_detailed_summary_id", application_sign_in_detailed_summary_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphApplicationSignInDetailedSummary')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_application_sign_in_detailed_summary.metadata = {'url': '/reports/applicationSignInDetailedSummary/{applicationSignInDetailedSummary-id}'}  # type: ignore

    def list_credential_user_registration_detail(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum8"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum9"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfCredentialUserRegistrationDetails"]
        """Get credentialUserRegistrationDetails from reports.

        Get credentialUserRegistrationDetails from reports.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~reports.models.Enum8]
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum9]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfCredentialUserRegistrationDetails or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~reports.models.CollectionOfCredentialUserRegistrationDetails]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfCredentialUserRegistrationDetails"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_credential_user_registration_detail.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfCredentialUserRegistrationDetails', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_credential_user_registration_detail.metadata = {'url': '/reports/credentialUserRegistrationDetails'}  # type: ignore

    def create_credential_user_registration_detail(
        self,
        id=None,  # type: Optional[str]
        user_principal_name=None,  # type: Optional[str]
        user_display_name=None,  # type: Optional[str]
        auth_methods=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphRegistrationAuthMethod"]]]
        is_registered=None,  # type: Optional[bool]
        is_enabled=None,  # type: Optional[bool]
        is_capable=None,  # type: Optional[bool]
        is_mfa_registered=None,  # type: Optional[bool]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCredentialUserRegistrationDetails"
        """Create new navigation property to credentialUserRegistrationDetails for reports.

        Create new navigation property to credentialUserRegistrationDetails for reports.

        :param id: Read-only.
        :type id: str
        :param user_principal_name:
        :type user_principal_name: str
        :param user_display_name:
        :type user_display_name: str
        :param auth_methods:
        :type auth_methods: list[str or ~reports.models.MicrosoftGraphRegistrationAuthMethod]
        :param is_registered:
        :type is_registered: bool
        :param is_enabled:
        :type is_enabled: bool
        :param is_capable:
        :type is_capable: bool
        :param is_mfa_registered:
        :type is_mfa_registered: bool
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCredentialUserRegistrationDetails, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphCredentialUserRegistrationDetails
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCredentialUserRegistrationDetails"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphCredentialUserRegistrationDetails(id=id, user_principal_name=user_principal_name, user_display_name=user_display_name, auth_methods=auth_methods, is_registered=is_registered, is_enabled=is_enabled, is_capable=is_capable, is_mfa_registered=is_mfa_registered)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_credential_user_registration_detail.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphCredentialUserRegistrationDetails')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCredentialUserRegistrationDetails', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_credential_user_registration_detail.metadata = {'url': '/reports/credentialUserRegistrationDetails'}  # type: ignore

    def get_credential_user_registration_detail(
        self,
        credential_user_registration_details_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum10"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCredentialUserRegistrationDetails"
        """Get credentialUserRegistrationDetails from reports.

        Get credentialUserRegistrationDetails from reports.

        :param credential_user_registration_details_id: key: credentialUserRegistrationDetails-id of
         credentialUserRegistrationDetails.
        :type credential_user_registration_details_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum10]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCredentialUserRegistrationDetails, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphCredentialUserRegistrationDetails
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCredentialUserRegistrationDetails"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_credential_user_registration_detail.metadata['url']  # type: ignore
        path_format_arguments = {
            'credentialUserRegistrationDetails-id': self._serialize.url("credential_user_registration_details_id", credential_user_registration_details_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCredentialUserRegistrationDetails', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_credential_user_registration_detail.metadata = {'url': '/reports/credentialUserRegistrationDetails/{credentialUserRegistrationDetails-id}'}  # type: ignore

    def update_credential_user_registration_detail(
        self,
        credential_user_registration_details_id,  # type: str
        id=None,  # type: Optional[str]
        user_principal_name=None,  # type: Optional[str]
        user_display_name=None,  # type: Optional[str]
        auth_methods=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphRegistrationAuthMethod"]]]
        is_registered=None,  # type: Optional[bool]
        is_enabled=None,  # type: Optional[bool]
        is_capable=None,  # type: Optional[bool]
        is_mfa_registered=None,  # type: Optional[bool]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property credentialUserRegistrationDetails in reports.

        Update the navigation property credentialUserRegistrationDetails in reports.

        :param credential_user_registration_details_id: key: credentialUserRegistrationDetails-id of
         credentialUserRegistrationDetails.
        :type credential_user_registration_details_id: str
        :param id: Read-only.
        :type id: str
        :param user_principal_name:
        :type user_principal_name: str
        :param user_display_name:
        :type user_display_name: str
        :param auth_methods:
        :type auth_methods: list[str or ~reports.models.MicrosoftGraphRegistrationAuthMethod]
        :param is_registered:
        :type is_registered: bool
        :param is_enabled:
        :type is_enabled: bool
        :param is_capable:
        :type is_capable: bool
        :param is_mfa_registered:
        :type is_mfa_registered: bool
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphCredentialUserRegistrationDetails(id=id, user_principal_name=user_principal_name, user_display_name=user_display_name, auth_methods=auth_methods, is_registered=is_registered, is_enabled=is_enabled, is_capable=is_capable, is_mfa_registered=is_mfa_registered)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_credential_user_registration_detail.metadata['url']  # type: ignore
        path_format_arguments = {
            'credentialUserRegistrationDetails-id': self._serialize.url("credential_user_registration_details_id", credential_user_registration_details_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphCredentialUserRegistrationDetails')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_credential_user_registration_detail.metadata = {'url': '/reports/credentialUserRegistrationDetails/{credentialUserRegistrationDetails-id}'}  # type: ignore

    def list_daily_print_usage_summary_by_printer(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum11"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum12"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfPrintUsageSummaryByPrinter"]
        """Get dailyPrintUsageSummariesByPrinter from reports.

        Get dailyPrintUsageSummariesByPrinter from reports.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~reports.models.Enum11]
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum12]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfPrintUsageSummaryByPrinter or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~reports.models.CollectionOfPrintUsageSummaryByPrinter]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfPrintUsageSummaryByPrinter"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_daily_print_usage_summary_by_printer.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfPrintUsageSummaryByPrinter', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_daily_print_usage_summary_by_printer.metadata = {'url': '/reports/dailyPrintUsageSummariesByPrinter'}  # type: ignore

    def create_daily_print_usage_summary_by_printer(
        self,
        id=None,  # type: Optional[str]
        printer_id=None,  # type: Optional[str]
        usage_date=None,  # type: Optional[datetime.date]
        completed_black_and_white_job_count=None,  # type: Optional[int]
        completed_color_job_count=None,  # type: Optional[int]
        incomplete_job_count=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrintUsageSummaryByPrinter"
        """Create new navigation property to dailyPrintUsageSummariesByPrinter for reports.

        Create new navigation property to dailyPrintUsageSummariesByPrinter for reports.

        :param id: Read-only.
        :type id: str
        :param printer_id:
        :type printer_id: str
        :param usage_date:
        :type usage_date: ~datetime.date
        :param completed_black_and_white_job_count:
        :type completed_black_and_white_job_count: long
        :param completed_color_job_count:
        :type completed_color_job_count: long
        :param incomplete_job_count:
        :type incomplete_job_count: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrintUsageSummaryByPrinter, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphPrintUsageSummaryByPrinter
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrintUsageSummaryByPrinter"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphPrintUsageSummaryByPrinter(id=id, printer_id=printer_id, usage_date=usage_date, completed_black_and_white_job_count=completed_black_and_white_job_count, completed_color_job_count=completed_color_job_count, incomplete_job_count=incomplete_job_count)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_daily_print_usage_summary_by_printer.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphPrintUsageSummaryByPrinter')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrintUsageSummaryByPrinter', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_daily_print_usage_summary_by_printer.metadata = {'url': '/reports/dailyPrintUsageSummariesByPrinter'}  # type: ignore

    def get_daily_print_usage_summary_by_printer(
        self,
        print_usage_summary_by_printer_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum13"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrintUsageSummaryByPrinter"
        """Get dailyPrintUsageSummariesByPrinter from reports.

        Get dailyPrintUsageSummariesByPrinter from reports.

        :param print_usage_summary_by_printer_id: key: PrintUsageSummaryByPrinter-id of
         PrintUsageSummaryByPrinter.
        :type print_usage_summary_by_printer_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum13]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrintUsageSummaryByPrinter, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphPrintUsageSummaryByPrinter
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrintUsageSummaryByPrinter"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_daily_print_usage_summary_by_printer.metadata['url']  # type: ignore
        path_format_arguments = {
            'PrintUsageSummaryByPrinter-id': self._serialize.url("print_usage_summary_by_printer_id", print_usage_summary_by_printer_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrintUsageSummaryByPrinter', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_daily_print_usage_summary_by_printer.metadata = {'url': '/reports/dailyPrintUsageSummariesByPrinter/{PrintUsageSummaryByPrinter-id}'}  # type: ignore

    def update_daily_print_usage_summary_by_printer(
        self,
        print_usage_summary_by_printer_id,  # type: str
        id=None,  # type: Optional[str]
        printer_id=None,  # type: Optional[str]
        usage_date=None,  # type: Optional[datetime.date]
        completed_black_and_white_job_count=None,  # type: Optional[int]
        completed_color_job_count=None,  # type: Optional[int]
        incomplete_job_count=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property dailyPrintUsageSummariesByPrinter in reports.

        Update the navigation property dailyPrintUsageSummariesByPrinter in reports.

        :param print_usage_summary_by_printer_id: key: PrintUsageSummaryByPrinter-id of
         PrintUsageSummaryByPrinter.
        :type print_usage_summary_by_printer_id: str
        :param id: Read-only.
        :type id: str
        :param printer_id:
        :type printer_id: str
        :param usage_date:
        :type usage_date: ~datetime.date
        :param completed_black_and_white_job_count:
        :type completed_black_and_white_job_count: long
        :param completed_color_job_count:
        :type completed_color_job_count: long
        :param incomplete_job_count:
        :type incomplete_job_count: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphPrintUsageSummaryByPrinter(id=id, printer_id=printer_id, usage_date=usage_date, completed_black_and_white_job_count=completed_black_and_white_job_count, completed_color_job_count=completed_color_job_count, incomplete_job_count=incomplete_job_count)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_daily_print_usage_summary_by_printer.metadata['url']  # type: ignore
        path_format_arguments = {
            'PrintUsageSummaryByPrinter-id': self._serialize.url("print_usage_summary_by_printer_id", print_usage_summary_by_printer_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphPrintUsageSummaryByPrinter')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_daily_print_usage_summary_by_printer.metadata = {'url': '/reports/dailyPrintUsageSummariesByPrinter/{PrintUsageSummaryByPrinter-id}'}  # type: ignore

    def list_daily_print_usage_summary_by_user(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum14"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum15"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfPrintUsageSummaryByUser"]
        """Get dailyPrintUsageSummariesByUser from reports.

        Get dailyPrintUsageSummariesByUser from reports.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~reports.models.Enum14]
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum15]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfPrintUsageSummaryByUser or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~reports.models.CollectionOfPrintUsageSummaryByUser]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfPrintUsageSummaryByUser"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_daily_print_usage_summary_by_user.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfPrintUsageSummaryByUser', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_daily_print_usage_summary_by_user.metadata = {'url': '/reports/dailyPrintUsageSummariesByUser'}  # type: ignore

    def create_daily_print_usage_summary_by_user(
        self,
        id=None,  # type: Optional[str]
        user_principal_name=None,  # type: Optional[str]
        usage_date=None,  # type: Optional[datetime.date]
        completed_black_and_white_job_count=None,  # type: Optional[int]
        completed_color_job_count=None,  # type: Optional[int]
        incomplete_job_count=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrintUsageSummaryByUser"
        """Create new navigation property to dailyPrintUsageSummariesByUser for reports.

        Create new navigation property to dailyPrintUsageSummariesByUser for reports.

        :param id: Read-only.
        :type id: str
        :param user_principal_name:
        :type user_principal_name: str
        :param usage_date:
        :type usage_date: ~datetime.date
        :param completed_black_and_white_job_count:
        :type completed_black_and_white_job_count: long
        :param completed_color_job_count:
        :type completed_color_job_count: long
        :param incomplete_job_count:
        :type incomplete_job_count: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrintUsageSummaryByUser, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphPrintUsageSummaryByUser
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrintUsageSummaryByUser"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphPrintUsageSummaryByUser(id=id, user_principal_name=user_principal_name, usage_date=usage_date, completed_black_and_white_job_count=completed_black_and_white_job_count, completed_color_job_count=completed_color_job_count, incomplete_job_count=incomplete_job_count)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_daily_print_usage_summary_by_user.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphPrintUsageSummaryByUser')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrintUsageSummaryByUser', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_daily_print_usage_summary_by_user.metadata = {'url': '/reports/dailyPrintUsageSummariesByUser'}  # type: ignore

    def get_daily_print_usage_summary_by_user(
        self,
        print_usage_summary_by_user_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum16"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphPrintUsageSummaryByUser"
        """Get dailyPrintUsageSummariesByUser from reports.

        Get dailyPrintUsageSummariesByUser from reports.

        :param print_usage_summary_by_user_id: key: PrintUsageSummaryByUser-id of
         PrintUsageSummaryByUser.
        :type print_usage_summary_by_user_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~reports.models.Enum16]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphPrintUsageSummaryByUser, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphPrintUsageSummaryByUser
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphPrintUsageSummaryByUser"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_daily_print_usage_summary_by_user.metadata['url']  # type: ignore
        path_format_arguments = {
            'PrintUsageSummaryByUser-id': self._serialize.url("print_usage_summary_by_user_id", print_usage_summary_by_user_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphPrintUsageSummaryByUser', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_daily_print_usage_summary_by_user.metadata = {'url': '/reports/dailyPrintUsageSummariesByUser/{PrintUsageSummaryByUser-id}'}  # type: ignore

    def update_daily_print_usage_summary_by_user(
        self,
        print_usage_summary_by_user_id,  # type: str
        id=None,  # type: Optional[str]
        user_principal_name=None,  # type: Optional[str]
        usage_date=None,  # type: Optional[datetime.date]
        completed_black_and_white_job_count=None,  # type: Optional[int]
        completed_color_job_count=None,  # type: Optional[int]
        incomplete_job_count=None,  # type: Optional[int]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property dailyPrintUsageSummariesByUser in reports.

        Update the navigation property dailyPrintUsageSummariesByUser in reports.

        :param print_usage_summary_by_user_id: key: PrintUsageSummaryByUser-id of
         PrintUsageSummaryByUser.
        :type print_usage_summary_by_user_id: str
        :param id: Read-only.
        :type id: str
        :param user_principal_name:
        :type user_principal_name: str
        :param usage_date:
        :type usage_date: ~datetime.date
        :param completed_black_and_white_job_count:
        :type completed_black_and_white_job_count: long
        :param completed_color_job_count:
        :type completed_color_job_count: long
        :param incomplete_job_count:
        :type incomplete_job_count: long
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphPrintUsageSummaryByUser(id=id, user_principal_name=user_principal_name, usage_date=usage_date, completed_black_and_white_job_count=completed_black_and_white_job_count, completed_color_job_count=completed_color_job_count, incomplete_job_count=incomplete_job_count)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_daily_print_usage_summary_by_user.metadata['url']  # type: ignore
        path_format_arguments = {
            'PrintUsageSummaryByUser-id': self._serialize.url("print_usage_summary_by_user_id", print_usage_summary_by_user_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphPrintUsageSummaryByUser')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_daily_print_usage_summary_by_user.metadata = {'url': '/reports/dailyPrintUsageSummariesByUser/{PrintUsageSummaryByUser-id}'}  # type: ignore

    def device_configuration_device_activity(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphReport"
        """Invoke function deviceConfigurationDeviceActivity.

        Invoke function deviceConfigurationDeviceActivity.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphReport, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphReport
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphReport"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.device_configuration_device_activity.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphReport', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    device_configuration_device_activity.metadata = {'url': '/reports/microsoft.graph.deviceConfigurationDeviceActivity()'}  # type: ignore

    def device_configuration_user_activity(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphReport"
        """Invoke function deviceConfigurationUserActivity.

        Invoke function deviceConfigurationUserActivity.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphReport, or the result of cls(response)
        :rtype: ~reports.models.MicrosoftGraphReport
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphReport"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.device_configuration_user_activity.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphReport', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    device_configuration_user_activity.metadata = {'url': '/reports/microsoft.graph.deviceConfigurationUserActivity()'}  # type: ignore

    def get_azure_ad_application_sign_in_summary(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphApplicationSignInSummary"]
        """Invoke function getAzureADApplicationSignInSummary.

        Invoke function getAzureADApplicationSignInSummary.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphApplicationSignInSummary, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphApplicationSignInSummary]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphApplicationSignInSummary"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_azure_ad_application_sign_in_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphApplicationSignInSummary]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_azure_ad_application_sign_in_summary.metadata = {'url': '/reports/microsoft.graph.getAzureADApplicationSignInSummary(period={period})'}  # type: ignore

    def get_azure_ad_feature_usage(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphAzureAdFeatureUsage"]
        """Invoke function getAzureADFeatureUsage.

        Invoke function getAzureADFeatureUsage.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphAzureAdFeatureUsage, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphAzureAdFeatureUsage]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphAzureAdFeatureUsage"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_azure_ad_feature_usage.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphAzureAdFeatureUsage]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_azure_ad_feature_usage.metadata = {'url': '/reports/microsoft.graph.getAzureADFeatureUsage(period={period})'}  # type: ignore

    def get_azure_ad_license_usage(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphAzureAdLicenseUsage"]
        """Invoke function getAzureADLicenseUsage.

        Invoke function getAzureADLicenseUsage.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphAzureAdLicenseUsage, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphAzureAdLicenseUsage]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphAzureAdLicenseUsage"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_azure_ad_license_usage.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphAzureAdLicenseUsage]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_azure_ad_license_usage.metadata = {'url': '/reports/microsoft.graph.getAzureADLicenseUsage(period={period})'}  # type: ignore

    def get_azure_ad_user_feature_usage(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphAzureAdUserFeatureUsage"]
        """Invoke function getAzureADUserFeatureUsage.

        Invoke function getAzureADUserFeatureUsage.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphAzureAdUserFeatureUsage, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphAzureAdUserFeatureUsage]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphAzureAdUserFeatureUsage"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_azure_ad_user_feature_usage.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphAzureAdUserFeatureUsage]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_azure_ad_user_feature_usage.metadata = {'url': '/reports/microsoft.graph.getAzureADUserFeatureUsage()'}  # type: ignore

    def get_credential_usage_summary(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphCredentialUsageSummary"]
        """Invoke function getCredentialUsageSummary.

        Invoke function getCredentialUsageSummary.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphCredentialUsageSummary, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphCredentialUsageSummary]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphCredentialUsageSummary"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_credential_usage_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphCredentialUsageSummary]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_credential_usage_summary.metadata = {'url': '/reports/microsoft.graph.getCredentialUsageSummary(period={period})'}  # type: ignore

    def get_credential_user_registration_count(
        self,
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphCredentialUserRegistrationCount"]
        """Invoke function getCredentialUserRegistrationCount.

        Invoke function getCredentialUserRegistrationCount.

        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphCredentialUserRegistrationCount, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphCredentialUserRegistrationCount]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphCredentialUserRegistrationCount"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_credential_user_registration_count.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphCredentialUserRegistrationCount]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_credential_user_registration_count.metadata = {'url': '/reports/microsoft.graph.getCredentialUserRegistrationCount()'}  # type: ignore

    def get_email_activity_count(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailActivitySummary"]
        """Invoke function getEmailActivityCounts.

        Invoke function getEmailActivityCounts.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailActivitySummary, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailActivitySummary]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailActivitySummary"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_activity_count.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailActivitySummary]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_activity_count.metadata = {'url': '/reports/microsoft.graph.getEmailActivityCounts(period={period})'}  # type: ignore

    def get_email_activity_user_count(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailActivitySummary"]
        """Invoke function getEmailActivityUserCounts.

        Invoke function getEmailActivityUserCounts.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailActivitySummary, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailActivitySummary]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailActivitySummary"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_activity_user_count.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailActivitySummary]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_activity_user_count.metadata = {'url': '/reports/microsoft.graph.getEmailActivityUserCounts(period={period})'}  # type: ignore

    def get_email_activity_user_detail_fe32(
        self,
        date,  # type: datetime.date
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailActivityUserDetail"]
        """Invoke function getEmailActivityUserDetail.

        Invoke function getEmailActivityUserDetail.

        :param date:
        :type date: ~datetime.date
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailActivityUserDetail, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailActivityUserDetail]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailActivityUserDetail"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_activity_user_detail_fe32.metadata['url']  # type: ignore
        path_format_arguments = {
            'date': self._serialize.url("date", date, 'date'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailActivityUserDetail]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_activity_user_detail_fe32.metadata = {'url': '/reports/microsoft.graph.getEmailActivityUserDetail(date={date})'}  # type: ignore

    def get_email_activity_user_detail_ddb2(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailActivityUserDetail"]
        """Invoke function getEmailActivityUserDetail.

        Invoke function getEmailActivityUserDetail.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailActivityUserDetail, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailActivityUserDetail]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailActivityUserDetail"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_activity_user_detail_ddb2.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailActivityUserDetail]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_activity_user_detail_ddb2.metadata = {'url': '/reports/microsoft.graph.getEmailActivityUserDetail(period={period})'}  # type: ignore

    def get_email_app_usage_app_user_count(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailAppUsageAppsUserCounts"]
        """Invoke function getEmailAppUsageAppsUserCounts.

        Invoke function getEmailAppUsageAppsUserCounts.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailAppUsageAppsUserCounts, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailAppUsageAppsUserCounts]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailAppUsageAppsUserCounts"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_app_usage_app_user_count.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailAppUsageAppsUserCounts]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_app_usage_app_user_count.metadata = {'url': '/reports/microsoft.graph.getEmailAppUsageAppsUserCounts(period={period})'}  # type: ignore

    def get_email_app_usage_user_count(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailAppUsageUserCounts"]
        """Invoke function getEmailAppUsageUserCounts.

        Invoke function getEmailAppUsageUserCounts.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailAppUsageUserCounts, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailAppUsageUserCounts]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailAppUsageUserCounts"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_app_usage_user_count.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailAppUsageUserCounts]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_app_usage_user_count.metadata = {'url': '/reports/microsoft.graph.getEmailAppUsageUserCounts(period={period})'}  # type: ignore

    def get_email_app_usage_user_detail62_ec(
        self,
        date,  # type: datetime.date
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailAppUsageUserDetail"]
        """Invoke function getEmailAppUsageUserDetail.

        Invoke function getEmailAppUsageUserDetail.

        :param date:
        :type date: ~datetime.date
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailAppUsageUserDetail, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailAppUsageUserDetail]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailAppUsageUserDetail"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_app_usage_user_detail62_ec.metadata['url']  # type: ignore
        path_format_arguments = {
            'date': self._serialize.url("date", date, 'date'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('[MicrosoftGraphEmailAppUsageUserDetail]', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_email_app_usage_user_detail62_ec.metadata = {'url': '/reports/microsoft.graph.getEmailAppUsageUserDetail(date={date})'}  # type: ignore

    def get_email_app_usage_user_detail546_b(
        self,
        period,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> List["models.MicrosoftGraphEmailAppUsageUserDetail"]
        """Invoke function getEmailAppUsageUserDetail.

        Invoke function getEmailAppUsageUserDetail.

        :param period:
        :type period: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: list of MicrosoftGraphEmailAppUsageUserDetail, or the result of cls(response)
        :rtype: list[~reports.models.MicrosoftGraphEmailAppUsageUserDetail]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[List["models.MicrosoftGraphEmailAppUsageUserDetail"]]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_email_app_usage_user_detail546_b.metadata['url']  # type: ignore
        path_format_arguments = {
            'period': self._serialize.url("period", period, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

[...]
