# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class DeviceAppManagementOperations(object):
    """DeviceAppManagementOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~devices_corporate_management.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_android_managed_app_protection(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Get5ItemsItem"]]]
        select=None,  # type: Optional[List[Union[str, "models.Get6ItemsItem"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get7ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfAndroidManagedAppProtection"]
        """Get androidManagedAppProtections from deviceAppManagement.

        Get androidManagedAppProtections from deviceAppManagement.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~devices_corporate_management.models.Get5ItemsItem]
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Get6ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str or ~devices_corporate_management.models.Get7ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfAndroidManagedAppProtection or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~devices_corporate_management.models.CollectionOfAndroidManagedAppProtection]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfAndroidManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_android_managed_app_protection.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfAndroidManagedAppProtection', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_android_managed_app_protection.metadata = {'url': '/deviceAppManagement/androidManagedAppProtections'}  # type: ignore

    def create_android_managed_app_protection(
        self,
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        version=None,  # type: Optional[str]
        allowed_data_storage_locations=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphManagedAppDataStorageLocation"]]]
        allowed_inbound_data_transfer_sources=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        allowed_outbound_clipboard_sharing_level=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppClipboardSharingLevel"]]
        allowed_outbound_data_transfer_destinations=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        contact_sync_blocked=None,  # type: Optional[bool]
        data_backup_blocked=None,  # type: Optional[bool]
        device_compliance_required=None,  # type: Optional[bool]
        disable_app_pin_if_device_pin_is_set=None,  # type: Optional[bool]
        fingerprint_blocked=None,  # type: Optional[bool]
        managed_browser=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedBrowserType"]]
        managed_browser_to_open_links_required=None,  # type: Optional[bool]
        maximum_pin_retries=None,  # type: Optional[int]
        minimum_pin_length=None,  # type: Optional[int]
        minimum_required_app_version=None,  # type: Optional[str]
        minimum_required_os_version=None,  # type: Optional[str]
        minimum_warning_app_version=None,  # type: Optional[str]
        minimum_warning_os_version=None,  # type: Optional[str]
        organizational_credentials_required=None,  # type: Optional[bool]
        period_before_pin_reset=None,  # type: Optional[datetime.timedelta]
        period_offline_before_access_check=None,  # type: Optional[datetime.timedelta]
        period_offline_before_wipe_is_enforced=None,  # type: Optional[datetime.timedelta]
        period_online_before_access_check=None,  # type: Optional[datetime.timedelta]
        pin_character_set=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppPinCharacterSet"]]
        pin_required=None,  # type: Optional[bool]
        print_blocked=None,  # type: Optional[bool]
        save_as_blocked=None,  # type: Optional[bool]
        simple_pin_blocked=None,  # type: Optional[bool]
        is_assigned=None,  # type: Optional[bool]
        assignments=None,  # type: Optional[List["models.MicrosoftGraphTargetedManagedAppPolicyAssignment"]]
        custom_browser_display_name=None,  # type: Optional[str]
        custom_browser_package_id=None,  # type: Optional[str]
        deployed_app_count=None,  # type: Optional[int]
        disable_app_encryption_if_device_encryption_is_enabled=None,  # type: Optional[bool]
        encrypt_app_data=None,  # type: Optional[bool]
        minimum_required_patch_version=None,  # type: Optional[str]
        minimum_warning_patch_version=None,  # type: Optional[str]
        screen_capture_blocked=None,  # type: Optional[bool]
        apps=None,  # type: Optional[List["models.MicrosoftGraphManagedMobileApp"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        configuration_deployed_user_count=None,  # type: Optional[int]
        configuration_deployment_summary_per_app=None,  # type: Optional[List["models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp"]]
        microsoft_graph_managed_app_policy_deployment_summary_display_name=None,  # type: Optional[str]
        last_refresh_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_managed_app_policy_deployment_summary_version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAndroidManagedAppProtection"
        """Create new navigation property to androidManagedAppProtections for deviceAppManagement.

        Create new navigation property to androidManagedAppProtections for deviceAppManagement.

        :param id: Read-only.
        :type id: str
        :param created_date_time: The date and time the policy was created.
        :type created_date_time: ~datetime.datetime
        :param description: The policy's description.
        :type description: str
        :param display_name: Policy display name.
        :type display_name: str
        :param last_modified_date_time: Last time the policy was modified.
        :type last_modified_date_time: ~datetime.datetime
        :param version: Version of the entity.
        :type version: str
        :param allowed_data_storage_locations: Data storage locations where a user may store managed
         data.
        :type allowed_data_storage_locations: list[str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataStorageLocation]
        :param allowed_inbound_data_transfer_sources:
        :type allowed_inbound_data_transfer_sources: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param allowed_outbound_clipboard_sharing_level:
        :type allowed_outbound_clipboard_sharing_level: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppClipboardSharingLevel
        :param allowed_outbound_data_transfer_destinations:
        :type allowed_outbound_data_transfer_destinations: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param contact_sync_blocked: Indicates whether contacts can be synced to the user's device.
        :type contact_sync_blocked: bool
        :param data_backup_blocked: Indicates whether the backup of a managed app's data is blocked.
        :type data_backup_blocked: bool
        :param device_compliance_required: Indicates whether device compliance is required.
        :type device_compliance_required: bool
        :param disable_app_pin_if_device_pin_is_set: Indicates whether use of the app pin is required
         if the device pin is set.
        :type disable_app_pin_if_device_pin_is_set: bool
        :param fingerprint_blocked: Indicates whether use of the fingerprint reader is allowed in place
         of a pin if PinRequired is set to True.
        :type fingerprint_blocked: bool
        :param managed_browser:
        :type managed_browser: str or ~devices_corporate_management.models.MicrosoftGraphManagedBrowserType
        :param managed_browser_to_open_links_required: Indicates whether internet links should be
         opened in the managed browser app, or any custom browser specified by CustomBrowserProtocol
         (for iOS) or CustomBrowserPackageId/CustomBrowserDisplayName (for Android).
        :type managed_browser_to_open_links_required: bool
        :param maximum_pin_retries: Maximum number of incorrect pin retry attempts before the managed
         app is either blocked or wiped.
        :type maximum_pin_retries: int
        :param minimum_pin_length: Minimum pin length required for an app-level pin if PinRequired is
         set to True.
        :type minimum_pin_length: int
        :param minimum_required_app_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_app_version: str
        :param minimum_required_os_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_os_version: str
        :param minimum_warning_app_version: Versions less than the specified version will result in
         warning message on the managed app.
        :type minimum_warning_app_version: str
        :param minimum_warning_os_version: Versions less than the specified version will result in
         warning message on the managed app from accessing company data.
        :type minimum_warning_os_version: str
        :param organizational_credentials_required: Indicates whether organizational credentials are
         required for app use.
        :type organizational_credentials_required: bool
        :param period_before_pin_reset: TimePeriod before the all-level pin must be reset if
         PinRequired is set to True.
        :type period_before_pin_reset: ~datetime.timedelta
        :param period_offline_before_access_check: The period after which access is checked when the
         device is not connected to the internet.
        :type period_offline_before_access_check: ~datetime.timedelta
        :param period_offline_before_wipe_is_enforced: The amount of time an app is allowed to remain
         disconnected from the internet before all managed data it is wiped.
        :type period_offline_before_wipe_is_enforced: ~datetime.timedelta
        :param period_online_before_access_check: The period after which access is checked when the
         device is connected to the internet.
        :type period_online_before_access_check: ~datetime.timedelta
        :param pin_character_set:
        :type pin_character_set: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppPinCharacterSet
        :param pin_required: Indicates whether an app-level pin is required.
        :type pin_required: bool
        :param print_blocked: Indicates whether printing is allowed from managed apps.
        :type print_blocked: bool
        :param save_as_blocked: Indicates whether users may use the 'Save As' menu item to save a copy
         of protected files.
        :type save_as_blocked: bool
        :param simple_pin_blocked: Indicates whether simplePin is blocked.
        :type simple_pin_blocked: bool
        :param is_assigned: Indicates if the policy is deployed to any inclusion groups or not.
        :type is_assigned: bool
        :param assignments: Navigation property to list of inclusion and exclusion groups to which the
         policy is deployed.
        :type assignments: list[~devices_corporate_management.models.MicrosoftGraphTargetedManagedAppPolicyAssignment]
        :param custom_browser_display_name: Friendly name of the preferred custom browser to open
         weblink on Android. When this property is configured, ManagedBrowserToOpenLinksRequired should
         be true.
        :type custom_browser_display_name: str
        :param custom_browser_package_id: Unique identifier of the preferred custom browser to open
         weblink on Android. When this property is configured, ManagedBrowserToOpenLinksRequired should
         be true.
        :type custom_browser_package_id: str
        :param deployed_app_count: Count of apps to which the current policy is deployed.
        :type deployed_app_count: int
        :param disable_app_encryption_if_device_encryption_is_enabled: When this setting is enabled,
         app level encryption is disabled if device level encryption is enabled.
        :type disable_app_encryption_if_device_encryption_is_enabled: bool
        :param encrypt_app_data: Indicates whether application data for managed apps should be
         encrypted.
        :type encrypt_app_data: bool
        :param minimum_required_patch_version: Define the oldest required Android security patch level
         a user can have to gain secure access to the app.
        :type minimum_required_patch_version: str
        :param minimum_warning_patch_version: Define the oldest recommended Android security patch
         level a user can have for secure access to the app.
        :type minimum_warning_patch_version: str
        :param screen_capture_blocked: Indicates whether a managed user can take screen captures of
         managed apps.
        :type screen_capture_blocked: bool
        :param apps: List of apps to which the policy is deployed.
        :type apps: list[~devices_corporate_management.models.MicrosoftGraphManagedMobileApp]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param configuration_deployed_user_count: Not yet documented.
        :type configuration_deployed_user_count: int
        :param configuration_deployment_summary_per_app: Not yet documented.
        :type configuration_deployment_summary_per_app: list[~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp]
        :param microsoft_graph_managed_app_policy_deployment_summary_display_name: Not yet documented.
        :type microsoft_graph_managed_app_policy_deployment_summary_display_name: str
        :param last_refresh_time: Not yet documented.
        :type last_refresh_time: ~datetime.datetime
        :param microsoft_graph_managed_app_policy_deployment_summary_version: Version of the entity.
        :type microsoft_graph_managed_app_policy_deployment_summary_version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAndroidManagedAppProtection, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphAndroidManagedAppProtection
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAndroidManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphAndroidManagedAppProtection(id=id, created_date_time=created_date_time, description=description, display_name=display_name, last_modified_date_time=last_modified_date_time, version=version, allowed_data_storage_locations=allowed_data_storage_locations, allowed_inbound_data_transfer_sources=allowed_inbound_data_transfer_sources, allowed_outbound_clipboard_sharing_level=allowed_outbound_clipboard_sharing_level, allowed_outbound_data_transfer_destinations=allowed_outbound_data_transfer_destinations, contact_sync_blocked=contact_sync_blocked, data_backup_blocked=data_backup_blocked, device_compliance_required=device_compliance_required, disable_app_pin_if_device_pin_is_set=disable_app_pin_if_device_pin_is_set, fingerprint_blocked=fingerprint_blocked, managed_browser=managed_browser, managed_browser_to_open_links_required=managed_browser_to_open_links_required, maximum_pin_retries=maximum_pin_retries, minimum_pin_length=minimum_pin_length, minimum_required_app_version=minimum_required_app_version, minimum_required_os_version=minimum_required_os_version, minimum_warning_app_version=minimum_warning_app_version, minimum_warning_os_version=minimum_warning_os_version, organizational_credentials_required=organizational_credentials_required, period_before_pin_reset=period_before_pin_reset, period_offline_before_access_check=period_offline_before_access_check, period_offline_before_wipe_is_enforced=period_offline_before_wipe_is_enforced, period_online_before_access_check=period_online_before_access_check, pin_character_set=pin_character_set, pin_required=pin_required, print_blocked=print_blocked, save_as_blocked=save_as_blocked, simple_pin_blocked=simple_pin_blocked, is_assigned=is_assigned, assignments=assignments, custom_browser_display_name=custom_browser_display_name, custom_browser_package_id=custom_browser_package_id, deployed_app_count=deployed_app_count, disable_app_encryption_if_device_encryption_is_enabled=disable_app_encryption_if_device_encryption_is_enabled, encrypt_app_data=encrypt_app_data, minimum_required_patch_version=minimum_required_patch_version, minimum_warning_patch_version=minimum_warning_patch_version, screen_capture_blocked=screen_capture_blocked, apps=apps, id_deployment_summary_id=microsoft_graph_entity_id, configuration_deployed_user_count=configuration_deployed_user_count, configuration_deployment_summary_per_app=configuration_deployment_summary_per_app, display_name_deployment_summary_display_name=microsoft_graph_managed_app_policy_deployment_summary_display_name, last_refresh_time=last_refresh_time, version_deployment_summary_version=microsoft_graph_managed_app_policy_deployment_summary_version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_android_managed_app_protection.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphAndroidManagedAppProtection')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAndroidManagedAppProtection', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_android_managed_app_protection.metadata = {'url': '/deviceAppManagement/androidManagedAppProtections'}  # type: ignore

    def get_android_managed_app_protection(
        self,
        android_managed_app_protection_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum21"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get2ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphAndroidManagedAppProtection"
        """Get androidManagedAppProtections from deviceAppManagement.

        Get androidManagedAppProtections from deviceAppManagement.

        :param android_managed_app_protection_id: key: id of androidManagedAppProtection.
        :type android_managed_app_protection_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum21]
        :param expand: Expand related entities.
        :type expand: list[str or ~devices_corporate_management.models.Get2ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphAndroidManagedAppProtection, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphAndroidManagedAppProtection
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphAndroidManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_android_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'androidManagedAppProtection-id': self._serialize.url("android_managed_app_protection_id", android_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphAndroidManagedAppProtection', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_android_managed_app_protection.metadata = {'url': '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}'}  # type: ignore

    def update_android_managed_app_protection(
        self,
        android_managed_app_protection_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        version=None,  # type: Optional[str]
        allowed_data_storage_locations=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphManagedAppDataStorageLocation"]]]
        allowed_inbound_data_transfer_sources=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        allowed_outbound_clipboard_sharing_level=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppClipboardSharingLevel"]]
        allowed_outbound_data_transfer_destinations=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        contact_sync_blocked=None,  # type: Optional[bool]
        data_backup_blocked=None,  # type: Optional[bool]
        device_compliance_required=None,  # type: Optional[bool]
        disable_app_pin_if_device_pin_is_set=None,  # type: Optional[bool]
        fingerprint_blocked=None,  # type: Optional[bool]
        managed_browser=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedBrowserType"]]
        managed_browser_to_open_links_required=None,  # type: Optional[bool]
        maximum_pin_retries=None,  # type: Optional[int]
        minimum_pin_length=None,  # type: Optional[int]
        minimum_required_app_version=None,  # type: Optional[str]
        minimum_required_os_version=None,  # type: Optional[str]
        minimum_warning_app_version=None,  # type: Optional[str]
        minimum_warning_os_version=None,  # type: Optional[str]
        organizational_credentials_required=None,  # type: Optional[bool]
        period_before_pin_reset=None,  # type: Optional[datetime.timedelta]
        period_offline_before_access_check=None,  # type: Optional[datetime.timedelta]
        period_offline_before_wipe_is_enforced=None,  # type: Optional[datetime.timedelta]
        period_online_before_access_check=None,  # type: Optional[datetime.timedelta]
        pin_character_set=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppPinCharacterSet"]]
        pin_required=None,  # type: Optional[bool]
        print_blocked=None,  # type: Optional[bool]
        save_as_blocked=None,  # type: Optional[bool]
        simple_pin_blocked=None,  # type: Optional[bool]
        is_assigned=None,  # type: Optional[bool]
        assignments=None,  # type: Optional[List["models.MicrosoftGraphTargetedManagedAppPolicyAssignment"]]
        custom_browser_display_name=None,  # type: Optional[str]
        custom_browser_package_id=None,  # type: Optional[str]
        deployed_app_count=None,  # type: Optional[int]
        disable_app_encryption_if_device_encryption_is_enabled=None,  # type: Optional[bool]
        encrypt_app_data=None,  # type: Optional[bool]
        minimum_required_patch_version=None,  # type: Optional[str]
        minimum_warning_patch_version=None,  # type: Optional[str]
        screen_capture_blocked=None,  # type: Optional[bool]
        apps=None,  # type: Optional[List["models.MicrosoftGraphManagedMobileApp"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        configuration_deployed_user_count=None,  # type: Optional[int]
        configuration_deployment_summary_per_app=None,  # type: Optional[List["models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp"]]
        microsoft_graph_managed_app_policy_deployment_summary_display_name=None,  # type: Optional[str]
        last_refresh_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_managed_app_policy_deployment_summary_version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property androidManagedAppProtections in deviceAppManagement.

        Update the navigation property androidManagedAppProtections in deviceAppManagement.

        :param android_managed_app_protection_id: key: id of androidManagedAppProtection.
        :type android_managed_app_protection_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: The date and time the policy was created.
        :type created_date_time: ~datetime.datetime
        :param description: The policy's description.
        :type description: str
        :param display_name: Policy display name.
        :type display_name: str
        :param last_modified_date_time: Last time the policy was modified.
        :type last_modified_date_time: ~datetime.datetime
        :param version: Version of the entity.
        :type version: str
        :param allowed_data_storage_locations: Data storage locations where a user may store managed
         data.
        :type allowed_data_storage_locations: list[str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataStorageLocation]
        :param allowed_inbound_data_transfer_sources:
        :type allowed_inbound_data_transfer_sources: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param allowed_outbound_clipboard_sharing_level:
        :type allowed_outbound_clipboard_sharing_level: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppClipboardSharingLevel
        :param allowed_outbound_data_transfer_destinations:
        :type allowed_outbound_data_transfer_destinations: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param contact_sync_blocked: Indicates whether contacts can be synced to the user's device.
        :type contact_sync_blocked: bool
        :param data_backup_blocked: Indicates whether the backup of a managed app's data is blocked.
        :type data_backup_blocked: bool
        :param device_compliance_required: Indicates whether device compliance is required.
        :type device_compliance_required: bool
        :param disable_app_pin_if_device_pin_is_set: Indicates whether use of the app pin is required
         if the device pin is set.
        :type disable_app_pin_if_device_pin_is_set: bool
        :param fingerprint_blocked: Indicates whether use of the fingerprint reader is allowed in place
         of a pin if PinRequired is set to True.
        :type fingerprint_blocked: bool
        :param managed_browser:
        :type managed_browser: str or ~devices_corporate_management.models.MicrosoftGraphManagedBrowserType
        :param managed_browser_to_open_links_required: Indicates whether internet links should be
         opened in the managed browser app, or any custom browser specified by CustomBrowserProtocol
         (for iOS) or CustomBrowserPackageId/CustomBrowserDisplayName (for Android).
        :type managed_browser_to_open_links_required: bool
        :param maximum_pin_retries: Maximum number of incorrect pin retry attempts before the managed
         app is either blocked or wiped.
        :type maximum_pin_retries: int
        :param minimum_pin_length: Minimum pin length required for an app-level pin if PinRequired is
         set to True.
        :type minimum_pin_length: int
        :param minimum_required_app_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_app_version: str
        :param minimum_required_os_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_os_version: str
        :param minimum_warning_app_version: Versions less than the specified version will result in
         warning message on the managed app.
        :type minimum_warning_app_version: str
        :param minimum_warning_os_version: Versions less than the specified version will result in
         warning message on the managed app from accessing company data.
        :type minimum_warning_os_version: str
        :param organizational_credentials_required: Indicates whether organizational credentials are
         required for app use.
        :type organizational_credentials_required: bool
        :param period_before_pin_reset: TimePeriod before the all-level pin must be reset if
         PinRequired is set to True.
        :type period_before_pin_reset: ~datetime.timedelta
        :param period_offline_before_access_check: The period after which access is checked when the
         device is not connected to the internet.
        :type period_offline_before_access_check: ~datetime.timedelta
        :param period_offline_before_wipe_is_enforced: The amount of time an app is allowed to remain
         disconnected from the internet before all managed data it is wiped.
        :type period_offline_before_wipe_is_enforced: ~datetime.timedelta
        :param period_online_before_access_check: The period after which access is checked when the
         device is connected to the internet.
        :type period_online_before_access_check: ~datetime.timedelta
        :param pin_character_set:
        :type pin_character_set: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppPinCharacterSet
        :param pin_required: Indicates whether an app-level pin is required.
        :type pin_required: bool
        :param print_blocked: Indicates whether printing is allowed from managed apps.
        :type print_blocked: bool
        :param save_as_blocked: Indicates whether users may use the 'Save As' menu item to save a copy
         of protected files.
        :type save_as_blocked: bool
        :param simple_pin_blocked: Indicates whether simplePin is blocked.
        :type simple_pin_blocked: bool
        :param is_assigned: Indicates if the policy is deployed to any inclusion groups or not.
        :type is_assigned: bool
        :param assignments: Navigation property to list of inclusion and exclusion groups to which the
         policy is deployed.
        :type assignments: list[~devices_corporate_management.models.MicrosoftGraphTargetedManagedAppPolicyAssignment]
        :param custom_browser_display_name: Friendly name of the preferred custom browser to open
         weblink on Android. When this property is configured, ManagedBrowserToOpenLinksRequired should
         be true.
        :type custom_browser_display_name: str
        :param custom_browser_package_id: Unique identifier of the preferred custom browser to open
         weblink on Android. When this property is configured, ManagedBrowserToOpenLinksRequired should
         be true.
        :type custom_browser_package_id: str
        :param deployed_app_count: Count of apps to which the current policy is deployed.
        :type deployed_app_count: int
        :param disable_app_encryption_if_device_encryption_is_enabled: When this setting is enabled,
         app level encryption is disabled if device level encryption is enabled.
        :type disable_app_encryption_if_device_encryption_is_enabled: bool
        :param encrypt_app_data: Indicates whether application data for managed apps should be
         encrypted.
        :type encrypt_app_data: bool
        :param minimum_required_patch_version: Define the oldest required Android security patch level
         a user can have to gain secure access to the app.
        :type minimum_required_patch_version: str
        :param minimum_warning_patch_version: Define the oldest recommended Android security patch
         level a user can have for secure access to the app.
        :type minimum_warning_patch_version: str
        :param screen_capture_blocked: Indicates whether a managed user can take screen captures of
         managed apps.
        :type screen_capture_blocked: bool
        :param apps: List of apps to which the policy is deployed.
        :type apps: list[~devices_corporate_management.models.MicrosoftGraphManagedMobileApp]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param configuration_deployed_user_count: Not yet documented.
        :type configuration_deployed_user_count: int
        :param configuration_deployment_summary_per_app: Not yet documented.
        :type configuration_deployment_summary_per_app: list[~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp]
        :param microsoft_graph_managed_app_policy_deployment_summary_display_name: Not yet documented.
        :type microsoft_graph_managed_app_policy_deployment_summary_display_name: str
        :param last_refresh_time: Not yet documented.
        :type last_refresh_time: ~datetime.datetime
        :param microsoft_graph_managed_app_policy_deployment_summary_version: Version of the entity.
        :type microsoft_graph_managed_app_policy_deployment_summary_version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphAndroidManagedAppProtection(id=id, created_date_time=created_date_time, description=description, display_name=display_name, last_modified_date_time=last_modified_date_time, version=version, allowed_data_storage_locations=allowed_data_storage_locations, allowed_inbound_data_transfer_sources=allowed_inbound_data_transfer_sources, allowed_outbound_clipboard_sharing_level=allowed_outbound_clipboard_sharing_level, allowed_outbound_data_transfer_destinations=allowed_outbound_data_transfer_destinations, contact_sync_blocked=contact_sync_blocked, data_backup_blocked=data_backup_blocked, device_compliance_required=device_compliance_required, disable_app_pin_if_device_pin_is_set=disable_app_pin_if_device_pin_is_set, fingerprint_blocked=fingerprint_blocked, managed_browser=managed_browser, managed_browser_to_open_links_required=managed_browser_to_open_links_required, maximum_pin_retries=maximum_pin_retries, minimum_pin_length=minimum_pin_length, minimum_required_app_version=minimum_required_app_version, minimum_required_os_version=minimum_required_os_version, minimum_warning_app_version=minimum_warning_app_version, minimum_warning_os_version=minimum_warning_os_version, organizational_credentials_required=organizational_credentials_required, period_before_pin_reset=period_before_pin_reset, period_offline_before_access_check=period_offline_before_access_check, period_offline_before_wipe_is_enforced=period_offline_before_wipe_is_enforced, period_online_before_access_check=period_online_before_access_check, pin_character_set=pin_character_set, pin_required=pin_required, print_blocked=print_blocked, save_as_blocked=save_as_blocked, simple_pin_blocked=simple_pin_blocked, is_assigned=is_assigned, assignments=assignments, custom_browser_display_name=custom_browser_display_name, custom_browser_package_id=custom_browser_package_id, deployed_app_count=deployed_app_count, disable_app_encryption_if_device_encryption_is_enabled=disable_app_encryption_if_device_encryption_is_enabled, encrypt_app_data=encrypt_app_data, minimum_required_patch_version=minimum_required_patch_version, minimum_warning_patch_version=minimum_warning_patch_version, screen_capture_blocked=screen_capture_blocked, apps=apps, id_deployment_summary_id=microsoft_graph_entity_id, configuration_deployed_user_count=configuration_deployed_user_count, configuration_deployment_summary_per_app=configuration_deployment_summary_per_app, display_name_deployment_summary_display_name=microsoft_graph_managed_app_policy_deployment_summary_display_name, last_refresh_time=last_refresh_time, version_deployment_summary_version=microsoft_graph_managed_app_policy_deployment_summary_version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_android_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'androidManagedAppProtection-id': self._serialize.url("android_managed_app_protection_id", android_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphAndroidManagedAppProtection')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_android_managed_app_protection.metadata = {'url': '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}'}  # type: ignore

    def delete_android_managed_app_protection(
        self,
        android_managed_app_protection_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property androidManagedAppProtections for deviceAppManagement.

        Delete navigation property androidManagedAppProtections for deviceAppManagement.

        :param android_managed_app_protection_id: key: id of androidManagedAppProtection.
        :type android_managed_app_protection_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_android_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'androidManagedAppProtection-id': self._serialize.url("android_managed_app_protection_id", android_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_android_managed_app_protection.metadata = {'url': '/deviceAppManagement/androidManagedAppProtections/{androidManagedAppProtection-id}'}  # type: ignore

    def list_default_managed_app_protection(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum27"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum28"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum29"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfDefaultManagedAppProtection"]
        """Get defaultManagedAppProtections from deviceAppManagement.

        Get defaultManagedAppProtections from deviceAppManagement.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~devices_corporate_management.models.Enum27]
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum28]
        :param expand: Expand related entities.
        :type expand: list[str or ~devices_corporate_management.models.Enum29]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfDefaultManagedAppProtection or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~devices_corporate_management.models.CollectionOfDefaultManagedAppProtection]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfDefaultManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_default_managed_app_protection.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfDefaultManagedAppProtection', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_default_managed_app_protection.metadata = {'url': '/deviceAppManagement/defaultManagedAppProtections'}  # type: ignore

    def create_default_managed_app_protection(
        self,
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        version=None,  # type: Optional[str]
        allowed_data_storage_locations=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphManagedAppDataStorageLocation"]]]
        allowed_inbound_data_transfer_sources=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        allowed_outbound_clipboard_sharing_level=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppClipboardSharingLevel"]]
        allowed_outbound_data_transfer_destinations=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        contact_sync_blocked=None,  # type: Optional[bool]
        data_backup_blocked=None,  # type: Optional[bool]
        device_compliance_required=None,  # type: Optional[bool]
        disable_app_pin_if_device_pin_is_set=None,  # type: Optional[bool]
        fingerprint_blocked=None,  # type: Optional[bool]
        managed_browser=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedBrowserType"]]
        managed_browser_to_open_links_required=None,  # type: Optional[bool]
        maximum_pin_retries=None,  # type: Optional[int]
        minimum_pin_length=None,  # type: Optional[int]
        minimum_required_app_version=None,  # type: Optional[str]
        minimum_required_os_version=None,  # type: Optional[str]
        minimum_warning_app_version=None,  # type: Optional[str]
        minimum_warning_os_version=None,  # type: Optional[str]
        organizational_credentials_required=None,  # type: Optional[bool]
        period_before_pin_reset=None,  # type: Optional[datetime.timedelta]
        period_offline_before_access_check=None,  # type: Optional[datetime.timedelta]
        period_offline_before_wipe_is_enforced=None,  # type: Optional[datetime.timedelta]
        period_online_before_access_check=None,  # type: Optional[datetime.timedelta]
        pin_character_set=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppPinCharacterSet"]]
        pin_required=None,  # type: Optional[bool]
        print_blocked=None,  # type: Optional[bool]
        save_as_blocked=None,  # type: Optional[bool]
        simple_pin_blocked=None,  # type: Optional[bool]
        app_data_encryption_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataEncryptionType"]]
        custom_settings=None,  # type: Optional[List["models.MicrosoftGraphKeyValuePair"]]
        deployed_app_count=None,  # type: Optional[int]
        disable_app_encryption_if_device_encryption_is_enabled=None,  # type: Optional[bool]
        encrypt_app_data=None,  # type: Optional[bool]
        face_id_blocked=None,  # type: Optional[bool]
        minimum_required_patch_version=None,  # type: Optional[str]
        minimum_required_sdk_version=None,  # type: Optional[str]
        minimum_warning_patch_version=None,  # type: Optional[str]
        screen_capture_blocked=None,  # type: Optional[bool]
        apps=None,  # type: Optional[List["models.MicrosoftGraphManagedMobileApp"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        configuration_deployed_user_count=None,  # type: Optional[int]
        configuration_deployment_summary_per_app=None,  # type: Optional[List["models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp"]]
        microsoft_graph_managed_app_policy_deployment_summary_display_name=None,  # type: Optional[str]
        last_refresh_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_managed_app_policy_deployment_summary_version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDefaultManagedAppProtection"
        """Create new navigation property to defaultManagedAppProtections for deviceAppManagement.

        Create new navigation property to defaultManagedAppProtections for deviceAppManagement.

        :param id: Read-only.
        :type id: str
        :param created_date_time: The date and time the policy was created.
        :type created_date_time: ~datetime.datetime
        :param description: The policy's description.
        :type description: str
        :param display_name: Policy display name.
        :type display_name: str
        :param last_modified_date_time: Last time the policy was modified.
        :type last_modified_date_time: ~datetime.datetime
        :param version: Version of the entity.
        :type version: str
        :param allowed_data_storage_locations: Data storage locations where a user may store managed
         data.
        :type allowed_data_storage_locations: list[str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataStorageLocation]
        :param allowed_inbound_data_transfer_sources:
        :type allowed_inbound_data_transfer_sources: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param allowed_outbound_clipboard_sharing_level:
        :type allowed_outbound_clipboard_sharing_level: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppClipboardSharingLevel
        :param allowed_outbound_data_transfer_destinations:
        :type allowed_outbound_data_transfer_destinations: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param contact_sync_blocked: Indicates whether contacts can be synced to the user's device.
        :type contact_sync_blocked: bool
        :param data_backup_blocked: Indicates whether the backup of a managed app's data is blocked.
        :type data_backup_blocked: bool
        :param device_compliance_required: Indicates whether device compliance is required.
        :type device_compliance_required: bool
        :param disable_app_pin_if_device_pin_is_set: Indicates whether use of the app pin is required
         if the device pin is set.
        :type disable_app_pin_if_device_pin_is_set: bool
        :param fingerprint_blocked: Indicates whether use of the fingerprint reader is allowed in place
         of a pin if PinRequired is set to True.
        :type fingerprint_blocked: bool
        :param managed_browser:
        :type managed_browser: str or ~devices_corporate_management.models.MicrosoftGraphManagedBrowserType
        :param managed_browser_to_open_links_required: Indicates whether internet links should be
         opened in the managed browser app, or any custom browser specified by CustomBrowserProtocol
         (for iOS) or CustomBrowserPackageId/CustomBrowserDisplayName (for Android).
        :type managed_browser_to_open_links_required: bool
        :param maximum_pin_retries: Maximum number of incorrect pin retry attempts before the managed
         app is either blocked or wiped.
        :type maximum_pin_retries: int
        :param minimum_pin_length: Minimum pin length required for an app-level pin if PinRequired is
         set to True.
        :type minimum_pin_length: int
        :param minimum_required_app_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_app_version: str
        :param minimum_required_os_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_os_version: str
        :param minimum_warning_app_version: Versions less than the specified version will result in
         warning message on the managed app.
        :type minimum_warning_app_version: str
        :param minimum_warning_os_version: Versions less than the specified version will result in
         warning message on the managed app from accessing company data.
        :type minimum_warning_os_version: str
        :param organizational_credentials_required: Indicates whether organizational credentials are
         required for app use.
        :type organizational_credentials_required: bool
        :param period_before_pin_reset: TimePeriod before the all-level pin must be reset if
         PinRequired is set to True.
        :type period_before_pin_reset: ~datetime.timedelta
        :param period_offline_before_access_check: The period after which access is checked when the
         device is not connected to the internet.
        :type period_offline_before_access_check: ~datetime.timedelta
        :param period_offline_before_wipe_is_enforced: The amount of time an app is allowed to remain
         disconnected from the internet before all managed data it is wiped.
        :type period_offline_before_wipe_is_enforced: ~datetime.timedelta
        :param period_online_before_access_check: The period after which access is checked when the
         device is connected to the internet.
        :type period_online_before_access_check: ~datetime.timedelta
        :param pin_character_set:
        :type pin_character_set: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppPinCharacterSet
        :param pin_required: Indicates whether an app-level pin is required.
        :type pin_required: bool
        :param print_blocked: Indicates whether printing is allowed from managed apps.
        :type print_blocked: bool
        :param save_as_blocked: Indicates whether users may use the 'Save As' menu item to save a copy
         of protected files.
        :type save_as_blocked: bool
        :param simple_pin_blocked: Indicates whether simplePin is blocked.
        :type simple_pin_blocked: bool
        :param app_data_encryption_type:
        :type app_data_encryption_type: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataEncryptionType
        :param custom_settings: A set of string key and string value pairs to be sent to the affected
         users, unalterned by this service.
        :type custom_settings: list[~devices_corporate_management.models.MicrosoftGraphKeyValuePair]
        :param deployed_app_count: Count of apps to which the current policy is deployed.
        :type deployed_app_count: int
        :param disable_app_encryption_if_device_encryption_is_enabled: When this setting is enabled,
         app level encryption is disabled if device level encryption is enabled. (Android only).
        :type disable_app_encryption_if_device_encryption_is_enabled: bool
        :param encrypt_app_data: Indicates whether managed-app data should be encrypted. (Android
         only).
        :type encrypt_app_data: bool
        :param face_id_blocked: Indicates whether use of the FaceID is allowed in place of a pin if
         PinRequired is set to True. (iOS Only).
        :type face_id_blocked: bool
        :param minimum_required_patch_version: Define the oldest required Android security patch level
         a user can have to gain secure access to the app. (Android only).
        :type minimum_required_patch_version: str
        :param minimum_required_sdk_version: Versions less than the specified version will block the
         managed app from accessing company data. (iOS Only).
        :type minimum_required_sdk_version: str
        :param minimum_warning_patch_version: Define the oldest recommended Android security patch
         level a user can have for secure access to the app. (Android only).
        :type minimum_warning_patch_version: str
        :param screen_capture_blocked: Indicates whether screen capture is blocked. (Android only).
        :type screen_capture_blocked: bool
        :param apps: List of apps to which the policy is deployed.
        :type apps: list[~devices_corporate_management.models.MicrosoftGraphManagedMobileApp]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param configuration_deployed_user_count: Not yet documented.
        :type configuration_deployed_user_count: int
        :param configuration_deployment_summary_per_app: Not yet documented.
        :type configuration_deployment_summary_per_app: list[~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp]
        :param microsoft_graph_managed_app_policy_deployment_summary_display_name: Not yet documented.
        :type microsoft_graph_managed_app_policy_deployment_summary_display_name: str
        :param last_refresh_time: Not yet documented.
        :type last_refresh_time: ~datetime.datetime
        :param microsoft_graph_managed_app_policy_deployment_summary_version: Version of the entity.
        :type microsoft_graph_managed_app_policy_deployment_summary_version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDefaultManagedAppProtection, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphDefaultManagedAppProtection
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDefaultManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphDefaultManagedAppProtection(id=id, created_date_time=created_date_time, description=description, display_name=display_name, last_modified_date_time=last_modified_date_time, version=version, allowed_data_storage_locations=allowed_data_storage_locations, allowed_inbound_data_transfer_sources=allowed_inbound_data_transfer_sources, allowed_outbound_clipboard_sharing_level=allowed_outbound_clipboard_sharing_level, allowed_outbound_data_transfer_destinations=allowed_outbound_data_transfer_destinations, contact_sync_blocked=contact_sync_blocked, data_backup_blocked=data_backup_blocked, device_compliance_required=device_compliance_required, disable_app_pin_if_device_pin_is_set=disable_app_pin_if_device_pin_is_set, fingerprint_blocked=fingerprint_blocked, managed_browser=managed_browser, managed_browser_to_open_links_required=managed_browser_to_open_links_required, maximum_pin_retries=maximum_pin_retries, minimum_pin_length=minimum_pin_length, minimum_required_app_version=minimum_required_app_version, minimum_required_os_version=minimum_required_os_version, minimum_warning_app_version=minimum_warning_app_version, minimum_warning_os_version=minimum_warning_os_version, organizational_credentials_required=organizational_credentials_required, period_before_pin_reset=period_before_pin_reset, period_offline_before_access_check=period_offline_before_access_check, period_offline_before_wipe_is_enforced=period_offline_before_wipe_is_enforced, period_online_before_access_check=period_online_before_access_check, pin_character_set=pin_character_set, pin_required=pin_required, print_blocked=print_blocked, save_as_blocked=save_as_blocked, simple_pin_blocked=simple_pin_blocked, app_data_encryption_type=app_data_encryption_type, custom_settings=custom_settings, deployed_app_count=deployed_app_count, disable_app_encryption_if_device_encryption_is_enabled=disable_app_encryption_if_device_encryption_is_enabled, encrypt_app_data=encrypt_app_data, face_id_blocked=face_id_blocked, minimum_required_patch_version=minimum_required_patch_version, minimum_required_sdk_version=minimum_required_sdk_version, minimum_warning_patch_version=minimum_warning_patch_version, screen_capture_blocked=screen_capture_blocked, apps=apps, id_deployment_summary_id=microsoft_graph_entity_id, configuration_deployed_user_count=configuration_deployed_user_count, configuration_deployment_summary_per_app=configuration_deployment_summary_per_app, display_name_deployment_summary_display_name=microsoft_graph_managed_app_policy_deployment_summary_display_name, last_refresh_time=last_refresh_time, version_deployment_summary_version=microsoft_graph_managed_app_policy_deployment_summary_version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_default_managed_app_protection.metadata['url']  # type: ignore

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphDefaultManagedAppProtection')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDefaultManagedAppProtection', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_default_managed_app_protection.metadata = {'url': '/deviceAppManagement/defaultManagedAppProtections'}  # type: ignore

    def get_default_managed_app_protection(
        self,
        default_managed_app_protection_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum30"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum31"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphDefaultManagedAppProtection"
        """Get defaultManagedAppProtections from deviceAppManagement.

        Get defaultManagedAppProtections from deviceAppManagement.

        :param default_managed_app_protection_id: key: id of defaultManagedAppProtection.
        :type default_managed_app_protection_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum30]
        :param expand: Expand related entities.
        :type expand: list[str or ~devices_corporate_management.models.Enum31]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphDefaultManagedAppProtection, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphDefaultManagedAppProtection
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphDefaultManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_default_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'defaultManagedAppProtection-id': self._serialize.url("default_managed_app_protection_id", default_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphDefaultManagedAppProtection', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_default_managed_app_protection.metadata = {'url': '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}'}  # type: ignore

    def update_default_managed_app_protection(
        self,
        default_managed_app_protection_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        description=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        version=None,  # type: Optional[str]
        allowed_data_storage_locations=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphManagedAppDataStorageLocation"]]]
        allowed_inbound_data_transfer_sources=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        allowed_outbound_clipboard_sharing_level=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppClipboardSharingLevel"]]
        allowed_outbound_data_transfer_destinations=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataTransferLevel"]]
        contact_sync_blocked=None,  # type: Optional[bool]
        data_backup_blocked=None,  # type: Optional[bool]
        device_compliance_required=None,  # type: Optional[bool]
        disable_app_pin_if_device_pin_is_set=None,  # type: Optional[bool]
        fingerprint_blocked=None,  # type: Optional[bool]
        managed_browser=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedBrowserType"]]
        managed_browser_to_open_links_required=None,  # type: Optional[bool]
        maximum_pin_retries=None,  # type: Optional[int]
        minimum_pin_length=None,  # type: Optional[int]
        minimum_required_app_version=None,  # type: Optional[str]
        minimum_required_os_version=None,  # type: Optional[str]
        minimum_warning_app_version=None,  # type: Optional[str]
        minimum_warning_os_version=None,  # type: Optional[str]
        organizational_credentials_required=None,  # type: Optional[bool]
        period_before_pin_reset=None,  # type: Optional[datetime.timedelta]
        period_offline_before_access_check=None,  # type: Optional[datetime.timedelta]
        period_offline_before_wipe_is_enforced=None,  # type: Optional[datetime.timedelta]
        period_online_before_access_check=None,  # type: Optional[datetime.timedelta]
        pin_character_set=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppPinCharacterSet"]]
        pin_required=None,  # type: Optional[bool]
        print_blocked=None,  # type: Optional[bool]
        save_as_blocked=None,  # type: Optional[bool]
        simple_pin_blocked=None,  # type: Optional[bool]
        app_data_encryption_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphManagedAppDataEncryptionType"]]
        custom_settings=None,  # type: Optional[List["models.MicrosoftGraphKeyValuePair"]]
        deployed_app_count=None,  # type: Optional[int]
        disable_app_encryption_if_device_encryption_is_enabled=None,  # type: Optional[bool]
        encrypt_app_data=None,  # type: Optional[bool]
        face_id_blocked=None,  # type: Optional[bool]
        minimum_required_patch_version=None,  # type: Optional[str]
        minimum_required_sdk_version=None,  # type: Optional[str]
        minimum_warning_patch_version=None,  # type: Optional[str]
        screen_capture_blocked=None,  # type: Optional[bool]
        apps=None,  # type: Optional[List["models.MicrosoftGraphManagedMobileApp"]]
        microsoft_graph_entity_id=None,  # type: Optional[str]
        configuration_deployed_user_count=None,  # type: Optional[int]
        configuration_deployment_summary_per_app=None,  # type: Optional[List["models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp"]]
        microsoft_graph_managed_app_policy_deployment_summary_display_name=None,  # type: Optional[str]
        last_refresh_time=None,  # type: Optional[datetime.datetime]
        microsoft_graph_managed_app_policy_deployment_summary_version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property defaultManagedAppProtections in deviceAppManagement.

        Update the navigation property defaultManagedAppProtections in deviceAppManagement.

        :param default_managed_app_protection_id: key: id of defaultManagedAppProtection.
        :type default_managed_app_protection_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: The date and time the policy was created.
        :type created_date_time: ~datetime.datetime
        :param description: The policy's description.
        :type description: str
        :param display_name: Policy display name.
        :type display_name: str
        :param last_modified_date_time: Last time the policy was modified.
        :type last_modified_date_time: ~datetime.datetime
        :param version: Version of the entity.
        :type version: str
        :param allowed_data_storage_locations: Data storage locations where a user may store managed
         data.
        :type allowed_data_storage_locations: list[str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataStorageLocation]
        :param allowed_inbound_data_transfer_sources:
        :type allowed_inbound_data_transfer_sources: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param allowed_outbound_clipboard_sharing_level:
        :type allowed_outbound_clipboard_sharing_level: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppClipboardSharingLevel
        :param allowed_outbound_data_transfer_destinations:
        :type allowed_outbound_data_transfer_destinations: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataTransferLevel
        :param contact_sync_blocked: Indicates whether contacts can be synced to the user's device.
        :type contact_sync_blocked: bool
        :param data_backup_blocked: Indicates whether the backup of a managed app's data is blocked.
        :type data_backup_blocked: bool
        :param device_compliance_required: Indicates whether device compliance is required.
        :type device_compliance_required: bool
        :param disable_app_pin_if_device_pin_is_set: Indicates whether use of the app pin is required
         if the device pin is set.
        :type disable_app_pin_if_device_pin_is_set: bool
        :param fingerprint_blocked: Indicates whether use of the fingerprint reader is allowed in place
         of a pin if PinRequired is set to True.
        :type fingerprint_blocked: bool
        :param managed_browser:
        :type managed_browser: str or ~devices_corporate_management.models.MicrosoftGraphManagedBrowserType
        :param managed_browser_to_open_links_required: Indicates whether internet links should be
         opened in the managed browser app, or any custom browser specified by CustomBrowserProtocol
         (for iOS) or CustomBrowserPackageId/CustomBrowserDisplayName (for Android).
        :type managed_browser_to_open_links_required: bool
        :param maximum_pin_retries: Maximum number of incorrect pin retry attempts before the managed
         app is either blocked or wiped.
        :type maximum_pin_retries: int
        :param minimum_pin_length: Minimum pin length required for an app-level pin if PinRequired is
         set to True.
        :type minimum_pin_length: int
        :param minimum_required_app_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_app_version: str
        :param minimum_required_os_version: Versions less than the specified version will block the
         managed app from accessing company data.
        :type minimum_required_os_version: str
        :param minimum_warning_app_version: Versions less than the specified version will result in
         warning message on the managed app.
        :type minimum_warning_app_version: str
        :param minimum_warning_os_version: Versions less than the specified version will result in
         warning message on the managed app from accessing company data.
        :type minimum_warning_os_version: str
        :param organizational_credentials_required: Indicates whether organizational credentials are
         required for app use.
        :type organizational_credentials_required: bool
        :param period_before_pin_reset: TimePeriod before the all-level pin must be reset if
         PinRequired is set to True.
        :type period_before_pin_reset: ~datetime.timedelta
        :param period_offline_before_access_check: The period after which access is checked when the
         device is not connected to the internet.
        :type period_offline_before_access_check: ~datetime.timedelta
        :param period_offline_before_wipe_is_enforced: The amount of time an app is allowed to remain
         disconnected from the internet before all managed data it is wiped.
        :type period_offline_before_wipe_is_enforced: ~datetime.timedelta
        :param period_online_before_access_check: The period after which access is checked when the
         device is connected to the internet.
        :type period_online_before_access_check: ~datetime.timedelta
        :param pin_character_set:
        :type pin_character_set: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppPinCharacterSet
        :param pin_required: Indicates whether an app-level pin is required.
        :type pin_required: bool
        :param print_blocked: Indicates whether printing is allowed from managed apps.
        :type print_blocked: bool
        :param save_as_blocked: Indicates whether users may use the 'Save As' menu item to save a copy
         of protected files.
        :type save_as_blocked: bool
        :param simple_pin_blocked: Indicates whether simplePin is blocked.
        :type simple_pin_blocked: bool
        :param app_data_encryption_type:
        :type app_data_encryption_type: str or ~devices_corporate_management.models.MicrosoftGraphManagedAppDataEncryptionType
        :param custom_settings: A set of string key and string value pairs to be sent to the affected
         users, unalterned by this service.
        :type custom_settings: list[~devices_corporate_management.models.MicrosoftGraphKeyValuePair]
        :param deployed_app_count: Count of apps to which the current policy is deployed.
        :type deployed_app_count: int
        :param disable_app_encryption_if_device_encryption_is_enabled: When this setting is enabled,
         app level encryption is disabled if device level encryption is enabled. (Android only).
        :type disable_app_encryption_if_device_encryption_is_enabled: bool
        :param encrypt_app_data: Indicates whether managed-app data should be encrypted. (Android
         only).
        :type encrypt_app_data: bool
        :param face_id_blocked: Indicates whether use of the FaceID is allowed in place of a pin if
         PinRequired is set to True. (iOS Only).
        :type face_id_blocked: bool
        :param minimum_required_patch_version: Define the oldest required Android security patch level
         a user can have to gain secure access to the app. (Android only).
        :type minimum_required_patch_version: str
        :param minimum_required_sdk_version: Versions less than the specified version will block the
         managed app from accessing company data. (iOS Only).
        :type minimum_required_sdk_version: str
        :param minimum_warning_patch_version: Define the oldest recommended Android security patch
         level a user can have for secure access to the app. (Android only).
        :type minimum_warning_patch_version: str
        :param screen_capture_blocked: Indicates whether screen capture is blocked. (Android only).
        :type screen_capture_blocked: bool
        :param apps: List of apps to which the policy is deployed.
        :type apps: list[~devices_corporate_management.models.MicrosoftGraphManagedMobileApp]
        :param microsoft_graph_entity_id: Read-only.
        :type microsoft_graph_entity_id: str
        :param configuration_deployed_user_count: Not yet documented.
        :type configuration_deployed_user_count: int
        :param configuration_deployment_summary_per_app: Not yet documented.
        :type configuration_deployment_summary_per_app: list[~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp]
        :param microsoft_graph_managed_app_policy_deployment_summary_display_name: Not yet documented.
        :type microsoft_graph_managed_app_policy_deployment_summary_display_name: str
        :param last_refresh_time: Not yet documented.
        :type last_refresh_time: ~datetime.datetime
        :param microsoft_graph_managed_app_policy_deployment_summary_version: Version of the entity.
        :type microsoft_graph_managed_app_policy_deployment_summary_version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphDefaultManagedAppProtection(id=id, created_date_time=created_date_time, description=description, display_name=display_name, last_modified_date_time=last_modified_date_time, version=version, allowed_data_storage_locations=allowed_data_storage_locations, allowed_inbound_data_transfer_sources=allowed_inbound_data_transfer_sources, allowed_outbound_clipboard_sharing_level=allowed_outbound_clipboard_sharing_level, allowed_outbound_data_transfer_destinations=allowed_outbound_data_transfer_destinations, contact_sync_blocked=contact_sync_blocked, data_backup_blocked=data_backup_blocked, device_compliance_required=device_compliance_required, disable_app_pin_if_device_pin_is_set=disable_app_pin_if_device_pin_is_set, fingerprint_blocked=fingerprint_blocked, managed_browser=managed_browser, managed_browser_to_open_links_required=managed_browser_to_open_links_required, maximum_pin_retries=maximum_pin_retries, minimum_pin_length=minimum_pin_length, minimum_required_app_version=minimum_required_app_version, minimum_required_os_version=minimum_required_os_version, minimum_warning_app_version=minimum_warning_app_version, minimum_warning_os_version=minimum_warning_os_version, organizational_credentials_required=organizational_credentials_required, period_before_pin_reset=period_before_pin_reset, period_offline_before_access_check=period_offline_before_access_check, period_offline_before_wipe_is_enforced=period_offline_before_wipe_is_enforced, period_online_before_access_check=period_online_before_access_check, pin_character_set=pin_character_set, pin_required=pin_required, print_blocked=print_blocked, save_as_blocked=save_as_blocked, simple_pin_blocked=simple_pin_blocked, app_data_encryption_type=app_data_encryption_type, custom_settings=custom_settings, deployed_app_count=deployed_app_count, disable_app_encryption_if_device_encryption_is_enabled=disable_app_encryption_if_device_encryption_is_enabled, encrypt_app_data=encrypt_app_data, face_id_blocked=face_id_blocked, minimum_required_patch_version=minimum_required_patch_version, minimum_required_sdk_version=minimum_required_sdk_version, minimum_warning_patch_version=minimum_warning_patch_version, screen_capture_blocked=screen_capture_blocked, apps=apps, id_deployment_summary_id=microsoft_graph_entity_id, configuration_deployed_user_count=configuration_deployed_user_count, configuration_deployment_summary_per_app=configuration_deployment_summary_per_app, display_name_deployment_summary_display_name=microsoft_graph_managed_app_policy_deployment_summary_display_name, last_refresh_time=last_refresh_time, version_deployment_summary_version=microsoft_graph_managed_app_policy_deployment_summary_version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_default_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'defaultManagedAppProtection-id': self._serialize.url("default_managed_app_protection_id", default_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphDefaultManagedAppProtection')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_default_managed_app_protection.metadata = {'url': '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}'}  # type: ignore

    def delete_default_managed_app_protection(
        self,
        default_managed_app_protection_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property defaultManagedAppProtections for deviceAppManagement.

        Delete navigation property defaultManagedAppProtections for deviceAppManagement.

        :param default_managed_app_protection_id: key: id of defaultManagedAppProtection.
        :type default_managed_app_protection_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_default_managed_app_protection.metadata['url']  # type: ignore
        path_format_arguments = {
            'defaultManagedAppProtection-id': self._serialize.url("default_managed_app_protection_id", default_managed_app_protection_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_default_managed_app_protection.metadata = {'url': '/deviceAppManagement/defaultManagedAppProtections/{defaultManagedAppProtection-id}'}  # type: ignore

    def list_io_managed_app_protection(
        self,
        orderby=None,  # type: Optional[List[Union[str, "models.Enum36"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum37"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum38"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfIosManagedAppProtection"]
        """Get iosManagedAppProtections from deviceAppManagement.

        Get iosManagedAppProtections from deviceAppManagement.

        :param orderby: Order items by property values.
        :type orderby: list[str or ~devices_corporate_management.models.Enum36]
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum37]
        :param expand: Expand related entities.
        :type expand: list[str or ~devices_corporate_management.models.Enum38]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfIosManagedAppProtection or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~devices_corporate_management.models.CollectionOfIosManagedAppProtection]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfIosManagedAppProtection"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_io_managed_app_protection.metadata['url']  # type: ignore
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfIosManagedAppProtection', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
[...]
