# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class DeviceAppManagementTargetedManagedAppConfigurationOperations(object):
    """DeviceAppManagementTargetedManagedAppConfigurationOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~devices_corporate_management.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum125"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum126"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfManagedMobileApp2"]
        """Get apps from deviceAppManagement.

        Get apps from deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~devices_corporate_management.models.Enum125]
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum126]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfManagedMobileApp2 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~devices_corporate_management.models.CollectionOfManagedMobileApp2]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfManagedMobileApp2"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_app.metadata['url']  # type: ignore
                path_format_arguments = {
                    'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfManagedMobileApp2', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/apps'}  # type: ignore

    def create_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        id=None,  # type: Optional[str]
        mobile_app_identifier=None,  # type: Optional[Dict[str, object]]
        version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphManagedMobileApp"
        """Create new navigation property to apps for deviceAppManagement.

        Create new navigation property to apps for deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param id: Read-only.
        :type id: str
        :param mobile_app_identifier: The identifier for a mobile app.
        :type mobile_app_identifier: dict[str, object]
        :param version: Version of the entity.
        :type version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphManagedMobileApp, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphManagedMobileApp
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphManagedMobileApp"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphManagedMobileApp(id=id, mobile_app_identifier=mobile_app_identifier, version=version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_app.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphManagedMobileApp')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphManagedMobileApp', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/apps'}  # type: ignore

    def get_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        managed_mobile_app_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum127"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphManagedMobileApp"
        """Get apps from deviceAppManagement.

        Get apps from deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param managed_mobile_app_id: key: id of managedMobileApp.
        :type managed_mobile_app_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum127]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphManagedMobileApp, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphManagedMobileApp
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphManagedMobileApp"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_app.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'managedMobileApp-id': self._serialize.url("managed_mobile_app_id", managed_mobile_app_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphManagedMobileApp', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/apps/{managedMobileApp-id}'}  # type: ignore

    def update_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        managed_mobile_app_id,  # type: str
        id=None,  # type: Optional[str]
        mobile_app_identifier=None,  # type: Optional[Dict[str, object]]
        version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property apps in deviceAppManagement.

        Update the navigation property apps in deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param managed_mobile_app_id: key: id of managedMobileApp.
        :type managed_mobile_app_id: str
        :param id: Read-only.
        :type id: str
        :param mobile_app_identifier: The identifier for a mobile app.
        :type mobile_app_identifier: dict[str, object]
        :param version: Version of the entity.
        :type version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphManagedMobileApp(id=id, mobile_app_identifier=mobile_app_identifier, version=version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_app.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'managedMobileApp-id': self._serialize.url("managed_mobile_app_id", managed_mobile_app_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphManagedMobileApp')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/apps/{managedMobileApp-id}'}  # type: ignore

    def delete_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        managed_mobile_app_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property apps for deviceAppManagement.

        Delete navigation property apps for deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param managed_mobile_app_id: key: id of managedMobileApp.
        :type managed_mobile_app_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_app.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'managedMobileApp-id': self._serialize.url("managed_mobile_app_id", managed_mobile_app_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/apps/{managedMobileApp-id}'}  # type: ignore

    def list_assignment(
        self,
        targeted_managed_app_configuration_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum128"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum129"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfTargetedManagedAppPolicyAssignment"]
        """Get assignments from deviceAppManagement.

        Get assignments from deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~devices_corporate_management.models.Enum128]
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum129]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfTargetedManagedAppPolicyAssignment or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~devices_corporate_management.models.CollectionOfTargetedManagedAppPolicyAssignment]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfTargetedManagedAppPolicyAssignment"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_assignment.metadata['url']  # type: ignore
                path_format_arguments = {
                    'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfTargetedManagedAppPolicyAssignment', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_assignment.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assignments'}  # type: ignore

    def create_assignment(
        self,
        targeted_managed_app_configuration_id,  # type: str
        id=None,  # type: Optional[str]
        target=None,  # type: Optional[Dict[str, object]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTargetedManagedAppPolicyAssignment"
        """Create new navigation property to assignments for deviceAppManagement.

        Create new navigation property to assignments for deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param id: Read-only.
        :type id: str
        :param target: Base type for assignment targets.
        :type target: dict[str, object]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTargetedManagedAppPolicyAssignment, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphTargetedManagedAppPolicyAssignment
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTargetedManagedAppPolicyAssignment"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphTargetedManagedAppPolicyAssignment(id=id, target=target)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_assignment.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphTargetedManagedAppPolicyAssignment')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTargetedManagedAppPolicyAssignment', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_assignment.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assignments'}  # type: ignore

    def get_assignment(
        self,
        targeted_managed_app_configuration_id,  # type: str
        targeted_managed_app_policy_assignment_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum130"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTargetedManagedAppPolicyAssignment"
        """Get assignments from deviceAppManagement.

        Get assignments from deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param targeted_managed_app_policy_assignment_id: key: id of
         targetedManagedAppPolicyAssignment.
        :type targeted_managed_app_policy_assignment_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum130]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTargetedManagedAppPolicyAssignment, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphTargetedManagedAppPolicyAssignment
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTargetedManagedAppPolicyAssignment"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_assignment.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'targetedManagedAppPolicyAssignment-id': self._serialize.url("targeted_managed_app_policy_assignment_id", targeted_managed_app_policy_assignment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTargetedManagedAppPolicyAssignment', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_assignment.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assignments/{targetedManagedAppPolicyAssignment-id}'}  # type: ignore

    def update_assignment(
        self,
        targeted_managed_app_configuration_id,  # type: str
        targeted_managed_app_policy_assignment_id,  # type: str
        id=None,  # type: Optional[str]
        target=None,  # type: Optional[Dict[str, object]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property assignments in deviceAppManagement.

        Update the navigation property assignments in deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param targeted_managed_app_policy_assignment_id: key: id of
         targetedManagedAppPolicyAssignment.
        :type targeted_managed_app_policy_assignment_id: str
        :param id: Read-only.
        :type id: str
        :param target: Base type for assignment targets.
        :type target: dict[str, object]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphTargetedManagedAppPolicyAssignment(id=id, target=target)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_assignment.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'targetedManagedAppPolicyAssignment-id': self._serialize.url("targeted_managed_app_policy_assignment_id", targeted_managed_app_policy_assignment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphTargetedManagedAppPolicyAssignment')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_assignment.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assignments/{targetedManagedAppPolicyAssignment-id}'}  # type: ignore

    def delete_assignment(
        self,
        targeted_managed_app_configuration_id,  # type: str
        targeted_managed_app_policy_assignment_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property assignments for deviceAppManagement.

        Delete navigation property assignments for deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param targeted_managed_app_policy_assignment_id: key: id of
         targetedManagedAppPolicyAssignment.
        :type targeted_managed_app_policy_assignment_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_assignment.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
            'targetedManagedAppPolicyAssignment-id': self._serialize.url("targeted_managed_app_policy_assignment_id", targeted_managed_app_policy_assignment_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_assignment.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/assignments/{targetedManagedAppPolicyAssignment-id}'}  # type: ignore

    def get_deployment_summary(
        self,
        targeted_managed_app_configuration_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum131"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphManagedAppPolicyDeploymentSummary"
        """Get deploymentSummary from deviceAppManagement.

        Get deploymentSummary from deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~devices_corporate_management.models.Enum131]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphManagedAppPolicyDeploymentSummary, or the result of cls(response)
        :rtype: ~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummary
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphManagedAppPolicyDeploymentSummary"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_deployment_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphManagedAppPolicyDeploymentSummary', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_deployment_summary.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/deploymentSummary'}  # type: ignore

    def update_deployment_summary(
        self,
        targeted_managed_app_configuration_id,  # type: str
        id=None,  # type: Optional[str]
        configuration_deployed_user_count=None,  # type: Optional[int]
        configuration_deployment_summary_per_app=None,  # type: Optional[List["models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp"]]
        display_name=None,  # type: Optional[str]
        last_refresh_time=None,  # type: Optional[datetime.datetime]
        version=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property deploymentSummary in deviceAppManagement.

        Update the navigation property deploymentSummary in deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param id: Read-only.
        :type id: str
        :param configuration_deployed_user_count: Not yet documented.
        :type configuration_deployed_user_count: int
        :param configuration_deployment_summary_per_app: Not yet documented.
        :type configuration_deployment_summary_per_app: list[~devices_corporate_management.models.MicrosoftGraphManagedAppPolicyDeploymentSummaryPerApp]
        :param display_name: Not yet documented.
        :type display_name: str
        :param last_refresh_time: Not yet documented.
        :type last_refresh_time: ~datetime.datetime
        :param version: Version of the entity.
        :type version: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphManagedAppPolicyDeploymentSummary(id=id, configuration_deployed_user_count=configuration_deployed_user_count, configuration_deployment_summary_per_app=configuration_deployment_summary_per_app, display_name=display_name, last_refresh_time=last_refresh_time, version=version)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_deployment_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphManagedAppPolicyDeploymentSummary')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_deployment_summary.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/deploymentSummary'}  # type: ignore

    def delete_deployment_summary(
        self,
        targeted_managed_app_configuration_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property deploymentSummary for deviceAppManagement.

        Delete navigation property deploymentSummary for deviceAppManagement.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_deployment_summary.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_deployment_summary.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/deploymentSummary'}  # type: ignore

    def assign(
        self,
        targeted_managed_app_configuration_id,  # type: str
        assignments=None,  # type: Optional[List["models.MicrosoftGraphTargetedManagedAppPolicyAssignment"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Invoke action assign.

        Invoke action assign.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param assignments:
        :type assignments: list[~devices_corporate_management.models.MicrosoftGraphTargetedManagedAppPolicyAssignment]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.PathsZxn05FDeviceappmanagementTargetedmanagedappconfigurationsTargetedmanagedappconfigurationIdMicrosoftGraphAssignPostRequestbodyContentApplicationJsonSchema(assignments=assignments)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.assign.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'PathsZxn05FDeviceappmanagementTargetedmanagedappconfigurationsTargetedmanagedappconfigurationIdMicrosoftGraphAssignPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    assign.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/microsoft.graph.assign'}  # type: ignore

    def target_app(
        self,
        targeted_managed_app_configuration_id,  # type: str
        apps=None,  # type: Optional[List["models.MicrosoftGraphManagedMobileApp"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Invoke action targetApps.

        Invoke action targetApps.

        :param targeted_managed_app_configuration_id: key: id of targetedManagedAppConfiguration.
        :type targeted_managed_app_configuration_id: str
        :param apps:
        :type apps: list[~devices_corporate_management.models.MicrosoftGraphManagedMobileApp]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.PathsXzr66BDeviceappmanagementTargetedmanagedappconfigurationsTargetedmanagedappconfigurationIdMicrosoftGraphTargetappsPostRequestbodyContentApplicationJsonSchema(apps=apps)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.target_app.metadata['url']  # type: ignore
        path_format_arguments = {
            'targetedManagedAppConfiguration-id': self._serialize.url("targeted_managed_app_configuration_id", targeted_managed_app_configuration_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'PathsXzr66BDeviceappmanagementTargetedmanagedappconfigurationsTargetedmanagedappconfigurationIdMicrosoftGraphTargetappsPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    target_app.metadata = {'url': '/deviceAppManagement/targetedManagedAppConfigurations/{targetedManagedAppConfiguration-id}/microsoft.graph.targetApps'}  # type: ignore
