# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Optional, TypeVar

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class TeamScheduleTimeCardOperations(object):
    """TeamScheduleTimeCardOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~teams.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def clock_out(
        self,
        team_id,  # type: str
        time_card_id,  # type: str
        at_approved_location=False,  # type: Optional[bool]
        notes=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTimeCard"
        """Invoke action clockOut.

        Invoke action clockOut.

        :param team_id: key: id of team.
        :type team_id: str
        :param time_card_id: key: id of timeCard.
        :type time_card_id: str
        :param at_approved_location:
        :type at_approved_location: bool
        :param notes: itemBody.
        :type notes: ~teams.models.MicrosoftGraphItemBody
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTimeCard, or the result of cls(response)
        :rtype: ~teams.models.MicrosoftGraphTimeCard
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTimeCard"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.Paths1Hehk7XTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphClockoutPostRequestbodyContentApplicationJsonSchema(at_approved_location=at_approved_location, notes=notes)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.clock_out.metadata['url']  # type: ignore
        path_format_arguments = {
            'team-id': self._serialize.url("team_id", team_id, 'str'),
            'timeCard-id': self._serialize.url("time_card_id", time_card_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'Paths1Hehk7XTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphClockoutPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTimeCard', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    clock_out.metadata = {'url': '/teams/{team-id}/schedule/timeCards/{timeCard-id}/microsoft.graph.clockOut'}  # type: ignore

    def confirm(
        self,
        team_id,  # type: str
        time_card_id,  # type: str
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTimeCard"
        """Invoke action confirm.

        Invoke action confirm.

        :param team_id: key: id of team.
        :type team_id: str
        :param time_card_id: key: id of timeCard.
        :type time_card_id: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTimeCard, or the result of cls(response)
        :rtype: ~teams.models.MicrosoftGraphTimeCard
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTimeCard"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.confirm.metadata['url']  # type: ignore
        path_format_arguments = {
            'team-id': self._serialize.url("team_id", team_id, 'str'),
            'timeCard-id': self._serialize.url("time_card_id", time_card_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.post(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTimeCard', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    confirm.metadata = {'url': '/teams/{team-id}/schedule/timeCards/{timeCard-id}/microsoft.graph.confirm'}  # type: ignore

    def end_break(
        self,
        team_id,  # type: str
        time_card_id,  # type: str
        at_approved_location=False,  # type: Optional[bool]
        notes=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTimeCard"
        """Invoke action endBreak.

        Invoke action endBreak.

        :param team_id: key: id of team.
        :type team_id: str
        :param time_card_id: key: id of timeCard.
        :type time_card_id: str
        :param at_approved_location:
        :type at_approved_location: bool
        :param notes: itemBody.
        :type notes: ~teams.models.MicrosoftGraphItemBody
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTimeCard, or the result of cls(response)
        :rtype: ~teams.models.MicrosoftGraphTimeCard
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTimeCard"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.Paths2PwcywTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphEndbreakPostRequestbodyContentApplicationJsonSchema(at_approved_location=at_approved_location, notes=notes)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.end_break.metadata['url']  # type: ignore
        path_format_arguments = {
            'team-id': self._serialize.url("team_id", team_id, 'str'),
            'timeCard-id': self._serialize.url("time_card_id", time_card_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'Paths2PwcywTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphEndbreakPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTimeCard', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    end_break.metadata = {'url': '/teams/{team-id}/schedule/timeCards/{timeCard-id}/microsoft.graph.endBreak'}  # type: ignore

    def start_break(
        self,
        team_id,  # type: str
        time_card_id,  # type: str
        at_approved_location=False,  # type: Optional[bool]
        notes=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTimeCard"
        """Invoke action startBreak.

        Invoke action startBreak.

        :param team_id: key: id of team.
        :type team_id: str
        :param time_card_id: key: id of timeCard.
        :type time_card_id: str
        :param at_approved_location:
        :type at_approved_location: bool
        :param notes: itemBody.
        :type notes: ~teams.models.MicrosoftGraphItemBody
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTimeCard, or the result of cls(response)
        :rtype: ~teams.models.MicrosoftGraphTimeCard
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTimeCard"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.Paths1Ckmy1BTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphStartbreakPostRequestbodyContentApplicationJsonSchema(at_approved_location=at_approved_location, notes=notes)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.start_break.metadata['url']  # type: ignore
        path_format_arguments = {
            'team-id': self._serialize.url("team_id", team_id, 'str'),
            'timeCard-id': self._serialize.url("time_card_id", time_card_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'Paths1Ckmy1BTeamsTeamIdScheduleTimecardsTimecardIdMicrosoftGraphStartbreakPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTimeCard', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    start_break.metadata = {'url': '/teams/{team-id}/schedule/timeCards/{timeCard-id}/microsoft.graph.startBreak'}  # type: ignore

    def clock_in(
        self,
        team_id,  # type: str
        at_approved_location=False,  # type: Optional[bool]
        on_behalf_of_user_id=None,  # type: Optional[str]
        notes=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphTimeCard"
        """Invoke action clockIn.

        Invoke action clockIn.

        :param team_id: key: id of team.
        :type team_id: str
        :param at_approved_location:
        :type at_approved_location: bool
        :param on_behalf_of_user_id:
        :type on_behalf_of_user_id: str
        :param notes: itemBody.
        :type notes: ~teams.models.MicrosoftGraphItemBody
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphTimeCard, or the result of cls(response)
        :rtype: ~teams.models.MicrosoftGraphTimeCard
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphTimeCard"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.Paths1CnzyehTeamsTeamIdScheduleTimecardsMicrosoftGraphClockinPostRequestbodyContentApplicationJsonSchema(at_approved_location=at_approved_location, on_behalf_of_user_id=on_behalf_of_user_id, notes=notes)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.clock_in.metadata['url']  # type: ignore
        path_format_arguments = {
            'team-id': self._serialize.url("team_id", team_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'Paths1CnzyehTeamsTeamIdScheduleTimecardsMicrosoftGraphClockinPostRequestbodyContentApplicationJsonSchema')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphTimeCard', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    clock_in.metadata = {'url': '/teams/{team-id}/schedule/timeCards/microsoft.graph.clockIn'}  # type: ignore
