# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class GroupOperations(object):
    """GroupOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~calendar.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def get_calendar(
        self,
        group_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Get1ItemsItem"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get2ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphCalendar"
        """Get calendar from groups.

        Get calendar from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Get1ItemsItem]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Get2ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphCalendar, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphCalendar
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphCalendar"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphCalendar', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_calendar.metadata = {'url': '/groups/{group-id}/calendar'}  # type: ignore

    def update_calendar(
        self,
        group_id,  # type: str
        id=None,  # type: Optional[str]
        allowed_online_meeting_providers=None,  # type: Optional[List[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]]
        calendar_group_id=None,  # type: Optional[str]
        can_edit=None,  # type: Optional[bool]
        can_share=None,  # type: Optional[bool]
        can_view_private_items=None,  # type: Optional[bool]
        change_key=None,  # type: Optional[str]
        color=None,  # type: Optional[Union[str, "models.MicrosoftGraphCalendarColor"]]
        default_online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        hex_color=None,  # type: Optional[str]
        is_default_calendar=None,  # type: Optional[bool]
        is_removable=None,  # type: Optional[bool]
        is_shared=None,  # type: Optional[bool]
        is_shared_with_me=None,  # type: Optional[bool]
        is_tallying_responses=None,  # type: Optional[bool]
        name=None,  # type: Optional[str]
        owner=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        calendar_permissions=None,  # type: Optional[List["models.MicrosoftGraphCalendarPermission"]]
        calendar_view=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        events=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property calendar in groups.

        Update the navigation property calendar in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param id: Read-only.
        :type id: str
        :param allowed_online_meeting_providers: Represent the online meeting service providers that
         can be used to create online meetings in this calendar. Possible values are: unknown,
         skypeForBusiness, skypeForConsumer, teamsForBusiness.
        :type allowed_online_meeting_providers: list[str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType]
        :param calendar_group_id:
        :type calendar_group_id: str
        :param can_edit: True if the user can write to the calendar, false otherwise. This property is
         true for the user who created the calendar. This property is also true for a user who has been
         shared a calendar and granted write access.
        :type can_edit: bool
        :param can_share: True if the user has the permission to share the calendar, false otherwise.
         Only the user who created the calendar can share it.
        :type can_share: bool
        :param can_view_private_items: True if the user can read calendar items that have been marked
         private, false otherwise.
        :type can_view_private_items: bool
        :param change_key: Identifies the version of the calendar object. Every time the calendar is
         changed, changeKey changes as well. This allows Exchange to apply changes to the correct
         version of the object. Read-only.
        :type change_key: str
        :param color:
        :type color: str or ~calendar.models.MicrosoftGraphCalendarColor
        :param default_online_meeting_provider:
        :type default_online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param hex_color:
        :type hex_color: str
        :param is_default_calendar:
        :type is_default_calendar: bool
        :param is_removable: Indicates whether this user calendar can be deleted from the user mailbox.
        :type is_removable: bool
        :param is_shared:
        :type is_shared: bool
        :param is_shared_with_me:
        :type is_shared_with_me: bool
        :param is_tallying_responses: Indicates whether this user calendar supports tracking of meeting
         responses. Only meeting invites sent from users' primary calendars support tracking of meeting
         responses.
        :type is_tallying_responses: bool
        :param name: The calendar name.
        :type name: str
        :param owner: emailAddress.
        :type owner: ~calendar.models.MicrosoftGraphEmailAddress
        :param calendar_permissions: The permissions of the users with whom the calendar is shared.
        :type calendar_permissions: list[~calendar.models.MicrosoftGraphCalendarPermission]
        :param calendar_view: The calendar view for the calendar. Navigation property. Read-only.
        :type calendar_view: list[~calendar.models.MicrosoftGraphEvent]
        :param events: The events in the calendar. Navigation property. Read-only.
        :type events: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the calendar. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the calendar. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphCalendar(id=id, allowed_online_meeting_providers=allowed_online_meeting_providers, calendar_group_id=calendar_group_id, can_edit=can_edit, can_share=can_share, can_view_private_items=can_view_private_items, change_key=change_key, color=color, default_online_meeting_provider=default_online_meeting_provider, hex_color=hex_color, is_default_calendar=is_default_calendar, is_removable=is_removable, is_shared=is_shared, is_shared_with_me=is_shared_with_me, is_tallying_responses=is_tallying_responses, name=name, owner=owner, calendar_permissions=calendar_permissions, calendar_view=calendar_view, events=events, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphCalendar')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_calendar.metadata = {'url': '/groups/{group-id}/calendar'}  # type: ignore

    def delete_calendar(
        self,
        group_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property calendar for groups.

        Delete navigation property calendar for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_calendar.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_calendar.metadata = {'url': '/groups/{group-id}/calendar'}  # type: ignore

    def list_calendar_view(
        self,
        group_id,  # type: str
        start_date_time,  # type: str
        end_date_time,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum83"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum84"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum85"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfEvent5"]
        """Get calendarView from groups.

        Get calendarView from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param start_date_time: The start date and time of the time range, represented in ISO 8601
         format. For example, 2019-11-08T19:00:00-08:00.
        :type start_date_time: str
        :param end_date_time: The end date and time of the time range, represented in ISO 8601 format.
         For example, 2019-11-08T20:00:00-08:00.
        :type end_date_time: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~calendar.models.Enum83]
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum84]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum85]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfEvent5 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~calendar.models.CollectionOfEvent5]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfEvent5"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_calendar_view.metadata['url']  # type: ignore
                path_format_arguments = {
                    'group-id': self._serialize.url("group_id", group_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                query_parameters['startDateTime'] = self._serialize.query("start_date_time", start_date_time, 'str')
                query_parameters['endDateTime'] = self._serialize.query("end_date_time", end_date_time, 'str')
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfEvent5', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_calendar_view.metadata = {'url': '/groups/{group-id}/calendarView'}  # type: ignore

    def create_calendar_view(
        self,
        group_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        cancelled_occurrences=None,  # type: Optional[List[str]]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        hide_attendees=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_draft=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        occurrence_id=None,  # type: Optional[str]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        uid=None,  # type: Optional[str]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        exception_occurrences=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Create new navigation property to calendarView for groups.

        Create new navigation property to calendarView for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param cancelled_occurrences:
        :type cancelled_occurrences: list[str]
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param hide_attendees:
        :type hide_attendees: bool
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_draft:
        :type is_draft: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
         locations properties always correspond with each other. If you update the location property,
         any prior locations in the locations collection would be removed and replaced by the new
         location value.
        :type locations: list[~calendar.models.MicrosoftGraphLocation]
        :param occurrence_id:
        :type occurrence_id: str
        :param online_meeting_provider:
        :type online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param online_meeting_url: A URL for an online meeting. The property is set only when an
         organizer specifies an event as an online meeting such as a Skype meeting. Read-only.
        :type online_meeting_url: str
        :param original_end_time_zone: The end time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_end_time_zone: str
        :param original_start: The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type original_start: ~datetime.datetime
        :param original_start_time_zone: The start time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_start_time_zone: str
        :param reminder_minutes_before_start: The number of minutes before the event start time that
         the reminder alert occurs.
        :type reminder_minutes_before_start: int
        :param response_requested: Default is true, which represents the organizer would like an
         invitee to send a response to the event.
        :type response_requested: bool
        :param response_status: responseStatus.
        :type response_status: ~calendar.models.MicrosoftGraphResponseStatus
        :param sensitivity:
        :type sensitivity: str or ~calendar.models.MicrosoftGraphSensitivity
        :param series_master_id: The ID for the recurring series master item, if this event is part of
         a recurring series.
        :type series_master_id: str
        :param show_as:
        :type show_as: str or ~calendar.models.MicrosoftGraphFreeBusyStatus
        :param start: dateTimeTimeZone.
        :type start: ~calendar.models.MicrosoftGraphDateTimeZone
        :param subject: The text of the event's subject line.
        :type subject: str
        :param transaction_id: A custom identifier specified by a client app for the server to avoid
         redundant POST operations in case of client retries to create the same event. This is useful
         when low network connectivity causes the client to time out before receiving a response from
         the server for the client's prior create-event request. After you set transactionId when
         creating an event, you cannot change transactionId in a subsequent update. This property is
         only returned in a response payload if an app has set it. Optional.
        :type transaction_id: str
        :param type:
        :type type: str or ~calendar.models.MicrosoftGraphEventType
        :param uid:
        :type uid: str
        :param web_link: The URL to open the event in Outlook on the web.Outlook on the web opens the
         event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web
         prompts you to sign in.This URL can be accessed from within an iFrame.
        :type web_link: str
        :param attachments: The collection of fileAttachment and itemAttachment attachments for the
         event. Navigation property. Read-only. Nullable.
        :type attachments: list[~calendar.models.MicrosoftGraphAttachment]
        :param calendar: calendar.
        :type calendar: ~calendar.models.MicrosoftGraphCalendar
        :param exception_occurrences:
        :type exception_occurrences: list[~calendar.models.MicrosoftGraphEvent]
        :param extensions: The collection of open extensions defined for the event. Read-only.
         Nullable.
        :type extensions: list[~calendar.models.MicrosoftGraphExtension]
        :param instances: The instances of the event. Navigation property. Read-only. Nullable.
        :type instances: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the event. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the event. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param pattern: recurrencePattern.
        :type pattern: ~calendar.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~calendar.models.MicrosoftGraphRecurrenceRange
        :param email_address: emailAddress.
        :type email_address: ~calendar.models.MicrosoftGraphEmailAddress
        :param conference_id: The ID of the conference.
        :type conference_id: str
        :param join_url: The external link that launches the online meeting. This is a URL that clients
         will launch into a browser and will redirect the user to join the meeting.
        :type join_url: str
        :param phones: All of the phone numbers associated with this conference.
        :type phones: list[~calendar.models.MicrosoftGraphPhone]
        :param quick_dial: The pre-formatted quickdial for this call.
        :type quick_dial: str
        :param toll_free_numbers: The toll free numbers that can be used to join the conference.
        :type toll_free_numbers: list[str]
        :param toll_number: The toll number that can be used to join the conference.
        :type toll_number: str
        :param address: physicalAddress.
        :type address: ~calendar.models.MicrosoftGraphPhysicalAddress
        :param coordinates: outlookGeoCoordinates.
        :type coordinates: ~calendar.models.MicrosoftGraphOutlookGeoCoordinates
        :param display_name: The name associated with the location.
        :type display_name: str
        :param location_email_address: Optional email address of the location.
        :type location_email_address: str
        :param location_type:
        :type location_type: str or ~calendar.models.MicrosoftGraphLocationType
        :param location_uri: Optional URI representing the location.
        :type location_uri: str
        :param unique_id: For internal use only.
        :type unique_id: str
        :param unique_id_type:
        :type unique_id_type: str or ~calendar.models.MicrosoftGraphLocationUniqueIdType
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphEvent(id=id, categories=categories, change_key=change_key, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, allow_new_time_proposals=allow_new_time_proposals, attendees=attendees, body=body, body_preview=body_preview, cancelled_occurrences=cancelled_occurrences, end=end, has_attachments=has_attachments, hide_attendees=hide_attendees, importance=importance, is_all_day=is_all_day, is_cancelled=is_cancelled, is_draft=is_draft, is_online_meeting=is_online_meeting, is_organizer=is_organizer, is_reminder_on=is_reminder_on, locations=locations, occurrence_id=occurrence_id, online_meeting_provider=online_meeting_provider, online_meeting_url=online_meeting_url, original_end_time_zone=original_end_time_zone, original_start=original_start, original_start_time_zone=original_start_time_zone, reminder_minutes_before_start=reminder_minutes_before_start, response_requested=response_requested, response_status=response_status, sensitivity=sensitivity, series_master_id=series_master_id, show_as=show_as, start=start, subject=subject, transaction_id=transaction_id, type=type, uid=uid, web_link=web_link, attachments=attachments, calendar=calendar, exception_occurrences=exception_occurrences, extensions=extensions, instances=instances, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, pattern=pattern, range=range, email_address=email_address, conference_id=conference_id, join_url=join_url, phones=phones, quick_dial=quick_dial, toll_free_numbers=toll_free_numbers, toll_number=toll_number, address=address, coordinates=coordinates, display_name=display_name, location_email_address=location_email_address, location_type=location_type, location_uri=location_uri, unique_id=unique_id, unique_id_type=unique_id_type)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_calendar_view.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphEvent')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_calendar_view.metadata = {'url': '/groups/{group-id}/calendarView'}  # type: ignore

    def get_calendar_view(
        self,
        group_id,  # type: str
        event_id,  # type: str
        start_date_time,  # type: str
        end_date_time,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum86"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum87"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Get calendarView from groups.

        Get calendarView from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param start_date_time: The start date and time of the time range, represented in ISO 8601
         format. For example, 2019-11-08T19:00:00-08:00.
        :type start_date_time: str
        :param end_date_time: The end date and time of the time range, represented in ISO 8601 format.
         For example, 2019-11-08T20:00:00-08:00.
        :type end_date_time: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum86]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum87]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_calendar_view.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        query_parameters['startDateTime'] = self._serialize.query("start_date_time", start_date_time, 'str')
        query_parameters['endDateTime'] = self._serialize.query("end_date_time", end_date_time, 'str')
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_calendar_view.metadata = {'url': '/groups/{group-id}/calendarView/{event-id}'}  # type: ignore

    def update_calendar_view(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        cancelled_occurrences=None,  # type: Optional[List[str]]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        hide_attendees=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_draft=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        occurrence_id=None,  # type: Optional[str]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        uid=None,  # type: Optional[str]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        exception_occurrences=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property calendarView in groups.

        Update the navigation property calendarView in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param cancelled_occurrences:
        :type cancelled_occurrences: list[str]
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param hide_attendees:
        :type hide_attendees: bool
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_draft:
        :type is_draft: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
         locations properties always correspond with each other. If you update the location property,
         any prior locations in the locations collection would be removed and replaced by the new
         location value.
        :type locations: list[~calendar.models.MicrosoftGraphLocation]
        :param occurrence_id:
        :type occurrence_id: str
        :param online_meeting_provider:
        :type online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param online_meeting_url: A URL for an online meeting. The property is set only when an
         organizer specifies an event as an online meeting such as a Skype meeting. Read-only.
        :type online_meeting_url: str
        :param original_end_time_zone: The end time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_end_time_zone: str
        :param original_start: The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type original_start: ~datetime.datetime
        :param original_start_time_zone: The start time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_start_time_zone: str
        :param reminder_minutes_before_start: The number of minutes before the event start time that
         the reminder alert occurs.
        :type reminder_minutes_before_start: int
        :param response_requested: Default is true, which represents the organizer would like an
         invitee to send a response to the event.
        :type response_requested: bool
        :param response_status: responseStatus.
        :type response_status: ~calendar.models.MicrosoftGraphResponseStatus
        :param sensitivity:
        :type sensitivity: str or ~calendar.models.MicrosoftGraphSensitivity
        :param series_master_id: The ID for the recurring series master item, if this event is part of
         a recurring series.
        :type series_master_id: str
        :param show_as:
        :type show_as: str or ~calendar.models.MicrosoftGraphFreeBusyStatus
        :param start: dateTimeTimeZone.
        :type start: ~calendar.models.MicrosoftGraphDateTimeZone
        :param subject: The text of the event's subject line.
        :type subject: str
        :param transaction_id: A custom identifier specified by a client app for the server to avoid
         redundant POST operations in case of client retries to create the same event. This is useful
         when low network connectivity causes the client to time out before receiving a response from
         the server for the client's prior create-event request. After you set transactionId when
         creating an event, you cannot change transactionId in a subsequent update. This property is
         only returned in a response payload if an app has set it. Optional.
        :type transaction_id: str
        :param type:
        :type type: str or ~calendar.models.MicrosoftGraphEventType
        :param uid:
        :type uid: str
        :param web_link: The URL to open the event in Outlook on the web.Outlook on the web opens the
         event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web
         prompts you to sign in.This URL can be accessed from within an iFrame.
        :type web_link: str
        :param attachments: The collection of fileAttachment and itemAttachment attachments for the
         event. Navigation property. Read-only. Nullable.
        :type attachments: list[~calendar.models.MicrosoftGraphAttachment]
        :param calendar: calendar.
        :type calendar: ~calendar.models.MicrosoftGraphCalendar
        :param exception_occurrences:
        :type exception_occurrences: list[~calendar.models.MicrosoftGraphEvent]
        :param extensions: The collection of open extensions defined for the event. Read-only.
         Nullable.
        :type extensions: list[~calendar.models.MicrosoftGraphExtension]
        :param instances: The instances of the event. Navigation property. Read-only. Nullable.
        :type instances: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the event. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the event. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param pattern: recurrencePattern.
        :type pattern: ~calendar.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~calendar.models.MicrosoftGraphRecurrenceRange
        :param email_address: emailAddress.
        :type email_address: ~calendar.models.MicrosoftGraphEmailAddress
        :param conference_id: The ID of the conference.
        :type conference_id: str
        :param join_url: The external link that launches the online meeting. This is a URL that clients
         will launch into a browser and will redirect the user to join the meeting.
        :type join_url: str
        :param phones: All of the phone numbers associated with this conference.
        :type phones: list[~calendar.models.MicrosoftGraphPhone]
        :param quick_dial: The pre-formatted quickdial for this call.
        :type quick_dial: str
        :param toll_free_numbers: The toll free numbers that can be used to join the conference.
        :type toll_free_numbers: list[str]
        :param toll_number: The toll number that can be used to join the conference.
        :type toll_number: str
        :param address: physicalAddress.
        :type address: ~calendar.models.MicrosoftGraphPhysicalAddress
        :param coordinates: outlookGeoCoordinates.
        :type coordinates: ~calendar.models.MicrosoftGraphOutlookGeoCoordinates
        :param display_name: The name associated with the location.
        :type display_name: str
        :param location_email_address: Optional email address of the location.
        :type location_email_address: str
        :param location_type:
        :type location_type: str or ~calendar.models.MicrosoftGraphLocationType
        :param location_uri: Optional URI representing the location.
        :type location_uri: str
        :param unique_id: For internal use only.
        :type unique_id: str
        :param unique_id_type:
        :type unique_id_type: str or ~calendar.models.MicrosoftGraphLocationUniqueIdType
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphEvent(id=id, categories=categories, change_key=change_key, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, allow_new_time_proposals=allow_new_time_proposals, attendees=attendees, body=body, body_preview=body_preview, cancelled_occurrences=cancelled_occurrences, end=end, has_attachments=has_attachments, hide_attendees=hide_attendees, importance=importance, is_all_day=is_all_day, is_cancelled=is_cancelled, is_draft=is_draft, is_online_meeting=is_online_meeting, is_organizer=is_organizer, is_reminder_on=is_reminder_on, locations=locations, occurrence_id=occurrence_id, online_meeting_provider=online_meeting_provider, online_meeting_url=online_meeting_url, original_end_time_zone=original_end_time_zone, original_start=original_start, original_start_time_zone=original_start_time_zone, reminder_minutes_before_start=reminder_minutes_before_start, response_requested=response_requested, response_status=response_status, sensitivity=sensitivity, series_master_id=series_master_id, show_as=show_as, start=start, subject=subject, transaction_id=transaction_id, type=type, uid=uid, web_link=web_link, attachments=attachments, calendar=calendar, exception_occurrences=exception_occurrences, extensions=extensions, instances=instances, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, pattern=pattern, range=range, email_address=email_address, conference_id=conference_id, join_url=join_url, phones=phones, quick_dial=quick_dial, toll_free_numbers=toll_free_numbers, toll_number=toll_number, address=address, coordinates=coordinates, display_name=display_name, location_email_address=location_email_address, location_type=location_type, location_uri=location_uri, unique_id=unique_id, unique_id_type=unique_id_type)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_calendar_view.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphEvent')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_calendar_view.metadata = {'url': '/groups/{group-id}/calendarView/{event-id}'}  # type: ignore

    def delete_calendar_view(
        self,
        group_id,  # type: str
        event_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property calendarView for groups.

        Delete navigation property calendarView for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_calendar_view.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_calendar_view.metadata = {'url': '/groups/{group-id}/calendarView/{event-id}'}  # type: ignore

    def list_event(
        self,
        group_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum129"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum130"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum131"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfEvent10"]
        """Get events from groups.

        Get events from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~calendar.models.Enum129]
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum130]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum131]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfEvent10 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~calendar.models.CollectionOfEvent10]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfEvent10"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_event.metadata['url']  # type: ignore
                path_format_arguments = {
                    'group-id': self._serialize.url("group_id", group_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfEvent10', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_event.metadata = {'url': '/groups/{group-id}/events'}  # type: ignore

    def create_event(
        self,
        group_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        cancelled_occurrences=None,  # type: Optional[List[str]]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        hide_attendees=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_draft=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        occurrence_id=None,  # type: Optional[str]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        uid=None,  # type: Optional[str]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        exception_occurrences=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Create new navigation property to events for groups.

        Create new navigation property to events for groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param cancelled_occurrences:
        :type cancelled_occurrences: list[str]
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param hide_attendees:
        :type hide_attendees: bool
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_draft:
        :type is_draft: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
         locations properties always correspond with each other. If you update the location property,
         any prior locations in the locations collection would be removed and replaced by the new
         location value.
        :type locations: list[~calendar.models.MicrosoftGraphLocation]
        :param occurrence_id:
        :type occurrence_id: str
        :param online_meeting_provider:
        :type online_meeting_provider: str or ~calendar.models.MicrosoftGraphOnlineMeetingProviderType
        :param online_meeting_url: A URL for an online meeting. The property is set only when an
         organizer specifies an event as an online meeting such as a Skype meeting. Read-only.
        :type online_meeting_url: str
        :param original_end_time_zone: The end time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_end_time_zone: str
        :param original_start: The Timestamp type represents date and time information using ISO 8601
         format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type original_start: ~datetime.datetime
        :param original_start_time_zone: The start time zone that was set when the event was created. A
         value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop
         Outlook.
        :type original_start_time_zone: str
        :param reminder_minutes_before_start: The number of minutes before the event start time that
         the reminder alert occurs.
        :type reminder_minutes_before_start: int
        :param response_requested: Default is true, which represents the organizer would like an
         invitee to send a response to the event.
        :type response_requested: bool
        :param response_status: responseStatus.
        :type response_status: ~calendar.models.MicrosoftGraphResponseStatus
        :param sensitivity:
        :type sensitivity: str or ~calendar.models.MicrosoftGraphSensitivity
        :param series_master_id: The ID for the recurring series master item, if this event is part of
         a recurring series.
        :type series_master_id: str
        :param show_as:
        :type show_as: str or ~calendar.models.MicrosoftGraphFreeBusyStatus
        :param start: dateTimeTimeZone.
        :type start: ~calendar.models.MicrosoftGraphDateTimeZone
        :param subject: The text of the event's subject line.
        :type subject: str
        :param transaction_id: A custom identifier specified by a client app for the server to avoid
         redundant POST operations in case of client retries to create the same event. This is useful
         when low network connectivity causes the client to time out before receiving a response from
         the server for the client's prior create-event request. After you set transactionId when
         creating an event, you cannot change transactionId in a subsequent update. This property is
         only returned in a response payload if an app has set it. Optional.
        :type transaction_id: str
        :param type:
        :type type: str or ~calendar.models.MicrosoftGraphEventType
        :param uid:
        :type uid: str
        :param web_link: The URL to open the event in Outlook on the web.Outlook on the web opens the
         event in the browser if you are signed in to your mailbox. Otherwise, Outlook on the web
         prompts you to sign in.This URL can be accessed from within an iFrame.
        :type web_link: str
        :param attachments: The collection of fileAttachment and itemAttachment attachments for the
         event. Navigation property. Read-only. Nullable.
        :type attachments: list[~calendar.models.MicrosoftGraphAttachment]
        :param calendar: calendar.
        :type calendar: ~calendar.models.MicrosoftGraphCalendar
        :param exception_occurrences:
        :type exception_occurrences: list[~calendar.models.MicrosoftGraphEvent]
        :param extensions: The collection of open extensions defined for the event. Read-only.
         Nullable.
        :type extensions: list[~calendar.models.MicrosoftGraphExtension]
        :param instances: The instances of the event. Navigation property. Read-only. Nullable.
        :type instances: list[~calendar.models.MicrosoftGraphEvent]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the event. Read-only. Nullable.
        :type multi_value_extended_properties: list[~calendar.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the event. Read-only. Nullable.
        :type single_value_extended_properties: list[~calendar.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param pattern: recurrencePattern.
        :type pattern: ~calendar.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~calendar.models.MicrosoftGraphRecurrenceRange
        :param email_address: emailAddress.
        :type email_address: ~calendar.models.MicrosoftGraphEmailAddress
        :param conference_id: The ID of the conference.
        :type conference_id: str
        :param join_url: The external link that launches the online meeting. This is a URL that clients
         will launch into a browser and will redirect the user to join the meeting.
        :type join_url: str
        :param phones: All of the phone numbers associated with this conference.
        :type phones: list[~calendar.models.MicrosoftGraphPhone]
        :param quick_dial: The pre-formatted quickdial for this call.
        :type quick_dial: str
        :param toll_free_numbers: The toll free numbers that can be used to join the conference.
        :type toll_free_numbers: list[str]
        :param toll_number: The toll number that can be used to join the conference.
        :type toll_number: str
        :param address: physicalAddress.
        :type address: ~calendar.models.MicrosoftGraphPhysicalAddress
        :param coordinates: outlookGeoCoordinates.
        :type coordinates: ~calendar.models.MicrosoftGraphOutlookGeoCoordinates
        :param display_name: The name associated with the location.
        :type display_name: str
        :param location_email_address: Optional email address of the location.
        :type location_email_address: str
        :param location_type:
        :type location_type: str or ~calendar.models.MicrosoftGraphLocationType
        :param location_uri: Optional URI representing the location.
        :type location_uri: str
        :param unique_id: For internal use only.
        :type unique_id: str
        :param unique_id_type:
        :type unique_id_type: str or ~calendar.models.MicrosoftGraphLocationUniqueIdType
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphEvent(id=id, categories=categories, change_key=change_key, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, allow_new_time_proposals=allow_new_time_proposals, attendees=attendees, body=body, body_preview=body_preview, cancelled_occurrences=cancelled_occurrences, end=end, has_attachments=has_attachments, hide_attendees=hide_attendees, importance=importance, is_all_day=is_all_day, is_cancelled=is_cancelled, is_draft=is_draft, is_online_meeting=is_online_meeting, is_organizer=is_organizer, is_reminder_on=is_reminder_on, locations=locations, occurrence_id=occurrence_id, online_meeting_provider=online_meeting_provider, online_meeting_url=online_meeting_url, original_end_time_zone=original_end_time_zone, original_start=original_start, original_start_time_zone=original_start_time_zone, reminder_minutes_before_start=reminder_minutes_before_start, response_requested=response_requested, response_status=response_status, sensitivity=sensitivity, series_master_id=series_master_id, show_as=show_as, start=start, subject=subject, transaction_id=transaction_id, type=type, uid=uid, web_link=web_link, attachments=attachments, calendar=calendar, exception_occurrences=exception_occurrences, extensions=extensions, instances=instances, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, pattern=pattern, range=range, email_address=email_address, conference_id=conference_id, join_url=join_url, phones=phones, quick_dial=quick_dial, toll_free_numbers=toll_free_numbers, toll_number=toll_number, address=address, coordinates=coordinates, display_name=display_name, location_email_address=location_email_address, location_type=location_type, location_uri=location_uri, unique_id=unique_id, unique_id_type=unique_id_type)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_event.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphEvent')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_event.metadata = {'url': '/groups/{group-id}/events'}  # type: ignore

    def get_event(
        self,
        group_id,  # type: str
        event_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum132"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum133"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphEvent"
        """Get events from groups.

        Get events from groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~calendar.models.Enum132]
        :param expand: Expand related entities.
        :type expand: list[str or ~calendar.models.Enum133]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphEvent, or the result of cls(response)
        :rtype: ~calendar.models.MicrosoftGraphEvent
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphEvent"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_event.metadata['url']  # type: ignore
        path_format_arguments = {
            'group-id': self._serialize.url("group_id", group_id, 'str'),
            'event-id': self._serialize.url("event_id", event_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphEvent', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_event.metadata = {'url': '/groups/{group-id}/events/{event-id}'}  # type: ignore

    def update_event(
        self,
        group_id,  # type: str
        event_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        allow_new_time_proposals=None,  # type: Optional[bool]
        attendees=None,  # type: Optional[List["models.MicrosoftGraphAttendee"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        cancelled_occurrences=None,  # type: Optional[List[str]]
        end=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        hide_attendees=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_all_day=None,  # type: Optional[bool]
        is_cancelled=None,  # type: Optional[bool]
        is_draft=None,  # type: Optional[bool]
        is_online_meeting=None,  # type: Optional[bool]
        is_organizer=None,  # type: Optional[bool]
        is_reminder_on=None,  # type: Optional[bool]
        locations=None,  # type: Optional[List["models.MicrosoftGraphLocation"]]
        occurrence_id=None,  # type: Optional[str]
        online_meeting_provider=None,  # type: Optional[Union[str, "models.MicrosoftGraphOnlineMeetingProviderType"]]
        online_meeting_url=None,  # type: Optional[str]
        original_end_time_zone=None,  # type: Optional[str]
        original_start=None,  # type: Optional[datetime.datetime]
        original_start_time_zone=None,  # type: Optional[str]
        reminder_minutes_before_start=None,  # type: Optional[int]
        response_requested=None,  # type: Optional[bool]
        response_status=None,  # type: Optional["models.MicrosoftGraphResponseStatus"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        series_master_id=None,  # type: Optional[str]
        show_as=None,  # type: Optional[Union[str, "models.MicrosoftGraphFreeBusyStatus"]]
        start=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        subject=None,  # type: Optional[str]
        transaction_id=None,  # type: Optional[str]
        type=None,  # type: Optional[Union[str, "models.MicrosoftGraphEventType"]]
        uid=None,  # type: Optional[str]
        web_link=None,  # type: Optional[str]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        calendar=None,  # type: Optional["models.MicrosoftGraphCalendar"]
        exception_occurrences=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        extensions=None,  # type: Optional[List["models.MicrosoftGraphExtension"]]
        instances=None,  # type: Optional[List["models.MicrosoftGraphEvent"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        email_address=None,  # type: Optional["models.MicrosoftGraphEmailAddress"]
        conference_id=None,  # type: Optional[str]
        join_url=None,  # type: Optional[str]
        phones=None,  # type: Optional[List["models.MicrosoftGraphPhone"]]
        quick_dial=None,  # type: Optional[str]
        toll_free_numbers=None,  # type: Optional[List[str]]
        toll_number=None,  # type: Optional[str]
        address=None,  # type: Optional["models.MicrosoftGraphPhysicalAddress"]
        coordinates=None,  # type: Optional["models.MicrosoftGraphOutlookGeoCoordinates"]
        display_name=None,  # type: Optional[str]
        location_email_address=None,  # type: Optional[str]
        location_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationType"]]
        location_uri=None,  # type: Optional[str]
        unique_id=None,  # type: Optional[str]
        unique_id_type=None,  # type: Optional[Union[str, "models.MicrosoftGraphLocationUniqueIdType"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property events in groups.

        Update the navigation property events in groups.

        :param group_id: key: id of group.
        :type group_id: str
        :param event_id: key: id of event.
        :type event_id: str
        :param id: Read-only.
        :type id: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param allow_new_time_proposals: True if the meeting organizer allows invitees to propose a new
         time when responding, false otherwise. Optional. Default is true.
        :type allow_new_time_proposals: bool
        :param attendees: The collection of attendees for the event.
        :type attendees: list[~calendar.models.MicrosoftGraphAttendee]
        :param body: itemBody.
        :type body: ~calendar.models.MicrosoftGraphItemBody
        :param body_preview: The preview of the message associated with the event. It is in text
         format.
        :type body_preview: str
        :param cancelled_occurrences:
        :type cancelled_occurrences: list[str]
        :param end: dateTimeTimeZone.
        :type end: ~calendar.models.MicrosoftGraphDateTimeZone
        :param has_attachments: Set to true if the event has attachments.
        :type has_attachments: bool
        :param hide_attendees:
        :type hide_attendees: bool
        :param importance:
        :type importance: str or ~calendar.models.MicrosoftGraphImportance
        :param is_all_day: Set to true if the event lasts all day.
        :type is_all_day: bool
        :param is_cancelled: Set to true if the event has been canceled.
        :type is_cancelled: bool
        :param is_draft:
        :type is_draft: bool
        :param is_online_meeting: True if this event has online meeting information, false otherwise.
         Default is false. Optional.
        :type is_online_meeting: bool
        :param is_organizer: Set to true if the calendar owner (specified by the owner property of the
         calendar) is the organizer of the event (specified by the organizer property of the event).
         This also applies if a delegate organized the event on behalf of the owner.
        :type is_organizer: bool
        :param is_reminder_on: Set to true if an alert is set to remind the user of the event.
        :type is_reminder_on: bool
        :param locations: The locations where the event is held or attended from. The location and
[...]
