# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import ClientAuthenticationError, HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, IO, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class UserMailFolderOperations(object):
    """UserMailFolderOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~mail.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_child_folder(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum16"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum17"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get9ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfMailFolder0"]
        """Get childFolders from users.

        Get childFolders from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~mail.models.Enum16]
        :param select: Select properties to be returned.
        :type select: list[str or ~mail.models.Enum17]
        :param expand: Expand related entities.
        :type expand: list[str or ~mail.models.Get9ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfMailFolder0 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~mail.models.CollectionOfMailFolder0]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfMailFolder0"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_child_folder.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfMailFolder0', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_child_folder.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders'}  # type: ignore

    def create_child_folder(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        id=None,  # type: Optional[str]
        child_folder_count=None,  # type: Optional[int]
        display_name=None,  # type: Optional[str]
        parent_folder_id=None,  # type: Optional[str]
        total_item_count=None,  # type: Optional[int]
        unread_item_count=None,  # type: Optional[int]
        well_known_name=None,  # type: Optional[str]
        child_folders=None,  # type: Optional[List["models.MicrosoftGraphMailFolder"]]
        message_rules=None,  # type: Optional[List["models.MicrosoftGraphMessageRule"]]
        messages=None,  # type: Optional[List["models.MicrosoftGraphMessage"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        user_configurations=None,  # type: Optional[List["models.MicrosoftGraphUserConfiguration"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMailFolder"
        """Create new navigation property to childFolders for users.

        Create new navigation property to childFolders for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param id: Read-only.
        :type id: str
        :param child_folder_count: The number of immediate child mailFolders in the current mailFolder.
        :type child_folder_count: int
        :param display_name: The mailFolder's display name.
        :type display_name: str
        :param parent_folder_id: The unique identifier for the mailFolder's parent mailFolder.
        :type parent_folder_id: str
        :param total_item_count: The number of items in the mailFolder.
        :type total_item_count: int
        :param unread_item_count: The number of items in the mailFolder marked as unread.
        :type unread_item_count: int
        :param well_known_name:
        :type well_known_name: str
        :param child_folders: The collection of child folders in the mailFolder.
        :type child_folders: list[~mail.models.MicrosoftGraphMailFolder]
        :param message_rules: The collection of rules that apply to the user's Inbox folder.
        :type message_rules: list[~mail.models.MicrosoftGraphMessageRule]
        :param messages: The collection of messages in the mailFolder.
        :type messages: list[~mail.models.MicrosoftGraphMessage]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the mailFolder. Read-only. Nullable.
        :type multi_value_extended_properties: list[~mail.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the mailFolder. Read-only. Nullable.
        :type single_value_extended_properties: list[~mail.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param user_configurations:
        :type user_configurations: list[~mail.models.MicrosoftGraphUserConfiguration]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMailFolder, or the result of cls(response)
        :rtype: ~mail.models.MicrosoftGraphMailFolder
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMailFolder"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphMailFolder(id=id, child_folder_count=child_folder_count, display_name=display_name, parent_folder_id=parent_folder_id, total_item_count=total_item_count, unread_item_count=unread_item_count, well_known_name=well_known_name, child_folders=child_folders, message_rules=message_rules, messages=messages, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, user_configurations=user_configurations)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_child_folder.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphMailFolder')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMailFolder', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_child_folder.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders'}  # type: ignore

    def get_child_folder(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        mail_folder_id1,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum19"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Get4ItemsItem"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMailFolder"
        """Get childFolders from users.

        Get childFolders from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param mail_folder_id1: key: id of mailFolder.
        :type mail_folder_id1: str
        :param select: Select properties to be returned.
        :type select: list[str or ~mail.models.Enum19]
        :param expand: Expand related entities.
        :type expand: list[str or ~mail.models.Get4ItemsItem]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMailFolder, or the result of cls(response)
        :rtype: ~mail.models.MicrosoftGraphMailFolder
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMailFolder"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_child_folder.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'mailFolder-id1': self._serialize.url("mail_folder_id1", mail_folder_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMailFolder', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_child_folder.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}'}  # type: ignore

    def update_child_folder(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        mail_folder_id1,  # type: str
        id=None,  # type: Optional[str]
        child_folder_count=None,  # type: Optional[int]
        display_name=None,  # type: Optional[str]
        parent_folder_id=None,  # type: Optional[str]
        total_item_count=None,  # type: Optional[int]
        unread_item_count=None,  # type: Optional[int]
        well_known_name=None,  # type: Optional[str]
        child_folders=None,  # type: Optional[List["models.MicrosoftGraphMailFolder"]]
        message_rules=None,  # type: Optional[List["models.MicrosoftGraphMessageRule"]]
        messages=None,  # type: Optional[List["models.MicrosoftGraphMessage"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        user_configurations=None,  # type: Optional[List["models.MicrosoftGraphUserConfiguration"]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property childFolders in users.

        Update the navigation property childFolders in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param mail_folder_id1: key: id of mailFolder.
        :type mail_folder_id1: str
        :param id: Read-only.
        :type id: str
        :param child_folder_count: The number of immediate child mailFolders in the current mailFolder.
        :type child_folder_count: int
        :param display_name: The mailFolder's display name.
        :type display_name: str
        :param parent_folder_id: The unique identifier for the mailFolder's parent mailFolder.
        :type parent_folder_id: str
        :param total_item_count: The number of items in the mailFolder.
        :type total_item_count: int
        :param unread_item_count: The number of items in the mailFolder marked as unread.
        :type unread_item_count: int
        :param well_known_name:
        :type well_known_name: str
        :param child_folders: The collection of child folders in the mailFolder.
        :type child_folders: list[~mail.models.MicrosoftGraphMailFolder]
        :param message_rules: The collection of rules that apply to the user's Inbox folder.
        :type message_rules: list[~mail.models.MicrosoftGraphMessageRule]
        :param messages: The collection of messages in the mailFolder.
        :type messages: list[~mail.models.MicrosoftGraphMessage]
        :param multi_value_extended_properties: The collection of multi-value extended properties
         defined for the mailFolder. Read-only. Nullable.
        :type multi_value_extended_properties: list[~mail.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param single_value_extended_properties: The collection of single-value extended properties
         defined for the mailFolder. Read-only. Nullable.
        :type single_value_extended_properties: list[~mail.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param user_configurations:
        :type user_configurations: list[~mail.models.MicrosoftGraphUserConfiguration]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphMailFolder(id=id, child_folder_count=child_folder_count, display_name=display_name, parent_folder_id=parent_folder_id, total_item_count=total_item_count, unread_item_count=unread_item_count, well_known_name=well_known_name, child_folders=child_folders, message_rules=message_rules, messages=messages, multi_value_extended_properties=multi_value_extended_properties, single_value_extended_properties=single_value_extended_properties, user_configurations=user_configurations)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_child_folder.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'mailFolder-id1': self._serialize.url("mail_folder_id1", mail_folder_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphMailFolder')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_child_folder.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}'}  # type: ignore

    def delete_child_folder(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        mail_folder_id1,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property childFolders for users.

        Delete navigation property childFolders for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param mail_folder_id1: key: id of mailFolder.
        :type mail_folder_id1: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_child_folder.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'mailFolder-id1': self._serialize.url("mail_folder_id1", mail_folder_id1, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_child_folder.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}'}  # type: ignore

    def list_message_rule(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum21"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum22"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfMessageRule"]
        """Get messageRules from users.

        Get messageRules from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~mail.models.Enum21]
        :param select: Select properties to be returned.
        :type select: list[str or ~mail.models.Enum22]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfMessageRule or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~mail.models.CollectionOfMessageRule]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfMessageRule"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_message_rule.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfMessageRule', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_message_rule.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules'}  # type: ignore

    def create_message_rule(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        has_error=None,  # type: Optional[bool]
        is_enabled=None,  # type: Optional[bool]
        is_read_only=None,  # type: Optional[bool]
        sequence=None,  # type: Optional[int]
        body_contains=None,  # type: Optional[List[str]]
        body_or_subject_contains=None,  # type: Optional[List[str]]
        categories=None,  # type: Optional[List[str]]
        from_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        has_attachments=None,  # type: Optional[bool]
        header_contains=None,  # type: Optional[List[str]]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_approval_request=None,  # type: Optional[bool]
        is_automatic_forward=None,  # type: Optional[bool]
        is_automatic_reply=None,  # type: Optional[bool]
        is_encrypted=None,  # type: Optional[bool]
        is_meeting_request=None,  # type: Optional[bool]
        is_meeting_response=None,  # type: Optional[bool]
        is_non_delivery_report=None,  # type: Optional[bool]
        is_permission_controlled=None,  # type: Optional[bool]
        is_read_receipt=None,  # type: Optional[bool]
        is_signed=None,  # type: Optional[bool]
        is_voicemail=None,  # type: Optional[bool]
        message_action_flag=None,  # type: Optional[Union[str, "models.MicrosoftGraphMessageActionFlag"]]
        not_sent_to_me=None,  # type: Optional[bool]
        recipient_contains=None,  # type: Optional[List[str]]
        sender_contains=None,  # type: Optional[List[str]]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        sent_cc_me=None,  # type: Optional[bool]
        sent_only_to_me=None,  # type: Optional[bool]
        sent_to_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        sent_to_me=None,  # type: Optional[bool]
        sent_to_or_cc_me=None,  # type: Optional[bool]
        subject_contains=None,  # type: Optional[List[str]]
        within_size_range=None,  # type: Optional["models.MicrosoftGraphSizeRange"]
        microsoft_graph_message_rule_predicates_body_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_categories=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_from_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        boolean_has_attachments=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_header_contains=None,  # type: Optional[List[str]]
        microsoft_graph_importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_approval_request=None,  # type: Optional[bool]
        is_automatic_forward=None,  # type: Optional[bool]
        is_automatic_reply=None,  # type: Optional[bool]
        is_encrypted=None,  # type: Optional[bool]
        is_meeting_request=None,  # type: Optional[bool]
        is_meeting_response=None,  # type: Optional[bool]
        is_non_delivery_report=None,  # type: Optional[bool]
        is_permission_controlled=None,  # type: Optional[bool]
        is_read_receipt=None,  # type: Optional[bool]
        is_signed=None,  # type: Optional[bool]
        is_voicemail=None,  # type: Optional[bool]
        microsoft_graph_message_action_flag_message_action_flag=None,  # type: Optional[Union[str, "models.MicrosoftGraphMessageActionFlag"]]
        boolean_not_sent_to_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_recipient_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_sender_contains=None,  # type: Optional[List[str]]
        microsoft_graph_sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        boolean_sent_cc_me=None,  # type: Optional[bool]
        boolean_sent_only_to_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        boolean_sent_to_me=None,  # type: Optional[bool]
        boolean_sent_to_or_cc_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_subject_contains=None,  # type: Optional[List[str]]
        microsoft_graph_size_range_within_size_range=None,  # type: Optional["models.MicrosoftGraphSizeRange"]
        assign_categories=None,  # type: Optional[List[str]]
        copy_to_folder=None,  # type: Optional[str]
        delete=None,  # type: Optional[bool]
        forward_as_attachment_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        forward_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        mark_as_read=None,  # type: Optional[bool]
        mark_importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        move_to_folder=None,  # type: Optional[str]
        permanent_delete=None,  # type: Optional[bool]
        redirect_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        stop_processing_rules=None,  # type: Optional[bool]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMessageRule"
        """Create new navigation property to messageRules for users.

        Create new navigation property to messageRules for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param id: Read-only.
        :type id: str
        :param display_name: The display name of the rule.
        :type display_name: str
        :param has_error: Indicates whether the rule is in an error condition. Read-only.
        :type has_error: bool
        :param is_enabled: Indicates whether the rule is enabled to be applied to messages.
        :type is_enabled: bool
        :param is_read_only: Indicates if the rule is read-only and cannot be modified or deleted by
         the rules REST API.
        :type is_read_only: bool
        :param sequence: Indicates the order in which the rule is executed, among other rules.
        :type sequence: int
        :param body_contains: Represents the strings that should appear in the body of an incoming
         message in order for the condition or exception to apply.
        :type body_contains: list[str]
        :param body_or_subject_contains: Represents the strings that should appear in the body or
         subject of an incoming message in order for the condition or exception to apply.
        :type body_or_subject_contains: list[str]
        :param categories: Represents the categories that an incoming message should be labeled with in
         order for the condition or exception to apply.
        :type categories: list[str]
        :param from_addresses: Represents the specific sender email addresses of an incoming message in
         order for the condition or exception to apply.
        :type from_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param has_attachments: Indicates whether an incoming message must have attachments in order
         for the condition or exception to apply.
        :type has_attachments: bool
        :param header_contains: Represents the strings that appear in the headers of an incoming
         message in order for the condition or exception to apply.
        :type header_contains: list[str]
        :param importance:
        :type importance: str or ~mail.models.MicrosoftGraphImportance
        :param is_approval_request: Indicates whether an incoming message must be an approval request
         in order for the condition or exception to apply.
        :type is_approval_request: bool
        :param is_automatic_forward: Indicates whether an incoming message must be automatically
         forwarded in order for the condition or exception to apply.
        :type is_automatic_forward: bool
        :param is_automatic_reply: Indicates whether an incoming message must be an auto reply in order
         for the condition or exception to apply.
        :type is_automatic_reply: bool
        :param is_encrypted: Indicates whether an incoming message must be encrypted in order for the
         condition or exception to apply.
        :type is_encrypted: bool
        :param is_meeting_request: Indicates whether an incoming message must be a meeting request in
         order for the condition or exception to apply.
        :type is_meeting_request: bool
        :param is_meeting_response: Indicates whether an incoming message must be a meeting response in
         order for the condition or exception to apply.
        :type is_meeting_response: bool
        :param is_non_delivery_report: Indicates whether an incoming message must be a non-delivery
         report in order for the condition or exception to apply.
        :type is_non_delivery_report: bool
        :param is_permission_controlled: Indicates whether an incoming message must be permission
         controlled (RMS-protected) in order for the condition or exception to apply.
        :type is_permission_controlled: bool
        :param is_read_receipt: Indicates whether an incoming message must be a read receipt in order
         for the condition or exception to apply.
        :type is_read_receipt: bool
        :param is_signed: Indicates whether an incoming message must be S/MIME-signed in order for the
         condition or exception to apply.
        :type is_signed: bool
        :param is_voicemail: Indicates whether an incoming message must be a voice mail in order for
         the condition or exception to apply.
        :type is_voicemail: bool
        :param message_action_flag:
        :type message_action_flag: str or ~mail.models.MicrosoftGraphMessageActionFlag
        :param not_sent_to_me: Indicates whether the owner of the mailbox must not be a recipient of an
         incoming message in order for the condition or exception to apply.
        :type not_sent_to_me: bool
        :param recipient_contains: Represents the strings that appear in either the toRecipients or
         ccRecipients properties of an incoming message in order for the condition or exception to
         apply.
        :type recipient_contains: list[str]
        :param sender_contains: Represents the strings that appear in the from property of an incoming
         message in order for the condition or exception to apply.
        :type sender_contains: list[str]
        :param sensitivity:
        :type sensitivity: str or ~mail.models.MicrosoftGraphSensitivity
        :param sent_cc_me: Indicates whether the owner of the mailbox must be in the ccRecipients
         property of an incoming message in order for the condition or exception to apply.
        :type sent_cc_me: bool
        :param sent_only_to_me: Indicates whether the owner of the mailbox must be the only recipient
         in an incoming message in order for the condition or exception to apply.
        :type sent_only_to_me: bool
        :param sent_to_addresses: Represents the email addresses that an incoming message must have
         been sent to in order for the condition or exception to apply.
        :type sent_to_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param sent_to_me: Indicates whether the owner of the mailbox must be in the toRecipients
         property of an incoming message in order for the condition or exception to apply.
        :type sent_to_me: bool
        :param sent_to_or_cc_me: Indicates whether the owner of the mailbox must be in either a
         toRecipients or ccRecipients property of an incoming message in order for the condition or
         exception to apply.
        :type sent_to_or_cc_me: bool
        :param subject_contains: Represents the strings that appear in the subject of an incoming
         message in order for the condition or exception to apply.
        :type subject_contains: list[str]
        :param within_size_range: sizeRange.
        :type within_size_range: ~mail.models.MicrosoftGraphSizeRange
        :param microsoft_graph_message_rule_predicates_body_contains: Represents the strings that
         should appear in the body of an incoming message in order for the condition or exception to
         apply.
        :type microsoft_graph_message_rule_predicates_body_contains: list[str]
        :param
         microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains:
         Represents the strings that should appear in the body or subject of an incoming message in
         order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains: list[str]
        :param microsoft_graph_message_rule_predicates_categories: Represents the categories that an
         incoming message should be labeled with in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_categories: list[str]
        :param microsoft_graph_message_rule_predicates_from_addresses: Represents the specific sender
         email addresses of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_from_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param boolean_has_attachments: Indicates whether an incoming message must have attachments in
         order for the condition or exception to apply.
        :type boolean_has_attachments: bool
        :param microsoft_graph_message_rule_predicates_header_contains: Represents the strings that
         appear in the headers of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_header_contains: list[str]
        :param microsoft_graph_importance:
        :type microsoft_graph_importance: str or ~mail.models.MicrosoftGraphImportance
        :param is_approval_request: Indicates whether an incoming message must be an approval request
         in order for the condition or exception to apply.
        :type is_approval_request: bool
        :param is_automatic_forward: Indicates whether an incoming message must be automatically
         forwarded in order for the condition or exception to apply.
        :type is_automatic_forward: bool
        :param is_automatic_reply: Indicates whether an incoming message must be an auto reply in order
         for the condition or exception to apply.
        :type is_automatic_reply: bool
        :param is_encrypted: Indicates whether an incoming message must be encrypted in order for the
         condition or exception to apply.
        :type is_encrypted: bool
        :param is_meeting_request: Indicates whether an incoming message must be a meeting request in
         order for the condition or exception to apply.
        :type is_meeting_request: bool
        :param is_meeting_response: Indicates whether an incoming message must be a meeting response in
         order for the condition or exception to apply.
        :type is_meeting_response: bool
        :param is_non_delivery_report: Indicates whether an incoming message must be a non-delivery
         report in order for the condition or exception to apply.
        :type is_non_delivery_report: bool
        :param is_permission_controlled: Indicates whether an incoming message must be permission
         controlled (RMS-protected) in order for the condition or exception to apply.
        :type is_permission_controlled: bool
        :param is_read_receipt: Indicates whether an incoming message must be a read receipt in order
         for the condition or exception to apply.
        :type is_read_receipt: bool
        :param is_signed: Indicates whether an incoming message must be S/MIME-signed in order for the
         condition or exception to apply.
        :type is_signed: bool
        :param is_voicemail: Indicates whether an incoming message must be a voice mail in order for
         the condition or exception to apply.
        :type is_voicemail: bool
        :param microsoft_graph_message_action_flag_message_action_flag:
        :type microsoft_graph_message_action_flag_message_action_flag: str or ~mail.models.MicrosoftGraphMessageActionFlag
        :param boolean_not_sent_to_me: Indicates whether the owner of the mailbox must not be a
         recipient of an incoming message in order for the condition or exception to apply.
        :type boolean_not_sent_to_me: bool
        :param microsoft_graph_message_rule_predicates_recipient_contains: Represents the strings that
         appear in either the toRecipients or ccRecipients properties of an incoming message in order
         for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_recipient_contains: list[str]
        :param microsoft_graph_message_rule_predicates_sender_contains: Represents the strings that
         appear in the from property of an incoming message in order for the condition or exception to
         apply.
        :type microsoft_graph_message_rule_predicates_sender_contains: list[str]
        :param microsoft_graph_sensitivity:
        :type microsoft_graph_sensitivity: str or ~mail.models.MicrosoftGraphSensitivity
        :param boolean_sent_cc_me: Indicates whether the owner of the mailbox must be in the
         ccRecipients property of an incoming message in order for the condition or exception to apply.
        :type boolean_sent_cc_me: bool
        :param boolean_sent_only_to_me: Indicates whether the owner of the mailbox must be the only
         recipient in an incoming message in order for the condition or exception to apply.
        :type boolean_sent_only_to_me: bool
        :param microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses: Represents
         the email addresses that an incoming message must have been sent to in order for the condition
         or exception to apply.
        :type microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param boolean_sent_to_me: Indicates whether the owner of the mailbox must be in the
         toRecipients property of an incoming message in order for the condition or exception to apply.
        :type boolean_sent_to_me: bool
        :param boolean_sent_to_or_cc_me: Indicates whether the owner of the mailbox must be in either a
         toRecipients or ccRecipients property of an incoming message in order for the condition or
         exception to apply.
        :type boolean_sent_to_or_cc_me: bool
        :param microsoft_graph_message_rule_predicates_subject_contains: Represents the strings that
         appear in the subject of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_subject_contains: list[str]
        :param microsoft_graph_size_range_within_size_range: sizeRange.
        :type microsoft_graph_size_range_within_size_range: ~mail.models.MicrosoftGraphSizeRange
        :param assign_categories: A list of categories to be assigned to a message.
        :type assign_categories: list[str]
        :param copy_to_folder: The ID of a folder that a message is to be copied to.
        :type copy_to_folder: str
        :param delete: Indicates whether a message should be moved to the Deleted Items folder.
        :type delete: bool
        :param forward_as_attachment_to: The email addresses of the recipients to which a message
         should be forwarded as an attachment.
        :type forward_as_attachment_to: list[~mail.models.MicrosoftGraphRecipient]
        :param forward_to: The email addresses of the recipients to which a message should be
         forwarded.
        :type forward_to: list[~mail.models.MicrosoftGraphRecipient]
        :param mark_as_read: Indicates whether a message should be marked as read.
        :type mark_as_read: bool
        :param mark_importance:
        :type mark_importance: str or ~mail.models.MicrosoftGraphImportance
        :param move_to_folder: The ID of the folder that a message will be moved to.
        :type move_to_folder: str
        :param permanent_delete: Indicates whether a message should be permanently deleted and not
         saved to the Deleted Items folder.
        :type permanent_delete: bool
        :param redirect_to: The email addresses to which a message should be redirected.
        :type redirect_to: list[~mail.models.MicrosoftGraphRecipient]
        :param stop_processing_rules: Indicates whether subsequent rules should be evaluated.
        :type stop_processing_rules: bool
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMessageRule, or the result of cls(response)
        :rtype: ~mail.models.MicrosoftGraphMessageRule
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMessageRule"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphMessageRule(id=id, display_name=display_name, has_error=has_error, is_enabled=is_enabled, is_read_only=is_read_only, sequence=sequence, body_contains_exceptions_body_contains=body_contains, body_or_subject_contains_exceptions_body_or_subject_contains=body_or_subject_contains, categories_exceptions_categories=categories, from_addresses_exceptions_from_addresses=from_addresses, has_attachments_exceptions_has_attachments=has_attachments, header_contains_exceptions_header_contains=header_contains, importance_exceptions_importance=importance, is_approval_request_exceptions_is_approval_request=is_approval_request, is_automatic_forward_exceptions_is_automatic_forward=is_automatic_forward, is_automatic_reply_exceptions_is_automatic_reply=is_automatic_reply, is_encrypted_exceptions_is_encrypted=is_encrypted, is_meeting_request_exceptions_is_meeting_request=is_meeting_request, is_meeting_response_exceptions_is_meeting_response=is_meeting_response, is_non_delivery_report_exceptions_is_non_delivery_report=is_non_delivery_report, is_permission_controlled_exceptions_is_permission_controlled=is_permission_controlled, is_read_receipt_exceptions_is_read_receipt=is_read_receipt, is_signed_exceptions_is_signed=is_signed, is_voicemail_exceptions_is_voicemail=is_voicemail, message_action_flag_exceptions_message_action_flag=message_action_flag, not_sent_to_me_exceptions_not_sent_to_me=not_sent_to_me, recipient_contains_exceptions_recipient_contains=recipient_contains, sender_contains_exceptions_sender_contains=sender_contains, sensitivity_exceptions_sensitivity=sensitivity, sent_cc_me_exceptions_sent_cc_me=sent_cc_me, sent_only_to_me_exceptions_sent_only_to_me=sent_only_to_me, sent_to_addresses_exceptions_sent_to_addresses=sent_to_addresses, sent_to_me_exceptions_sent_to_me=sent_to_me, sent_to_or_cc_me_exceptions_sent_to_or_cc_me=sent_to_or_cc_me, subject_contains_exceptions_subject_contains=subject_contains, within_size_range_exceptions_within_size_range=within_size_range, body_contains_conditions_body_contains=microsoft_graph_message_rule_predicates_body_contains, body_or_subject_contains_conditions_body_or_subject_contains=microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains, categories_conditions_categories=microsoft_graph_message_rule_predicates_categories, from_addresses_conditions_from_addresses=microsoft_graph_message_rule_predicates_from_addresses, has_attachments_conditions_has_attachments=boolean_has_attachments, header_contains_conditions_header_contains=microsoft_graph_message_rule_predicates_header_contains, importance_conditions_importance=microsoft_graph_importance, is_approval_request_conditions_is_approval_request=is_approval_request, is_automatic_forward_conditions_is_automatic_forward=is_automatic_forward, is_automatic_reply_conditions_is_automatic_reply=is_automatic_reply, is_encrypted_conditions_is_encrypted=is_encrypted, is_meeting_request_conditions_is_meeting_request=is_meeting_request, is_meeting_response_conditions_is_meeting_response=is_meeting_response, is_non_delivery_report_conditions_is_non_delivery_report=is_non_delivery_report, is_permission_controlled_conditions_is_permission_controlled=is_permission_controlled, is_read_receipt_conditions_is_read_receipt=is_read_receipt, is_signed_conditions_is_signed=is_signed, is_voicemail_conditions_is_voicemail=is_voicemail, message_action_flag_conditions_message_action_flag=microsoft_graph_message_action_flag_message_action_flag, not_sent_to_me_conditions_not_sent_to_me=boolean_not_sent_to_me, recipient_contains_conditions_recipient_contains=microsoft_graph_message_rule_predicates_recipient_contains, sender_contains_conditions_sender_contains=microsoft_graph_message_rule_predicates_sender_contains, sensitivity_conditions_sensitivity=microsoft_graph_sensitivity, sent_cc_me_conditions_sent_cc_me=boolean_sent_cc_me, sent_only_to_me_conditions_sent_only_to_me=boolean_sent_only_to_me, sent_to_addresses_conditions_sent_to_addresses=microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses, sent_to_me_conditions_sent_to_me=boolean_sent_to_me, sent_to_or_cc_me_conditions_sent_to_or_cc_me=boolean_sent_to_or_cc_me, subject_contains_conditions_subject_contains=microsoft_graph_message_rule_predicates_subject_contains, within_size_range_conditions_within_size_range=microsoft_graph_size_range_within_size_range, assign_categories=assign_categories, copy_to_folder=copy_to_folder, delete=delete, forward_as_attachment_to=forward_as_attachment_to, forward_to=forward_to, mark_as_read=mark_as_read, mark_importance=mark_importance, move_to_folder=move_to_folder, permanent_delete=permanent_delete, redirect_to=redirect_to, stop_processing_rules=stop_processing_rules)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.create_message_rule.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphMessageRule')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMessageRule', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_message_rule.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules'}  # type: ignore

    def get_message_rule(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        message_rule_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum23"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMessageRule"
        """Get messageRules from users.

        Get messageRules from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param message_rule_id: key: id of messageRule.
        :type message_rule_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~mail.models.Enum23]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMessageRule, or the result of cls(response)
        :rtype: ~mail.models.MicrosoftGraphMessageRule
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMessageRule"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.get_message_rule.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'messageRule-id': self._serialize.url("message_rule_id", message_rule_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMessageRule', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_message_rule.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}'}  # type: ignore

    def update_message_rule(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        message_rule_id,  # type: str
        id=None,  # type: Optional[str]
        display_name=None,  # type: Optional[str]
        has_error=None,  # type: Optional[bool]
        is_enabled=None,  # type: Optional[bool]
        is_read_only=None,  # type: Optional[bool]
        sequence=None,  # type: Optional[int]
        body_contains=None,  # type: Optional[List[str]]
        body_or_subject_contains=None,  # type: Optional[List[str]]
        categories=None,  # type: Optional[List[str]]
        from_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        has_attachments=None,  # type: Optional[bool]
        header_contains=None,  # type: Optional[List[str]]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_approval_request=None,  # type: Optional[bool]
        is_automatic_forward=None,  # type: Optional[bool]
        is_automatic_reply=None,  # type: Optional[bool]
        is_encrypted=None,  # type: Optional[bool]
        is_meeting_request=None,  # type: Optional[bool]
        is_meeting_response=None,  # type: Optional[bool]
        is_non_delivery_report=None,  # type: Optional[bool]
        is_permission_controlled=None,  # type: Optional[bool]
        is_read_receipt=None,  # type: Optional[bool]
        is_signed=None,  # type: Optional[bool]
        is_voicemail=None,  # type: Optional[bool]
        message_action_flag=None,  # type: Optional[Union[str, "models.MicrosoftGraphMessageActionFlag"]]
        not_sent_to_me=None,  # type: Optional[bool]
        recipient_contains=None,  # type: Optional[List[str]]
        sender_contains=None,  # type: Optional[List[str]]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        sent_cc_me=None,  # type: Optional[bool]
        sent_only_to_me=None,  # type: Optional[bool]
        sent_to_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        sent_to_me=None,  # type: Optional[bool]
        sent_to_or_cc_me=None,  # type: Optional[bool]
        subject_contains=None,  # type: Optional[List[str]]
        within_size_range=None,  # type: Optional["models.MicrosoftGraphSizeRange"]
        microsoft_graph_message_rule_predicates_body_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_categories=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_from_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        boolean_has_attachments=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_header_contains=None,  # type: Optional[List[str]]
        microsoft_graph_importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_approval_request=None,  # type: Optional[bool]
        is_automatic_forward=None,  # type: Optional[bool]
        is_automatic_reply=None,  # type: Optional[bool]
        is_encrypted=None,  # type: Optional[bool]
        is_meeting_request=None,  # type: Optional[bool]
        is_meeting_response=None,  # type: Optional[bool]
        is_non_delivery_report=None,  # type: Optional[bool]
        is_permission_controlled=None,  # type: Optional[bool]
        is_read_receipt=None,  # type: Optional[bool]
        is_signed=None,  # type: Optional[bool]
        is_voicemail=None,  # type: Optional[bool]
        microsoft_graph_message_action_flag_message_action_flag=None,  # type: Optional[Union[str, "models.MicrosoftGraphMessageActionFlag"]]
        boolean_not_sent_to_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_recipient_contains=None,  # type: Optional[List[str]]
        microsoft_graph_message_rule_predicates_sender_contains=None,  # type: Optional[List[str]]
        microsoft_graph_sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        boolean_sent_cc_me=None,  # type: Optional[bool]
        boolean_sent_only_to_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        boolean_sent_to_me=None,  # type: Optional[bool]
        boolean_sent_to_or_cc_me=None,  # type: Optional[bool]
        microsoft_graph_message_rule_predicates_subject_contains=None,  # type: Optional[List[str]]
        microsoft_graph_size_range_within_size_range=None,  # type: Optional["models.MicrosoftGraphSizeRange"]
        assign_categories=None,  # type: Optional[List[str]]
        copy_to_folder=None,  # type: Optional[str]
        delete=None,  # type: Optional[bool]
        forward_as_attachment_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        forward_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        mark_as_read=None,  # type: Optional[bool]
        mark_importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        move_to_folder=None,  # type: Optional[str]
        permanent_delete=None,  # type: Optional[bool]
        redirect_to=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        stop_processing_rules=None,  # type: Optional[bool]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property messageRules in users.

        Update the navigation property messageRules in users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param message_rule_id: key: id of messageRule.
        :type message_rule_id: str
        :param id: Read-only.
        :type id: str
        :param display_name: The display name of the rule.
        :type display_name: str
        :param has_error: Indicates whether the rule is in an error condition. Read-only.
        :type has_error: bool
        :param is_enabled: Indicates whether the rule is enabled to be applied to messages.
        :type is_enabled: bool
        :param is_read_only: Indicates if the rule is read-only and cannot be modified or deleted by
         the rules REST API.
        :type is_read_only: bool
        :param sequence: Indicates the order in which the rule is executed, among other rules.
        :type sequence: int
        :param body_contains: Represents the strings that should appear in the body of an incoming
         message in order for the condition or exception to apply.
        :type body_contains: list[str]
        :param body_or_subject_contains: Represents the strings that should appear in the body or
         subject of an incoming message in order for the condition or exception to apply.
        :type body_or_subject_contains: list[str]
        :param categories: Represents the categories that an incoming message should be labeled with in
         order for the condition or exception to apply.
        :type categories: list[str]
        :param from_addresses: Represents the specific sender email addresses of an incoming message in
         order for the condition or exception to apply.
        :type from_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param has_attachments: Indicates whether an incoming message must have attachments in order
         for the condition or exception to apply.
        :type has_attachments: bool
        :param header_contains: Represents the strings that appear in the headers of an incoming
         message in order for the condition or exception to apply.
        :type header_contains: list[str]
        :param importance:
        :type importance: str or ~mail.models.MicrosoftGraphImportance
        :param is_approval_request: Indicates whether an incoming message must be an approval request
         in order for the condition or exception to apply.
        :type is_approval_request: bool
        :param is_automatic_forward: Indicates whether an incoming message must be automatically
         forwarded in order for the condition or exception to apply.
        :type is_automatic_forward: bool
        :param is_automatic_reply: Indicates whether an incoming message must be an auto reply in order
         for the condition or exception to apply.
        :type is_automatic_reply: bool
        :param is_encrypted: Indicates whether an incoming message must be encrypted in order for the
         condition or exception to apply.
        :type is_encrypted: bool
        :param is_meeting_request: Indicates whether an incoming message must be a meeting request in
         order for the condition or exception to apply.
        :type is_meeting_request: bool
        :param is_meeting_response: Indicates whether an incoming message must be a meeting response in
         order for the condition or exception to apply.
        :type is_meeting_response: bool
        :param is_non_delivery_report: Indicates whether an incoming message must be a non-delivery
         report in order for the condition or exception to apply.
        :type is_non_delivery_report: bool
        :param is_permission_controlled: Indicates whether an incoming message must be permission
         controlled (RMS-protected) in order for the condition or exception to apply.
        :type is_permission_controlled: bool
        :param is_read_receipt: Indicates whether an incoming message must be a read receipt in order
         for the condition or exception to apply.
        :type is_read_receipt: bool
        :param is_signed: Indicates whether an incoming message must be S/MIME-signed in order for the
         condition or exception to apply.
        :type is_signed: bool
        :param is_voicemail: Indicates whether an incoming message must be a voice mail in order for
         the condition or exception to apply.
        :type is_voicemail: bool
        :param message_action_flag:
        :type message_action_flag: str or ~mail.models.MicrosoftGraphMessageActionFlag
        :param not_sent_to_me: Indicates whether the owner of the mailbox must not be a recipient of an
         incoming message in order for the condition or exception to apply.
        :type not_sent_to_me: bool
        :param recipient_contains: Represents the strings that appear in either the toRecipients or
         ccRecipients properties of an incoming message in order for the condition or exception to
         apply.
        :type recipient_contains: list[str]
        :param sender_contains: Represents the strings that appear in the from property of an incoming
         message in order for the condition or exception to apply.
        :type sender_contains: list[str]
        :param sensitivity:
        :type sensitivity: str or ~mail.models.MicrosoftGraphSensitivity
        :param sent_cc_me: Indicates whether the owner of the mailbox must be in the ccRecipients
         property of an incoming message in order for the condition or exception to apply.
        :type sent_cc_me: bool
        :param sent_only_to_me: Indicates whether the owner of the mailbox must be the only recipient
         in an incoming message in order for the condition or exception to apply.
        :type sent_only_to_me: bool
        :param sent_to_addresses: Represents the email addresses that an incoming message must have
         been sent to in order for the condition or exception to apply.
        :type sent_to_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param sent_to_me: Indicates whether the owner of the mailbox must be in the toRecipients
         property of an incoming message in order for the condition or exception to apply.
        :type sent_to_me: bool
        :param sent_to_or_cc_me: Indicates whether the owner of the mailbox must be in either a
         toRecipients or ccRecipients property of an incoming message in order for the condition or
         exception to apply.
        :type sent_to_or_cc_me: bool
        :param subject_contains: Represents the strings that appear in the subject of an incoming
         message in order for the condition or exception to apply.
        :type subject_contains: list[str]
        :param within_size_range: sizeRange.
        :type within_size_range: ~mail.models.MicrosoftGraphSizeRange
        :param microsoft_graph_message_rule_predicates_body_contains: Represents the strings that
         should appear in the body of an incoming message in order for the condition or exception to
         apply.
        :type microsoft_graph_message_rule_predicates_body_contains: list[str]
        :param
         microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains:
         Represents the strings that should appear in the body or subject of an incoming message in
         order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains: list[str]
        :param microsoft_graph_message_rule_predicates_categories: Represents the categories that an
         incoming message should be labeled with in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_categories: list[str]
        :param microsoft_graph_message_rule_predicates_from_addresses: Represents the specific sender
         email addresses of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_from_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param boolean_has_attachments: Indicates whether an incoming message must have attachments in
         order for the condition or exception to apply.
        :type boolean_has_attachments: bool
        :param microsoft_graph_message_rule_predicates_header_contains: Represents the strings that
         appear in the headers of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_header_contains: list[str]
        :param microsoft_graph_importance:
        :type microsoft_graph_importance: str or ~mail.models.MicrosoftGraphImportance
        :param is_approval_request: Indicates whether an incoming message must be an approval request
         in order for the condition or exception to apply.
        :type is_approval_request: bool
        :param is_automatic_forward: Indicates whether an incoming message must be automatically
         forwarded in order for the condition or exception to apply.
        :type is_automatic_forward: bool
        :param is_automatic_reply: Indicates whether an incoming message must be an auto reply in order
         for the condition or exception to apply.
        :type is_automatic_reply: bool
        :param is_encrypted: Indicates whether an incoming message must be encrypted in order for the
         condition or exception to apply.
        :type is_encrypted: bool
        :param is_meeting_request: Indicates whether an incoming message must be a meeting request in
         order for the condition or exception to apply.
        :type is_meeting_request: bool
        :param is_meeting_response: Indicates whether an incoming message must be a meeting response in
         order for the condition or exception to apply.
        :type is_meeting_response: bool
        :param is_non_delivery_report: Indicates whether an incoming message must be a non-delivery
         report in order for the condition or exception to apply.
        :type is_non_delivery_report: bool
        :param is_permission_controlled: Indicates whether an incoming message must be permission
         controlled (RMS-protected) in order for the condition or exception to apply.
        :type is_permission_controlled: bool
        :param is_read_receipt: Indicates whether an incoming message must be a read receipt in order
         for the condition or exception to apply.
        :type is_read_receipt: bool
        :param is_signed: Indicates whether an incoming message must be S/MIME-signed in order for the
         condition or exception to apply.
        :type is_signed: bool
        :param is_voicemail: Indicates whether an incoming message must be a voice mail in order for
         the condition or exception to apply.
        :type is_voicemail: bool
        :param microsoft_graph_message_action_flag_message_action_flag:
        :type microsoft_graph_message_action_flag_message_action_flag: str or ~mail.models.MicrosoftGraphMessageActionFlag
        :param boolean_not_sent_to_me: Indicates whether the owner of the mailbox must not be a
         recipient of an incoming message in order for the condition or exception to apply.
        :type boolean_not_sent_to_me: bool
        :param microsoft_graph_message_rule_predicates_recipient_contains: Represents the strings that
         appear in either the toRecipients or ccRecipients properties of an incoming message in order
         for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_recipient_contains: list[str]
        :param microsoft_graph_message_rule_predicates_sender_contains: Represents the strings that
         appear in the from property of an incoming message in order for the condition or exception to
         apply.
        :type microsoft_graph_message_rule_predicates_sender_contains: list[str]
        :param microsoft_graph_sensitivity:
        :type microsoft_graph_sensitivity: str or ~mail.models.MicrosoftGraphSensitivity
        :param boolean_sent_cc_me: Indicates whether the owner of the mailbox must be in the
         ccRecipients property of an incoming message in order for the condition or exception to apply.
        :type boolean_sent_cc_me: bool
        :param boolean_sent_only_to_me: Indicates whether the owner of the mailbox must be the only
         recipient in an incoming message in order for the condition or exception to apply.
        :type boolean_sent_only_to_me: bool
        :param microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses: Represents
         the email addresses that an incoming message must have been sent to in order for the condition
         or exception to apply.
        :type microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses: list[~mail.models.MicrosoftGraphRecipient]
        :param boolean_sent_to_me: Indicates whether the owner of the mailbox must be in the
         toRecipients property of an incoming message in order for the condition or exception to apply.
        :type boolean_sent_to_me: bool
        :param boolean_sent_to_or_cc_me: Indicates whether the owner of the mailbox must be in either a
         toRecipients or ccRecipients property of an incoming message in order for the condition or
         exception to apply.
        :type boolean_sent_to_or_cc_me: bool
        :param microsoft_graph_message_rule_predicates_subject_contains: Represents the strings that
         appear in the subject of an incoming message in order for the condition or exception to apply.
        :type microsoft_graph_message_rule_predicates_subject_contains: list[str]
        :param microsoft_graph_size_range_within_size_range: sizeRange.
        :type microsoft_graph_size_range_within_size_range: ~mail.models.MicrosoftGraphSizeRange
        :param assign_categories: A list of categories to be assigned to a message.
        :type assign_categories: list[str]
        :param copy_to_folder: The ID of a folder that a message is to be copied to.
        :type copy_to_folder: str
        :param delete: Indicates whether a message should be moved to the Deleted Items folder.
        :type delete: bool
        :param forward_as_attachment_to: The email addresses of the recipients to which a message
         should be forwarded as an attachment.
        :type forward_as_attachment_to: list[~mail.models.MicrosoftGraphRecipient]
        :param forward_to: The email addresses of the recipients to which a message should be
         forwarded.
        :type forward_to: list[~mail.models.MicrosoftGraphRecipient]
        :param mark_as_read: Indicates whether a message should be marked as read.
        :type mark_as_read: bool
        :param mark_importance:
        :type mark_importance: str or ~mail.models.MicrosoftGraphImportance
        :param move_to_folder: The ID of the folder that a message will be moved to.
        :type move_to_folder: str
        :param permanent_delete: Indicates whether a message should be permanently deleted and not
         saved to the Deleted Items folder.
        :type permanent_delete: bool
        :param redirect_to: The email addresses to which a message should be redirected.
        :type redirect_to: list[~mail.models.MicrosoftGraphRecipient]
        :param stop_processing_rules: Indicates whether subsequent rules should be evaluated.
        :type stop_processing_rules: bool
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))

        body = models.MicrosoftGraphMessageRule(id=id, display_name=display_name, has_error=has_error, is_enabled=is_enabled, is_read_only=is_read_only, sequence=sequence, body_contains_exceptions_body_contains=body_contains, body_or_subject_contains_exceptions_body_or_subject_contains=body_or_subject_contains, categories_exceptions_categories=categories, from_addresses_exceptions_from_addresses=from_addresses, has_attachments_exceptions_has_attachments=has_attachments, header_contains_exceptions_header_contains=header_contains, importance_exceptions_importance=importance, is_approval_request_exceptions_is_approval_request=is_approval_request, is_automatic_forward_exceptions_is_automatic_forward=is_automatic_forward, is_automatic_reply_exceptions_is_automatic_reply=is_automatic_reply, is_encrypted_exceptions_is_encrypted=is_encrypted, is_meeting_request_exceptions_is_meeting_request=is_meeting_request, is_meeting_response_exceptions_is_meeting_response=is_meeting_response, is_non_delivery_report_exceptions_is_non_delivery_report=is_non_delivery_report, is_permission_controlled_exceptions_is_permission_controlled=is_permission_controlled, is_read_receipt_exceptions_is_read_receipt=is_read_receipt, is_signed_exceptions_is_signed=is_signed, is_voicemail_exceptions_is_voicemail=is_voicemail, message_action_flag_exceptions_message_action_flag=message_action_flag, not_sent_to_me_exceptions_not_sent_to_me=not_sent_to_me, recipient_contains_exceptions_recipient_contains=recipient_contains, sender_contains_exceptions_sender_contains=sender_contains, sensitivity_exceptions_sensitivity=sensitivity, sent_cc_me_exceptions_sent_cc_me=sent_cc_me, sent_only_to_me_exceptions_sent_only_to_me=sent_only_to_me, sent_to_addresses_exceptions_sent_to_addresses=sent_to_addresses, sent_to_me_exceptions_sent_to_me=sent_to_me, sent_to_or_cc_me_exceptions_sent_to_or_cc_me=sent_to_or_cc_me, subject_contains_exceptions_subject_contains=subject_contains, within_size_range_exceptions_within_size_range=within_size_range, body_contains_conditions_body_contains=microsoft_graph_message_rule_predicates_body_contains, body_or_subject_contains_conditions_body_or_subject_contains=microsoft_graph_message_rule_predicates_body_or_subject_contains_body_or_subject_contains, categories_conditions_categories=microsoft_graph_message_rule_predicates_categories, from_addresses_conditions_from_addresses=microsoft_graph_message_rule_predicates_from_addresses, has_attachments_conditions_has_attachments=boolean_has_attachments, header_contains_conditions_header_contains=microsoft_graph_message_rule_predicates_header_contains, importance_conditions_importance=microsoft_graph_importance, is_approval_request_conditions_is_approval_request=is_approval_request, is_automatic_forward_conditions_is_automatic_forward=is_automatic_forward, is_automatic_reply_conditions_is_automatic_reply=is_automatic_reply, is_encrypted_conditions_is_encrypted=is_encrypted, is_meeting_request_conditions_is_meeting_request=is_meeting_request, is_meeting_response_conditions_is_meeting_response=is_meeting_response, is_non_delivery_report_conditions_is_non_delivery_report=is_non_delivery_report, is_permission_controlled_conditions_is_permission_controlled=is_permission_controlled, is_read_receipt_conditions_is_read_receipt=is_read_receipt, is_signed_conditions_is_signed=is_signed, is_voicemail_conditions_is_voicemail=is_voicemail, message_action_flag_conditions_message_action_flag=microsoft_graph_message_action_flag_message_action_flag, not_sent_to_me_conditions_not_sent_to_me=boolean_not_sent_to_me, recipient_contains_conditions_recipient_contains=microsoft_graph_message_rule_predicates_recipient_contains, sender_contains_conditions_sender_contains=microsoft_graph_message_rule_predicates_sender_contains, sensitivity_conditions_sensitivity=microsoft_graph_sensitivity, sent_cc_me_conditions_sent_cc_me=boolean_sent_cc_me, sent_only_to_me_conditions_sent_only_to_me=boolean_sent_only_to_me, sent_to_addresses_conditions_sent_to_addresses=microsoft_graph_message_rule_predicates_sent_to_addresses_sent_to_addresses, sent_to_me_conditions_sent_to_me=boolean_sent_to_me, sent_to_or_cc_me_conditions_sent_to_or_cc_me=boolean_sent_to_or_cc_me, subject_contains_conditions_subject_contains=microsoft_graph_message_rule_predicates_subject_contains, within_size_range_conditions_within_size_range=microsoft_graph_size_range_within_size_range, assign_categories=assign_categories, copy_to_folder=copy_to_folder, delete=delete, forward_as_attachment_to=forward_as_attachment_to, forward_to=forward_to, mark_as_read=mark_as_read, mark_importance=mark_importance, move_to_folder=move_to_folder, permanent_delete=permanent_delete, redirect_to=redirect_to, stop_processing_rules=stop_processing_rules)
        content_type = kwargs.pop("content_type", "application/json")
        accept = "application/json"

        # Construct URL
        url = self.update_message_rule.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'messageRule-id': self._serialize.url("message_rule_id", message_rule_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(body, 'MicrosoftGraphMessageRule')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_message_rule.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}'}  # type: ignore

    def delete_message_rule(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        message_rule_id,  # type: str
        if_match=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Delete navigation property messageRules for users.

        Delete navigation property messageRules for users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param message_rule_id: key: id of messageRule.
        :type message_rule_id: str
        :param if_match: ETag.
        :type if_match: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        # Construct URL
        url = self.delete_message_rule.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
            'messageRule-id': self._serialize.url("message_rule_id", message_rule_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        if if_match is not None:
            header_parameters['If-Match'] = self._serialize.header("if_match", if_match, 'str')
        header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

        request = self._client.delete(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    delete_message_rule.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}'}  # type: ignore

    def list_message(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum24"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum25"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum26"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfMessage"]
        """Get messages from users.

        Get messages from users.

        :param user_id: key: id of user.
        :type user_id: str
        :param mail_folder_id: key: id of mailFolder.
        :type mail_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~mail.models.Enum24]
        :param select: Select properties to be returned.
        :type select: list[str or ~mail.models.Enum25]
        :param expand: Expand related entities.
        :type expand: list[str or ~mail.models.Enum26]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfMessage or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~mail.models.CollectionOfMessage]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfMessage"]
        error_map = {
            401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError
        }
        error_map.update(kwargs.pop('error_map', {}))
        accept = "application/json"

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = self._serialize.header("accept", accept, 'str')

            if not next_link:
                # Construct URL
                url = self.list_message.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'mailFolder-id': self._serialize.url("mail_folder_id", mail_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfMessage', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_message.metadata = {'url': '/users/{user-id}/mailFolders/{mailFolder-id}/messages'}  # type: ignore

    def create_message(
        self,
        user_id,  # type: str
        mail_folder_id,  # type: str
        id=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        change_key=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        bcc_recipients=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        body_preview=None,  # type: Optional[str]
        cc_recipients=None,  # type: Optional[List["models.MicrosoftGraphRecipient"]]
        conversation_id=None,  # type: Optional[str]
        conversation_index=None,  # type: Optional[bytes]
        has_attachments=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
[...]
