# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import datetime
from typing import TYPE_CHECKING
import warnings

from azure.core.exceptions import HttpResponseError, ResourceExistsError, ResourceNotFoundError, map_error
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpRequest, HttpResponse
from azure.mgmt.core.exceptions import ARMErrorFormat

from .. import models

if TYPE_CHECKING:
    # pylint: disable=unused-import,ungrouped-imports
    from typing import Any, Callable, Dict, Generic, Iterable, List, Optional, TypeVar, Union

    T = TypeVar('T')
    ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

class UserOutlookTaskGroupTaskFolderOperations(object):
    """UserOutlookTaskGroupTaskFolderOperations operations.

    You should not instantiate this class directly. Instead, you should create a Client instance that
    instantiates it for you and attaches it as an attribute.

    :ivar models: Alias to model classes used in this operation group.
    :type models: ~users_outlook_user.models
    :param client: Client for service requests.
    :param config: Configuration of service client.
    :param serializer: An object model serializer.
    :param deserializer: An object model deserializer.
    """

    models = models

    def __init__(self, client, config, serializer, deserializer):
        self._client = client
        self._serialize = serializer
        self._deserialize = deserializer
        self._config = config

    def list_multi_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum49"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum50"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfMultiValueLegacyExtendedProperty1"]
        """Get multiValueExtendedProperties from users.

        Get multiValueExtendedProperties from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~users_outlook_user.models.Enum49]
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum50]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfMultiValueLegacyExtendedProperty1 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~users_outlook_user.models.CollectionOfMultiValueLegacyExtendedProperty1]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfMultiValueLegacyExtendedProperty1"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_multi_value_extended_property.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
                    'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfMultiValueLegacyExtendedProperty1', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_multi_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties'}  # type: ignore

    def create_multi_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        id=None,  # type: Optional[str]
        value=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMultiValueLegacyExtendedProperty"
        """Create new navigation property to multiValueExtendedProperties for users.

        Create new navigation property to multiValueExtendedProperties for users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param id: Read-only.
        :type id: str
        :param value: A collection of property values.
        :type value: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMultiValueLegacyExtendedProperty, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphMultiValueLegacyExtendedProperty
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphMultiValueLegacyExtendedProperty(id=id, value=value)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_multi_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphMultiValueLegacyExtendedProperty')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMultiValueLegacyExtendedProperty', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_multi_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties'}  # type: ignore

    def get_multi_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        multi_value_legacy_extended_property_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum51"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphMultiValueLegacyExtendedProperty"
        """Get multiValueExtendedProperties from users.

        Get multiValueExtendedProperties from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param multi_value_legacy_extended_property_id: key: multiValueLegacyExtendedProperty-id of
         multiValueLegacyExtendedProperty.
        :type multi_value_legacy_extended_property_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum51]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphMultiValueLegacyExtendedProperty, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphMultiValueLegacyExtendedProperty
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_multi_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'multiValueLegacyExtendedProperty-id': self._serialize.url("multi_value_legacy_extended_property_id", multi_value_legacy_extended_property_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphMultiValueLegacyExtendedProperty', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_multi_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}'}  # type: ignore

    def update_multi_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        multi_value_legacy_extended_property_id,  # type: str
        id=None,  # type: Optional[str]
        value=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property multiValueExtendedProperties in users.

        Update the navigation property multiValueExtendedProperties in users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param multi_value_legacy_extended_property_id: key: multiValueLegacyExtendedProperty-id of
         multiValueLegacyExtendedProperty.
        :type multi_value_legacy_extended_property_id: str
        :param id: Read-only.
        :type id: str
        :param value: A collection of property values.
        :type value: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphMultiValueLegacyExtendedProperty(id=id, value=value)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_multi_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'multiValueLegacyExtendedProperty-id': self._serialize.url("multi_value_legacy_extended_property_id", multi_value_legacy_extended_property_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphMultiValueLegacyExtendedProperty')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_multi_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}'}  # type: ignore

    def list_single_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum52"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum53"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfSingleValueLegacyExtendedProperty1"]
        """Get singleValueExtendedProperties from users.

        Get singleValueExtendedProperties from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~users_outlook_user.models.Enum52]
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum53]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfSingleValueLegacyExtendedProperty1 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~users_outlook_user.models.CollectionOfSingleValueLegacyExtendedProperty1]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfSingleValueLegacyExtendedProperty1"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_single_value_extended_property.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
                    'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfSingleValueLegacyExtendedProperty1', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_single_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties'}  # type: ignore

    def create_single_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        id=None,  # type: Optional[str]
        value=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphSingleValueLegacyExtendedProperty"
        """Create new navigation property to singleValueExtendedProperties for users.

        Create new navigation property to singleValueExtendedProperties for users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param id: Read-only.
        :type id: str
        :param value: A property value.
        :type value: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphSingleValueLegacyExtendedProperty, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphSingleValueLegacyExtendedProperty
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphSingleValueLegacyExtendedProperty(id=id, value=value)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_single_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphSingleValueLegacyExtendedProperty')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphSingleValueLegacyExtendedProperty', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_single_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties'}  # type: ignore

    def get_single_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        single_value_legacy_extended_property_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum54"]]]
        expand=None,  # type: Optional[List[str]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphSingleValueLegacyExtendedProperty"
        """Get singleValueExtendedProperties from users.

        Get singleValueExtendedProperties from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param single_value_legacy_extended_property_id: key: singleValueLegacyExtendedProperty-id of
         singleValueLegacyExtendedProperty.
        :type single_value_legacy_extended_property_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum54]
        :param expand: Expand related entities.
        :type expand: list[str]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphSingleValueLegacyExtendedProperty, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphSingleValueLegacyExtendedProperty
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_single_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'singleValueLegacyExtendedProperty-id': self._serialize.url("single_value_legacy_extended_property_id", single_value_legacy_extended_property_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphSingleValueLegacyExtendedProperty', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_single_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}'}  # type: ignore

    def update_single_value_extended_property(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        single_value_legacy_extended_property_id,  # type: str
        id=None,  # type: Optional[str]
        value=None,  # type: Optional[str]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property singleValueExtendedProperties in users.

        Update the navigation property singleValueExtendedProperties in users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param single_value_legacy_extended_property_id: key: singleValueLegacyExtendedProperty-id of
         singleValueLegacyExtendedProperty.
        :type single_value_legacy_extended_property_id: str
        :param id: Read-only.
        :type id: str
        :param value: A property value.
        :type value: str
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphSingleValueLegacyExtendedProperty(id=id, value=value)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_single_value_extended_property.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'singleValueLegacyExtendedProperty-id': self._serialize.url("single_value_legacy_extended_property_id", single_value_legacy_extended_property_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphSingleValueLegacyExtendedProperty')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_single_value_extended_property.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}'}  # type: ignore

    def list_task(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        orderby=None,  # type: Optional[List[Union[str, "models.Enum55"]]]
        select=None,  # type: Optional[List[Union[str, "models.Enum56"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum57"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> Iterable["models.CollectionOfOutlookTask0"]
        """Get tasks from users.

        Get tasks from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param orderby: Order items by property values.
        :type orderby: list[str or ~users_outlook_user.models.Enum55]
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum56]
        :param expand: Expand related entities.
        :type expand: list[str or ~users_outlook_user.models.Enum57]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: An iterator like instance of either CollectionOfOutlookTask0 or the result of cls(response)
        :rtype: ~azure.core.paging.ItemPaged[~users_outlook_user.models.CollectionOfOutlookTask0]
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.CollectionOfOutlookTask0"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        def prepare_request(next_link=None):
            # Construct headers
            header_parameters = {}  # type: Dict[str, Any]
            header_parameters['Accept'] = 'application/json'

            if not next_link:
                # Construct URL
                url = self.list_task.metadata['url']  # type: ignore
                path_format_arguments = {
                    'user-id': self._serialize.url("user_id", user_id, 'str'),
                    'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
                    'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
                }
                url = self._client.format_url(url, **path_format_arguments)
                # Construct parameters
                query_parameters = {}  # type: Dict[str, Any]
                if self._config.top is not None:
                    query_parameters['$top'] = self._serialize.query("self._config.top", self._config.top, 'int', minimum=0)
                if self._config.skip is not None:
                    query_parameters['$skip'] = self._serialize.query("self._config.skip", self._config.skip, 'int', minimum=0)
                if self._config.search is not None:
                    query_parameters['$search'] = self._serialize.query("self._config.search", self._config.search, 'str')
                if self._config.filter is not None:
                    query_parameters['$filter'] = self._serialize.query("self._config.filter", self._config.filter, 'str')
                if self._config.count is not None:
                    query_parameters['$count'] = self._serialize.query("self._config.count", self._config.count, 'bool')
                if orderby is not None:
                    query_parameters['$orderby'] = self._serialize.query("orderby", orderby, '[str]', div=',')
                if select is not None:
                    query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
                if expand is not None:
                    query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

                request = self._client.get(url, query_parameters, header_parameters)
            else:
                url = next_link
                query_parameters = {}  # type: Dict[str, Any]
                request = self._client.get(url, query_parameters, header_parameters)
            return request

        def extract_data(pipeline_response):
            deserialized = self._deserialize('CollectionOfOutlookTask0', pipeline_response)
            list_of_elem = deserialized.value
            if cls:
                list_of_elem = cls(list_of_elem)
            return deserialized.odata_next_link or None, iter(list_of_elem)

        def get_next(next_link=None):
            request = prepare_request(next_link)

            pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
            response = pipeline_response.http_response

            if response.status_code not in [200]:
                error = self._deserialize(models.OdataError, response)
                map_error(status_code=response.status_code, response=response, error_map=error_map)
                raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

            return pipeline_response

        return ItemPaged(
            get_next, extract_data
        )
    list_task.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks'}  # type: ignore

    def create_task(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        change_key=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        assigned_to=None,  # type: Optional[str]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        completed_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        due_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_reminder_on=None,  # type: Optional[bool]
        owner=None,  # type: Optional[str]
        parent_folder_id=None,  # type: Optional[str]
        reminder_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        start_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphTaskStatus"]]
        subject=None,  # type: Optional[str]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphOutlookTask"
        """Create new navigation property to tasks for users.

        Create new navigation property to tasks for users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param assigned_to:
        :type assigned_to: str
        :param body: itemBody.
        :type body: ~users_outlook_user.models.MicrosoftGraphItemBody
        :param completed_date_time: dateTimeTimeZone.
        :type completed_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param due_date_time: dateTimeTimeZone.
        :type due_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param has_attachments:
        :type has_attachments: bool
        :param importance: importance.
        :type importance: str or ~users_outlook_user.models.MicrosoftGraphImportance
        :param is_reminder_on:
        :type is_reminder_on: bool
        :param owner:
        :type owner: str
        :param parent_folder_id:
        :type parent_folder_id: str
        :param reminder_date_time: dateTimeTimeZone.
        :type reminder_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param sensitivity: sensitivity.
        :type sensitivity: str or ~users_outlook_user.models.MicrosoftGraphSensitivity
        :param start_date_time: dateTimeTimeZone.
        :type start_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param status: taskStatus.
        :type status: str or ~users_outlook_user.models.MicrosoftGraphTaskStatus
        :param subject:
        :type subject: str
        :param single_value_extended_properties:
        :type single_value_extended_properties: list[~users_outlook_user.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param multi_value_extended_properties:
        :type multi_value_extended_properties: list[~users_outlook_user.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param attachments:
        :type attachments: list[~users_outlook_user.models.MicrosoftGraphAttachment]
        :param pattern: recurrencePattern.
        :type pattern: ~users_outlook_user.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~users_outlook_user.models.MicrosoftGraphRecurrenceRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphOutlookTask, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphOutlookTask
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphOutlookTask"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphOutlookTask(id=id, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, change_key=change_key, categories=categories, assigned_to=assigned_to, body=body, completed_date_time=completed_date_time, due_date_time=due_date_time, has_attachments=has_attachments, importance=importance, is_reminder_on=is_reminder_on, owner=owner, parent_folder_id=parent_folder_id, reminder_date_time=reminder_date_time, sensitivity=sensitivity, start_date_time=start_date_time, status=status, subject=subject, single_value_extended_properties=single_value_extended_properties, multi_value_extended_properties=multi_value_extended_properties, attachments=attachments, pattern=pattern, range=range)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.create_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')
        header_parameters['Accept'] = 'application/json'

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphOutlookTask')
        body_content_kwargs['content'] = body_content
        request = self._client.post(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphOutlookTask', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    create_task.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks'}  # type: ignore

    def get_task(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        outlook_task_id,  # type: str
        select=None,  # type: Optional[List[Union[str, "models.Enum58"]]]
        expand=None,  # type: Optional[List[Union[str, "models.Enum59"]]]
        **kwargs  # type: Any
    ):
        # type: (...) -> "models.MicrosoftGraphOutlookTask"
        """Get tasks from users.

        Get tasks from users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param outlook_task_id: key: outlookTask-id of outlookTask.
        :type outlook_task_id: str
        :param select: Select properties to be returned.
        :type select: list[str or ~users_outlook_user.models.Enum58]
        :param expand: Expand related entities.
        :type expand: list[str or ~users_outlook_user.models.Enum59]
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: MicrosoftGraphOutlookTask, or the result of cls(response)
        :rtype: ~users_outlook_user.models.MicrosoftGraphOutlookTask
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType["models.MicrosoftGraphOutlookTask"]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        # Construct URL
        url = self.get_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'outlookTask-id': self._serialize.url("outlook_task_id", outlook_task_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]
        if select is not None:
            query_parameters['$select'] = self._serialize.query("select", select, '[str]', div=',')
        if expand is not None:
            query_parameters['$expand'] = self._serialize.query("expand", expand, '[str]', div=',')

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Accept'] = 'application/json'

        request = self._client.get(url, query_parameters, header_parameters)
        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        deserialized = self._deserialize('MicrosoftGraphOutlookTask', pipeline_response)

        if cls:
            return cls(pipeline_response, deserialized, {})

        return deserialized
    get_task.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}'}  # type: ignore

    def update_task(
        self,
        user_id,  # type: str
        outlook_task_group_id,  # type: str
        outlook_task_folder_id,  # type: str
        outlook_task_id,  # type: str
        id=None,  # type: Optional[str]
        created_date_time=None,  # type: Optional[datetime.datetime]
        last_modified_date_time=None,  # type: Optional[datetime.datetime]
        change_key=None,  # type: Optional[str]
        categories=None,  # type: Optional[List[str]]
        assigned_to=None,  # type: Optional[str]
        body=None,  # type: Optional["models.MicrosoftGraphItemBody"]
        completed_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        due_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        has_attachments=None,  # type: Optional[bool]
        importance=None,  # type: Optional[Union[str, "models.MicrosoftGraphImportance"]]
        is_reminder_on=None,  # type: Optional[bool]
        owner=None,  # type: Optional[str]
        parent_folder_id=None,  # type: Optional[str]
        reminder_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        sensitivity=None,  # type: Optional[Union[str, "models.MicrosoftGraphSensitivity"]]
        start_date_time=None,  # type: Optional["models.MicrosoftGraphDateTimeZone"]
        status=None,  # type: Optional[Union[str, "models.MicrosoftGraphTaskStatus"]]
        subject=None,  # type: Optional[str]
        single_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphSingleValueLegacyExtendedProperty"]]
        multi_value_extended_properties=None,  # type: Optional[List["models.MicrosoftGraphMultiValueLegacyExtendedProperty"]]
        attachments=None,  # type: Optional[List["models.MicrosoftGraphAttachment"]]
        pattern=None,  # type: Optional["models.MicrosoftGraphRecurrencePattern"]
        range=None,  # type: Optional["models.MicrosoftGraphRecurrenceRange"]
        **kwargs  # type: Any
    ):
        # type: (...) -> None
        """Update the navigation property tasks in users.

        Update the navigation property tasks in users.

        :param user_id: key: user-id of user.
        :type user_id: str
        :param outlook_task_group_id: key: outlookTaskGroup-id of outlookTaskGroup.
        :type outlook_task_group_id: str
        :param outlook_task_folder_id: key: outlookTaskFolder-id of outlookTaskFolder.
        :type outlook_task_folder_id: str
        :param outlook_task_id: key: outlookTask-id of outlookTask.
        :type outlook_task_id: str
        :param id: Read-only.
        :type id: str
        :param created_date_time: The Timestamp type represents date and time information using ISO
         8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like
         this: '2014-01-01T00:00:00Z'.
        :type created_date_time: ~datetime.datetime
        :param last_modified_date_time: The Timestamp type represents date and time information using
         ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look
         like this: '2014-01-01T00:00:00Z'.
        :type last_modified_date_time: ~datetime.datetime
        :param change_key: Identifies the version of the item. Every time the item is changed,
         changeKey changes as well. This allows Exchange to apply changes to the correct version of the
         object. Read-only.
        :type change_key: str
        :param categories: The categories associated with the item.
        :type categories: list[str]
        :param assigned_to:
        :type assigned_to: str
        :param body: itemBody.
        :type body: ~users_outlook_user.models.MicrosoftGraphItemBody
        :param completed_date_time: dateTimeTimeZone.
        :type completed_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param due_date_time: dateTimeTimeZone.
        :type due_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param has_attachments:
        :type has_attachments: bool
        :param importance: importance.
        :type importance: str or ~users_outlook_user.models.MicrosoftGraphImportance
        :param is_reminder_on:
        :type is_reminder_on: bool
        :param owner:
        :type owner: str
        :param parent_folder_id:
        :type parent_folder_id: str
        :param reminder_date_time: dateTimeTimeZone.
        :type reminder_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param sensitivity: sensitivity.
        :type sensitivity: str or ~users_outlook_user.models.MicrosoftGraphSensitivity
        :param start_date_time: dateTimeTimeZone.
        :type start_date_time: ~users_outlook_user.models.MicrosoftGraphDateTimeZone
        :param status: taskStatus.
        :type status: str or ~users_outlook_user.models.MicrosoftGraphTaskStatus
        :param subject:
        :type subject: str
        :param single_value_extended_properties:
        :type single_value_extended_properties: list[~users_outlook_user.models.MicrosoftGraphSingleValueLegacyExtendedProperty]
        :param multi_value_extended_properties:
        :type multi_value_extended_properties: list[~users_outlook_user.models.MicrosoftGraphMultiValueLegacyExtendedProperty]
        :param attachments:
        :type attachments: list[~users_outlook_user.models.MicrosoftGraphAttachment]
        :param pattern: recurrencePattern.
        :type pattern: ~users_outlook_user.models.MicrosoftGraphRecurrencePattern
        :param range: recurrenceRange.
        :type range: ~users_outlook_user.models.MicrosoftGraphRecurrenceRange
        :keyword callable cls: A custom type or function that will be passed the direct response
        :return: None, or the result of cls(response)
        :rtype: None
        :raises: ~azure.core.exceptions.HttpResponseError
        """
        cls = kwargs.pop('cls', None)  # type: ClsType[None]
        error_map = {404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop('error_map', {}))

        _body = models.MicrosoftGraphOutlookTask(id=id, created_date_time=created_date_time, last_modified_date_time=last_modified_date_time, change_key=change_key, categories=categories, assigned_to=assigned_to, body=body, completed_date_time=completed_date_time, due_date_time=due_date_time, has_attachments=has_attachments, importance=importance, is_reminder_on=is_reminder_on, owner=owner, parent_folder_id=parent_folder_id, reminder_date_time=reminder_date_time, sensitivity=sensitivity, start_date_time=start_date_time, status=status, subject=subject, single_value_extended_properties=single_value_extended_properties, multi_value_extended_properties=multi_value_extended_properties, attachments=attachments, pattern=pattern, range=range)
        content_type = kwargs.pop("content_type", "application/json")

        # Construct URL
        url = self.update_task.metadata['url']  # type: ignore
        path_format_arguments = {
            'user-id': self._serialize.url("user_id", user_id, 'str'),
            'outlookTaskGroup-id': self._serialize.url("outlook_task_group_id", outlook_task_group_id, 'str'),
            'outlookTaskFolder-id': self._serialize.url("outlook_task_folder_id", outlook_task_folder_id, 'str'),
            'outlookTask-id': self._serialize.url("outlook_task_id", outlook_task_id, 'str'),
        }
        url = self._client.format_url(url, **path_format_arguments)

        # Construct parameters
        query_parameters = {}  # type: Dict[str, Any]

        # Construct headers
        header_parameters = {}  # type: Dict[str, Any]
        header_parameters['Content-Type'] = self._serialize.header("content_type", content_type, 'str')

        body_content_kwargs = {}  # type: Dict[str, Any]
        body_content = self._serialize.body(_body, 'MicrosoftGraphOutlookTask')
        body_content_kwargs['content'] = body_content
        request = self._client.patch(url, query_parameters, header_parameters, **body_content_kwargs)

        pipeline_response = self._client._pipeline.run(request, stream=False, **kwargs)
        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize(models.OdataError, response)
            raise HttpResponseError(response=response, model=error, error_format=ARMErrorFormat)

        if cls:
            return cls(pipeline_response, None, {})

    update_task.metadata = {'url': '/users/{user-id}/outlook/taskGroups/{outlookTaskGroup-id}/taskFolders/{outlookTaskFolder-id}/tasks/{outlookTask-id}'}  # type: ignore
